@import "../../globals.core";

// Popover
// --------------------------------------------------

$popover-width:                 200px !default;
$popover-height:                250px !default;


ion-popover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: flex;

  align-items: center;
  justify-content: center;
}

.popover-wrapper {
  position: absolute;

  z-index: $z-index-overlay-wrapper;
  display: flex;

  flex-direction: column;

  width: $popover-width;
  height: $popover-height;

  min-width: $popover-width;
  max-height: $popover-height;

  overflow: hidden;

  opacity: 0;

  ion-page {
    display: flex;
    overflow: auto;
  }
}


// Popover Backdrop
// -----------------------------------------

.hide-backdrop {
  display: none;
}
