@import "../../themes/ionic.globals";

// Windows Popover
// --------------------------------------------------

$popover-wp-width:                     200px !default;
$popover-wp-min-width:                 0 !default;
$popover-wp-min-height:                0 !default;
$popover-wp-max-height:                90% !default;

$popover-wp-border:                    2px solid #ccc !default;
$popover-wp-border-radius:             0 !default;
$popover-wp-text-color:                $text-wp-color !default;
$popover-wp-background:                $background-wp-color !default;


.popover-wp .popover-content {
  width: $popover-wp-width;
  min-width: $popover-wp-min-width;
  min-height: $popover-wp-min-height;
  max-height: $popover-wp-max-height;

  border: $popover-wp-border;
  border-radius: $popover-wp-border-radius;
  color: $popover-wp-text-color;
  background: $popover-wp-background;

  transform-origin: top left;
}

.popover-wp .popover-viewport {
  opacity: 0;
  transition-delay: 100ms;
}
