@import "../../themes/ionic.globals";

// Windows Popover
// --------------------------------------------------

/// @prop - Width of the popover content
$popover-wp-width:                     200px !default;

/// @prop - Min width of the popover content
$popover-wp-min-width:                 0 !default;

/// @prop - Minimum height of the popover content
$popover-wp-min-height:                0 !default;

/// @prop - Maximum height of the popover content
$popover-wp-max-height:                90% !default;

/// @prop - Border of the popover content
$popover-wp-border:                    2px solid #ccc !default;

/// @prop - Border radius of the popover content
$popover-wp-border-radius:             0 !default;

/// @prop - Text color of the popover content
$popover-wp-text-color:                $text-wp-color !default;

/// @prop - Background of the popover content
$popover-wp-background:                $background-wp-color !default;


.popover-wp .popover-content {
  @include border-radius($popover-wp-border-radius);

  width: $popover-wp-width;
  min-width: $popover-wp-min-width;
  min-height: $popover-wp-min-height;
  max-height: $popover-wp-max-height;

  border: $popover-wp-border;
  color: $popover-wp-text-color;
  background: $popover-wp-background;

  transform-origin: top left;
}

.popover-wp .popover-viewport {
  opacity: 0;
  transition-delay: 100ms;
}
