@import "./chip-button";
@import "./chip-button.md.vars";

// Material Design Chip Button
// --------------------------------------------------

.chip-button-md {
  background-color: $chip-button-md-background-color;
}

.chip-button-md .icon {
  fill: $chip-button-md-icon-fill-color;
}


// Material Design Clear Chip Button
// --------------------------------------------------

.chip-button-clear-md {
  color: $chip-button-md-clear-text-color;
  background-color: $chip-button-md-clear-background-color;
}

.chip-button-clear-md .icon {
  fill: $chip-button-md-clear-icon-fill-color;
}


// Generate Material Design Chip Button Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {

  .chip-button-md-#{$color-name} {
    color: $color-contrast;
    background-color: $color-base;
  }

  .chip-button-md-#{$color-name} .icon {
    fill: $color-contrast;
  }

  .chip-button-clear-md-#{$color-name} {
    color: $color-base;
  }

  .chip-button-clear-md-#{$color-name} .icon {
    fill: $color-base;
  }

}
