@import "./chip-button.vars";

// Chip Button
// --------------------------------------------------

.chip-button {
  @include border-radius($chip-button-border-radius);
  @include margin($chip-button-margin-top, $chip-button-margin-end, $chip-button-margin-bottom, $chip-button-margin-start);

  width: $chip-button-size;
  height: $chip-button-size;

  &:active,
  &:focus {
    outline: none;
  }
}
