@import "../../themes/ionic.globals.wp";
@import "./card-content";


// Windows Card Content
// --------------------------------------------------

/// @prop - Padding top of the card
$card-wp-padding-top:                 13px !default;

// deprecated
$card-wp-padding-right:               16px !default;
/// @prop - Padding end of the card
$card-wp-padding-end:                 $card-wp-padding-right !default;

/// @prop - Padding bottom of the card
$card-wp-padding-bottom:              13px !default;

// deprecated
$card-wp-padding-left:                16px !default;
/// @prop - Padding start of the card
$card-wp-padding-start:               $card-wp-padding-left !default;

/// @prop - Font size of the card
$card-wp-font-size:                   1.4rem !default;

/// @prop - Line height of the card
$card-wp-line-height:                 1.5 !default;


.card-content-wp {
  @include padding($card-wp-padding-top, $card-wp-padding-end, $card-wp-padding-bottom, $card-wp-padding-start);

  font-size: $card-wp-font-size;
  line-height: $card-wp-line-height;
}

.card-header-wp + .card-content-wp,
.card-wp .item + .card-content-wp {
  @include padding(0, null, null, null);
}


// Generate Windows Card Content Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-wp) {

  .card-wp-#{$color-name} {

    .card-content-wp {
      color: $color-contrast;
    }

    @each $color-name, $color-base, $color-contrast in get-colors($colors-wp) {
      .card-content-wp-#{$color-name} {
        color: $color-base;
      }
    }
  }

  .card-content-wp-#{$color-name} {
    color: $color-base;
  }

}
