@import "./card-content";
@import "./card-content.md.vars";

// Material Design Card Content
// --------------------------------------------------

.card-content-md {
  @include padding($card-md-padding-top, $card-md-padding-end, $card-md-padding-bottom, $card-md-padding-start);

  font-size: $card-md-font-size;
  line-height: $card-md-line-height;
}


// Generate Material Design Card Content Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {

  .card-md-#{$color-name} {

    .card-content-md {
      color: $color-contrast;
    }

    @each $color-name, $color-base, $color-contrast in get-colors($colors-md) {
      .card-content-md-#{$color-name} {
        color: $color-base;
      }
    }
  }

  .card-content-md-#{$color-name} {
    color: $color-base;
  }

}
