@import "./card-content";
@import "./card-content.ios.vars";

// iOS Card Header
// --------------------------------------------------

.card-content-ios {
  @include padding($card-ios-padding-top, $card-ios-padding-end, $card-ios-padding-bottom, $card-ios-padding-start);

  font-size: $card-ios-font-size;
  line-height: 1.4;
}


// Generate iOS Card Content Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {

  .card-ios-#{$color-name} {
    .card-content-ios {
      color: $color-contrast;
    }

    @each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
      .card-content-ios-#{$color-name} {
        color: $color-base;
      }
    }
  }

  .card-content-ios-#{$color-name} {
    color: $color-base;
  }

}
