@import "../../themes/ionic.globals.ios";
@import "./card-content";


// iOS Card Header
// --------------------------------------------------

/// @prop - Padding top of the card
$card-ios-padding-top:                 13px !default;

// deprecated
$card-ios-padding-right:               16px !default;
/// @prop - Padding end of the card
$card-ios-padding-end:                 $card-ios-padding-right !default;

/// @prop - Padding bottom of the card
$card-ios-padding-bottom:              14px !default;

// deprecated
$card-ios-padding-left:                16px !default;
/// @prop - Padding start of the card
$card-ios-padding-start:               $card-ios-padding-left !default;

/// @prop - Font size of the card
$card-ios-font-size:                   1.4rem !default;


.card-content-ios {
  @include padding($card-ios-padding-top, $card-ios-padding-end, $card-ios-padding-bottom, $card-ios-padding-start);

  font-size: $card-ios-font-size;
  line-height: 1.4;
}

.card-header-ios + .card-content-ios,
.card-ios .item + .card-content-ios {
  @include padding(0, null, null, null);
}


// Generate iOS Card Content Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {

  .card-ios-#{$color-name} {
    .card-content-ios {
      color: $color-contrast;
    }

    @each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
      .card-content-ios-#{$color-name} {
        color: $color-base;
      }
    }
  }

  .card-content-ios-#{$color-name} {
    color: $color-base;
  }

}
