@import "../../themes/ionic.globals.ios";

// iOS Badge
// --------------------------------------------------

/// @prop - Border radius of the badge
$badge-ios-border-radius:      10px !default;

/// @prop - Background color of the badge
$badge-ios-background-color:   color($colors-ios, primary) !default;

/// @prop - Text color of the badge
$badge-ios-text-color:         color-contrast($colors-ios, $badge-ios-background-color) !default;
