@use "../../themes/functions.color" as color;
@use "../../themes/mixins" as mixins;

// Card
// --------------------------------------------------

:host {
  /**
   * @prop --background: Background of the card
   * @prop --color: Color of the card
   * @prop --border-radius: Border radius of the card
   */
  --ion-safe-area-left: 0px;
  --ion-safe-area-right: 0px;

  @include mixins.border-radius(var(--border-radius));
  @include mixins.font-smoothing();

  display: block;
  position: relative;

  background: var(--background);
  color: var(--color);

  contain: content;

  overflow: hidden;
}
