@import "./card";
@import "./card.md.vars";

// Material Design Card
// --------------------------------------------------

:host {
  @include margin($card-md-margin-top, $card-md-margin-end, $card-md-margin-bottom, $card-md-margin-start);
  @include border-radius($card-md-border-radius);

  width: calc(100% - #{($card-md-margin-end + $card-md-margin-start)});

  font-family: $card-md-font-family;
  font-size: $card-md-font-size;
  box-shadow: $card-md-box-shadow;

  --ion-color-base: var(--ion-item-background, transparent);
  --ion-color-contrast: #{$card-md-text-color};
}

::slotted(*) ion-list {
  @include margin(null, null, 0, null);
}

::slotted(*) .item {
  --border-width: 0;
}

::slotted(*) .item:last-child {
  --border-width: 0;
  --inner-border-width: 0;
}

.card .note-md {
  font-size: 13px;
}

:host + ion-card {
  @include margin(0, null, null, null);
}
