@import "../../themes/ionic.globals";

// Card
// --------------------------------------------------

ion-card {
  @include font-smoothing();

  position: relative;
  display: block;
  overflow: hidden;

  color: #{current-color(contrast)};
  background: #{current-color(base)};

  --ion-card-text: currentColor;
}

ion-card.ion-color ion-card-title,
ion-card.ion-color ion-card-subtitle {
  --ion-color-base: currentColor;
}

ion-card img {
  display: block;

  width: 100%;
}
