@import "../../themes/ionic.globals";

// Card
// --------------------------------------------------

:host {
  @include font-smoothing();

  position: relative;
  display: block;
  overflow: hidden;

  color: #{current-color(contrast)};
  background: #{current-color(base)};

  --ion-card-text: currentColor;
}

:host(.ion-color)::slotted(*) ion-card-title,
:host(.ion-color)::slotted(*) ion-card-subtitle,
:host(.ion-color)::slotted(ion-card-title),
:host(.ion-color)::slotted(ion-card-subtitle) {
  color: currentColor;
}

::slotted(img) {
  display: block;

  width: 100%;
}
