@import "../../themes/globals.md";
@import "../item/item.md.vars";

// Material Design Radio
// --------------------------------------------------

/// @prop - Color of the checked radio
$radio-md-color-on:                  current-color(base) !default;

/// @prop - Background color of focus indicator for radio when focused
$radio-md-background-color-focused:  ion-color(primary, tint) !default;

/// @prop - Color of the unchecked radio
$radio-md-color-off:                 rgb($text-color-rgb, 0.60) !default;

/// @prop - Width of the radio icon
$radio-md-icon-width:                dynamic-font(20px) !default;

/// @prop - Height of the radio icon
$radio-md-icon-height:               dynamic-font(20px) !default;

/// @prop - Border width of the radio icon
$radio-md-icon-border-width:         dynamic-font(2px) !default;

/// @prop - Border style of the radio icon
$radio-md-icon-border-style:         solid !default;

/// @prop - Border radius of the radio icon
$radio-md-icon-border-radius:        50% !default;

/// @prop - Transition duration of the radio
$radio-md-transition-duration:       280ms !default;

/// @prop - Transition easing of the radio
$radio-md-transition-easing:         cubic-bezier(.4, 0, .2, 1) !default;

/// @prop - Opacity of the disabled radio label
$radio-md-disabled-opacity:          $form-control-md-disabled-opacity !default;

/// @prop - Opacity of the disabled radio
/// This value is used because the radio color is set to
/// `rgb(0, 0, 0, 0.60)` when enabled and we need it to be
/// `rgb(0, 0, 0, 0.38)` when disabled but the disabled
/// opacity is applied on top of the transparent color so
/// this opacity gets us the equivalent of applying `0.38`
/// on top of an opaque radio `rgb(0, 0, 0, 1.0)`
$radio-md-icon-disabled-opacity:     0.63 !default;
