@import "../../themes/ionic.globals";

// Radio
// --------------------------------------------------

:host {
  /**
   * @prop --color: Color of the radio
   * @prop --color-checked: Color of the checked radio
   */

  display: inline-block;
  position: relative;
  box-sizing: border-box;

  user-select: none;
}

:host(.radio-disabled) {
  pointer-events: none;
}


.radio-icon {
  display: flex;

  align-items: center;
  justify-content: center;

  width: var(--width);
  height: var(--height);

  contain: layout size style;
}

.radio-inner {
  width: var(--inner-width);
  height: var(--inner-height);
}

input {
  @include input-cover();
}

.radio-icon,
.radio-inner {
  box-sizing: border-box;
}
