@import "../../themes/ionic.globals";

// Radio
// --------------------------------------------------

:host {
  --ion-color-base: #{ion-color(primary, base)};

  box-sizing: border-box;

  position: relative;
  display: inline-block;
}

.radio-icon {
  position: relative;
  display: block;

  width: var(--width);
  height: var(--height);


  contain: layout size style;
}

input {
  @include input-cover();
}

.radio-icon,
.radio-inner {
  box-sizing: border-box;
}
