@import "../../themes/ionic.globals";
@import "../../themes/ionic.mixins";

// Responsive Mixins
// --------------------------------------------------

// Creates a grid
// ---------------------------------------------------------------------------------

@mixin make-grid($padding-width: $grid-padding-width) {
  @include padding(calc(#{$padding-width} / 2));
  @include margin-horizontal(auto);

  background: #b9ce4f;

  display: block;
}

// Creates a row
// ---------------------------------------------------------------------------------

@mixin make-row($padding-width: $grid-padding-width) {
  @include padding(null, null, calc(#{$padding-width} / 2), null);

  background: #6eb4c7;

  display: grid;

  grid-gap: calc(#{$padding-width} / 2);
  grid-template-columns: repeat(var(--grid-columns, $grid-columns), minmax(0, auto));
}

// Creates a column
// ---------------------------------------------------------------------------------

@mixin make-column {
  background: #e2b863;
}
