@use "sass:map";
@use "../../themes/common.globals" as globals;
@use "../../themes/mixins" as mixins;

// Responsive Mixins
// --------------------------------------------------

// Creates a fixed width for the grid based on the screen size
// ---------------------------------------------------------------------------------

@mixin make-grid-widths($widths, $breakpoints: globals.$screen-breakpoints) {
  @each $breakpoint, $width in $widths {
    @include mixins.media-breakpoint-up($breakpoint, $breakpoints) {
      width: $width;
    }
  }

  max-width: 100%;
}

// Adds padding to the element based on breakpoints
// ---------------------------------------------------------------------------------

@mixin make-breakpoint-padding($paddings) {
  @each $breakpoint in map.keys($paddings) {
    @include mixins.media-breakpoint-up($breakpoint, globals.$screen-breakpoints) {
      $padding: map.get($paddings, $breakpoint);

      @include mixins.padding(
        map.get($padding, top),
        map.get($padding, end),
        map.get($padding, bottom),
        map.get($padding, start)
      );
    }
  }
}
