// Grid
// --------------------------------------------------

/// @prop - Per-breakpoint, per-side padding values
$grid-paddings: (
  xs: (
    top: var(--ion-grid-breakpoint-xs-padding-top),
    end: var(--ion-grid-breakpoint-xs-padding-end),
    bottom: var(--ion-grid-breakpoint-xs-padding-bottom),
    start: var(--ion-grid-breakpoint-xs-padding-start),
  ),
  sm: (
    top: var(--ion-grid-breakpoint-sm-padding-top),
    end: var(--ion-grid-breakpoint-sm-padding-end),
    bottom: var(--ion-grid-breakpoint-sm-padding-bottom),
    start: var(--ion-grid-breakpoint-sm-padding-start),
  ),
  md: (
    top: var(--ion-grid-breakpoint-md-padding-top),
    end: var(--ion-grid-breakpoint-md-padding-end),
    bottom: var(--ion-grid-breakpoint-md-padding-bottom),
    start: var(--ion-grid-breakpoint-md-padding-start),
  ),
  lg: (
    top: var(--ion-grid-breakpoint-lg-padding-top),
    end: var(--ion-grid-breakpoint-lg-padding-end),
    bottom: var(--ion-grid-breakpoint-lg-padding-bottom),
    start: var(--ion-grid-breakpoint-lg-padding-start),
  ),
  xl: (
    top: var(--ion-grid-breakpoint-xl-padding-top),
    end: var(--ion-grid-breakpoint-xl-padding-end),
    bottom: var(--ion-grid-breakpoint-xl-padding-bottom),
    start: var(--ion-grid-breakpoint-xl-padding-start),
  ),
);

/// @prop - Per-breakpoint fixed grid width values
$grid-widths: (
  xs: var(--ion-grid-breakpoint-xs-width),
  sm: var(--ion-grid-breakpoint-sm-width),
  md: var(--ion-grid-breakpoint-md-width),
  lg: var(--ion-grid-breakpoint-lg-width),
  xl: var(--ion-grid-breakpoint-xl-width),
);
