@import "../../themes/ionic.globals";

@import "./grid.mixins";

// Grid
// --------------------------------------------------
// Using flexbox for the grid, originally inspired by Philip Walton:
// http://philipwalton.github.io/solved-by-flexbox/demos/grids/
// Column layout based on the Bootstrap grid system:
// http://v4-alpha.getbootstrap.com/layout/grid/


// Grid Containers
// --------------------------------------------------

/// @prop - Maximum width of the grid for different screen sizes
$grid-max-widths: (
  xs: var(--ion-grid-max-width-xs, 100%),
  sm: var(--ion-grid-max-width-sm, 540px),
  md: var(--ion-grid-max-width-md, 720px),
  lg: var(--ion-grid-max-width-lg, 960px),
  xl: var(--ion-grid-max-width-xl, 1140px)
) !default;

/// @prop - The padding for the grid
$grid-padding:               var(--ion-grid-padding, 5px) !default;

/// @prop - The padding for the grid at different breakpoints
$grid-paddings: (
  xs: var(--ion-grid-padding-xs, $grid-padding),
  sm: var(--ion-grid-padding-sm, $grid-padding),
  md: var(--ion-grid-padding-md, $grid-padding),
  lg: var(--ion-grid-padding-lg, $grid-padding),
  xl: var(--ion-grid-padding-xl, $grid-padding)
) !default;


// Grid Columns
// --------------------------------------------------

// TODO remove
/// @prop - Number of columns to auto generate for the grid
$grid-columns:               12 !default;

/// @prop - The padding for the grid column
$grid-column-padding:        var(--ion-grid-column-padding, $grid-padding) !default;

/// @prop - The padding for the column at different breakpoints
$grid-column-paddings: (
  xs: var(--ion-grid-column-padding-xs, $grid-column-padding),
  sm: var(--ion-grid-column-padding-sm, $grid-column-padding),
  md: var(--ion-grid-column-padding-md, $grid-column-padding),
  lg: var(--ion-grid-column-padding-lg, $grid-column-padding),
  xl: var(--ion-grid-column-padding-xl, $grid-column-padding)
) !default;
