
/**
 * Action Sheets
 * --------------------------------------------------
 */

@-webkit-keyframes fadeInHalf {
  from { background-color: rgba(0,0,0,0); }
  to { background-color: rgba(0,0,0,0.5); }
}
@keyframes fadeInHalf {
  from { background-color: rgba(0,0,0,0); }
  to { background-color: rgba(0,0,0,0.5); }
}
@-webkit-keyframes fadeOutHalf {
  from { background-color: rgba(0,0,0,0.5); }
  to { background-color: rgba(0,0,0,0); }
}
@keyframes fadeOutHalf {
  from { background-color: rgba(0,0,0,0.5); }
  to { background-color: rgba(0,0,0,0); }
}

.action-sheet-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);

  &.active {
    -webkit-animation: fadeInHalf 0.3s;
    animation: fadeInHalf 0.3s;

    -webkit-animation-fill-mode: both;
  }

  &.active-remove {
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fadeOutHalf 0.3s;
    animation: fadeOutHalf 0.3s;

    -webkit-animation-fill-mode: both;
  }
}

@-webkit-keyframes actionSheetUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes actionSheetOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}
$slide-in-up-function: cubic-bezier(.1, .7, .1, 1);

.action-sheet-up {
  opacity: 1;
  // Start it down low
  -webkit-transform: translate3d(0, 0%, 0);

  &.ng-enter, .ng-enter {
    // Start hidden
    opacity: 0;
    // Start it down low
    -webkit-transform: translate3d(0, 100%, 0);

    -webkit-animation-duration: 400ms;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: $slide-in-up-function;
  }

  &.ng-enter-active, .ng-enter-active {
    -webkit-animation-name: actionSheetUp;
  }

  &.ng-leave, .ng-leave {
    -webkit-animation-duration: 400ms;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: $slide-in-up-function;
  }

  &.ng-leave-active, .ng-leave {
    -webkit-animation-name: actionSheetOut;
  }
}

.action-sheet {

  position: fixed;
  bottom: 0;
  left: 15px; 
  z-index: $zindex-modal;
  overflow: hidden;
  width: calc(100% - 30px);

  .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;

    background-color: transparent;

    color: $positive;
    font-size: 18px;

    &.destructive {
      color: $assertive;
    }
  }
}

.action-sheet-title {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: lighten($base-color, 40%);
}

.action-sheet-group {
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: $sheet-border-radius;
  .button {
    border-radius: 0;
    border-width: 1px 0px 0px 0px;

    &.active, &:active {
      background-color: transparent;
      color: inherit;
    }
  }
  .button:first-child:last-child {
    border-width: 0;
  }
}
