/**
 * Loaders (Spinners)
 * --------------------------------------------------
 */

svg.loader {
  width: 28px;
  height: 28px;
  stroke: #333;
  fill: #333;
}

.loader-ios,
.loader-ios-small {

  line {
    stroke: #69717d;
  }

}

.loader-android {

  circle {
    stroke: #4b8bf4;
  }

}
