
/**
 * Range
 * --------------------------------------------------
 */

input[type="range"] {
  @include range-style($range-default-track-bg);
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: $range-track-height;
  outline: none;
  border-radius: $range-track-height;
  -webkit-appearance: none !important;

  &::-webkit-slider-thumb {
    position: relative;
    width: $range-slider-width;
    height: $range-slider-height;
    border-radius: $range-slider-border-radius;
    background-color: $toggle-handle-off-bg-color;
    box-shadow: 0 0 2px rgba(0,0,0,.5), 0 5px 6px rgba(0,0,0,0.25);
    cursor: pointer;
    -webkit-appearance: none !important;
  }

  &::-webkit-slider-thumb:after {
    /* create a larger (but hidden) hit area */
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 25px;
    content: ' ';
  }

}

.range {
  @include display-flex();
  @include align-items(center);
  padding: 2px 4px;

  &.range-light {
    input { @include range-style($range-light-track-bg); }
  }
  &.range-stable {
    input { @include range-style($range-stable-track-bg); }
  }
  &.range-positive {
    input { @include range-style($range-positive-track-bg); }
  }
  &.range-calm {
    input { @include range-style($range-calm-track-bg); }
  }
  &.range-balanced {
    input { @include range-style($range-balanced-track-bg); }
  }
  &.range-assertive {
    input { @include range-style($range-assertive-track-bg); }
  }
  &.range-energized {
    input { @include range-style($range-energized-track-bg); }
  }
  &.range-royal {
    input { @include range-style($range-royal-track-bg); }
  }
  &.range-dark {
    input { @include range-style($range-dark-track-bg); }
  }
}

.range .icon {
  @include flex(0, 1, $range-icon-size);
  font-size: $range-icon-size;
  min-width: $range-icon-size;
  text-align: center;
}

.range input {
  @include flex(0, 1, $range-max-width - ($range-icon-size * 2));
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  max-width: $range-max-width;
}
