
/**
 * Scaffolding
 * --------------------------------------------------
 */

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

a {
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
img {
  -webkit-user-drag: none;
}

body, .ionic-body {
  @include font-smoothing(antialiased);
  @incude text-size-adjust(none);
  @include tap-highlight-transparent();
  @include user-select(none);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  margin: 0;
  padding: 0;
  
  color: $base-color;
  word-wrap: break-word;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-computed;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
}

.content:before,
.content:after {
  // Uncollapse content margin if child elements DO have an margin
  display: block;
  overflow: hidden;
  height: 0;
  content: "\00a0"; // No-break space character
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-content {
  display: block;

  position: relative;
  overflow: hidden;

  width: auto;
  @include flex(1);
}

/**
 * Scroll is the scroll view component available for complex and custom
 * scroll view functionality.
 */
.scroll {
  @include user-select(none);
  @include touch-callout(none);
  @include text-size-adjust(none);
  @include translateZ(0);
  @include transform-origin(left, top);

}

// Scroll refresher (for pull to refresh)
.scroll-refresher {
  overflow: hidden;
  margin-top: -100px;
  height: 100px;
}

.scroll-refresher-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ionic-refresher-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ionic-refresher {
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -5px;
  // A custom refresher
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $positive;
}


@-webkit-keyframes refresher-pulsate {
  0% {-webkit-transform: scale(2, 2); }
  50% {-webkit-transform: scale(1.5, 1.5); }
  100% {-webkit-transform: scale(2, 2); }
}

.overflow-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .scroll {
    position: static;
    height: 100%;
  }
}


// A full screen section with a solid background
.pane {
  @include flex-direction(column);
  @include display-flex();
  @include align-items(stretch);
  @include align-content(stretch);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  vertical-align: top;

}

//
//  A sub container that uses flexbox but fills the remaining size of any pane.
//
.sub-pane {
  @include flex-direction(column);
  @include display-flex();
  @include align-items(stretch);
  @include align-content(stretch);
  @include flex(1);

  position: relative;
  overflow: hidden;
}

.page {
  display: block;

  position: relative;
  overflow: hidden;

  width: auto;
  @include flex(1);
}
