
/**
 * Slide Box
 * --------------------------------------------------
 */

.slider {
  position: relative;
  // Make sure items don't scroll over ever
  overflow: hidden;
  visibility: hidden;
}
.slider-slides {
  position: relative;
  height: 100%;
}

.slider-slide {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  vertical-align: top;

}

.slider-slide-image {
  > img {
    width: 100%;
  }
}

.slider-pager {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 1;

  .slider-pager-page {
    display: inline-block;
    margin: 0px 3px;
    width: 15px;
    color: #000;
    text-decoration: none;

    opacity: 0.3;

    &.active {
      opacity: 1;
      @include transition(opacity 0.4s ease-in);
    }
  }
}
