
/**
 * Split Pane
 * --------------------------------------------------
 */

.split-pane {
  @include display-flex();
  @include align-items(stretch);
  width: 100%;
  height: 100%;
}

.split-pane-menu {
  @include flex(0, 0, $split-pane-menu-width);

  overflow-y: auto;
  width: $split-pane-menu-width;
  height: 100%;
  border-right: 1px solid $split-pane-menu-border-color;

  @media all and (max-width: 568px) {
    border-right: none;
  }
}

.split-pane-content {
  @include flex(1, 0, auto);
}
