
/**
 * Util
 * --------------------------------------------------
 */

.hidden, 
.hide { 
  display: none !important; 
}
.show {
  display: block !important;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
  clear: both;
  &:after { 
    display: block; 
    visibility: hidden; 
    clear: both; 
    height: 0;
    content: ".";
  }
}

.full-image {
  width: 100%;
}


// Content Padding
// -------------------------------

.padding {
  padding: $content-padding;
}

.padding-top,
.padding-vertical {
  padding-top: $content-padding;
}

.padding-right,
.padding-horizontal {
  padding-right: $content-padding;
}

.padding-bottom,
.padding-vertical {
  padding-bottom: $content-padding;
}

.padding-left,
.padding-horizontal {
  padding-left: $content-padding;
}


// Rounded
// -------------------------------

.rounded {
  border-radius: $border-radius-base;
}
