@import "../../../templarios/abstracts";

:host {
  --color: var(--med-color-neutral-light-30);
  --background: var(--med-color-neutral-dark-40);
  --border-radius: var(--med-border-radius-sm);
  --icon-color: var(--med-color-neutral-light-30);
  --cancel-button-color: var(--med-color-questoes-medium);
  --placeholder-opacity: 1;

  // templarios
  --spacing: var(--med-spacing-inset-xs);

  padding: var(--spacing);
  height: 40px;

  .searchbar-input {
    padding-inline-start: 30px + var(--med-spacing-inline-nano) !important;
    font-size: var(--med-font-size-xs);
    font-weight: var(--med-font-weight-regular);
    line-height: var(--med-line-height-compressed);
  }

  .searchbar-search-icon {
    width: 24px;
  }
}
