@import "./skeleton-text.vars";

// Skeleton Text
// --------------------------------------------------

:host {
  /**
   * @prop --background: Background of the skeleton text
   * @prop --background-rgb: Background of the skeleton text in rgb format
   *
   * @prop --border-radius: Border radius of the skeleton text
   */
  --background: #{$skeleton-text-background};

  @include border-radius(var(--border-radius, inherit));

  display: block;

  width: 100%;
  height: inherit;

  margin-top: 4px;
  margin-bottom: 4px;

  background: var(--background);

  line-height: 10px;

  user-select: none;

  pointer-events: none;
}

span {
  display: inline-block;
}

:host(.in-media) {
  @include margin(0);

  height: 100%;
}

// Animated Skeleton Text
// -----------------------------------------------------------

:host(.skeleton-text-animated) {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent 0,
      $skeleton-text-background 20%,
      $skeleton-text-background-animated 60%,
      transparent
    );
    animation: shimmer 2s infinite;
    content: "";
  }
}

/* stylelint-disable property-blacklist */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
/* stylelint-enable property-blacklist */
