@import "./tab-bar";
@import "../../themes/ionic.globals.ios";
@import "../tab-button/tab-button.ios.vars";

// iOS Tabs
// --------------------------------------------------

:host {
  // default color / background
  --background: #{$tabbar-ios-background};
  --background-focused: #{$tabbar-ios-background-focused};
  --border: #{$hairlines-width solid $tabbar-ios-border-color};
  --color: #{$tab-button-ios-text-color};
  --color-selected: #{$tabbar-ios-color-activated};

  height: 50px;
}

// iOS Translucent Tab bar
// --------------------------------------------------

:host(.tab-bar-translucent) {
  background-color: #{current-color(base, .8)};
  backdrop-filter: saturate(210%) blur(20px);
}
