:host {
  display: block;

  .list {
    list-style: none;
    padding: 0;
  }

  .item {
    font-size: $med-font-size-nano;
    line-height: $med-line-height-compressed;
    color: var(--med-color-neutral-5);
    display: flex;
    align-items: center;
    font-weight: $med-font-weight-bold;

    &:not(:last-of-type) {
      padding-bottom: $med-spacing-stack-xxxs;
    }
  }

  .quantia {
    font-size: $med-font-size-md;
    line-height: $med-line-height-compressed;
    margin-right: $med-spacing-inline-xxxs;
    color: var(--med-color-3);
    font-weight: $med-font-weight-bold;
  }
}
