@import "../../themes/ionic.globals.ios";

/// @prop - Color of the refresher icon
$refresher-ios-icon-color:            $text-color;

/// @prop - Text color of the refresher content
$refresher-ios-text-color:            $text-color;

/// @prop - Color of the native refresher spinner
$refresher-ios-native-spinner-color:  var(--ion-color-step-450, var(--ion-background-color-step-450, #747577));

/// @prop - Width of the native refresher spinner
$refresher-ios-native-spinner-width:  32px;

/// @prop - Height of the native refresher spinner
$refresher-ios-native-spinner-height: 32px;
