@import "./refresher";
@import "./refresher.md.vars";

// Refresher Content
// --------------------------------------------------

.refresher-md .refresher-pulling-icon,
.refresher-md .refresher-refreshing-icon {
  color: $refresher-md-icon-color;
}

.refresher-md .refresher-pulling-text,
.refresher-md .refresher-refreshing-text {
  color: $refresher-md-text-color;
}

.refresher-md .refresher-refreshing .spinner-lines-md line,
.refresher-md .refresher-refreshing .spinner-lines-small-md line,
.refresher-md .refresher-refreshing .spinner-crescent circle {
  stroke: $refresher-md-icon-color;
}

.refresher-md .refresher-refreshing .spinner-bubbles circle,
.refresher-md .refresher-refreshing .spinner-circles circle,
.refresher-md .refresher-refreshing .spinner-dots circle {
  fill: $refresher-md-icon-color;
}

ion-refresher.refresher-native {
  display: block;

  z-index: 1;

  ion-spinner {
    @include margin(0, auto, 0, auto);
    width: 24px;
    height: 24px;

    color: #3073e8;
  }

  .refresher-refreshing-icon,
  .refresher-pulling-icon {
    display: flex;
  }

  &.refresher-pulling .refresher-pulling,
  &.refresher-pulling .refresher-pulling .refresher-pulling-icon,
  &.refresher-refreshing .refresher-refreshing,
  &.refresher-refreshing .refresher-refreshing .refresher-refreshing-icon,
  
  &.refresher-completing .refresher-refreshing,
  &.refresher-completing .refresher-refreshing .refresher-refreshing-icon {
    display: flex;
  }

  .refresher-pulling-icon {
    transform: translateY(calc(-100% - 10px));
  }

  .refresher-pulling-icon,
  .refresher-refreshing-icon {
    @include margin(0, auto, 0, auto);
    @include border-radius(100%);
    @include padding(8px, 8px, 8px, 8px);

    border: 1px solid #ececec;

    background: white;

    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  }
}