@import "../../themes/ionic.globals.md";

/// @prop - Color of the refresher icon
$refresher-md-icon-color:                     $text-color !default;

/// @prop - Text color of the refresher content
$refresher-md-text-color:                     $text-color !default;

/// @prop - Color of the native refresher spinner
$refresher-md-native-spinner-color:           #{ion-color(primary, base)} !default;

/// @prop - Border of the native refresher spinner
$refresher-md-native-spinner-border:          1px solid var(--ion-color-step-200, var(--ion-text-color-step-200, #ececec)) !default;

/// @prop - Background of the native refresher spinner
$refresher-md-native-spinner-background:      var(--ion-color-step-250, var(--ion-background-color-step-250, #ffffff)) !default;

/// @prop - Box shadow of the native refresher spinner
$refresher-md-native-spinner-box-shadow:      0px 1px 6px rgba(0, 0, 0, 0.1) !default;
