@import "../../themes/ionic.globals";

// Toggle
// --------------------------------------------------

:host {
  --ion-color-base: #{ion-color(primary, base)};
  --ion-color-base-rgb: #{ion-color(primary, base, null, true)};

  box-sizing: content-box !important;

  display: inline-block;

  contain: content;
  touch-action: none;
  user-select: none;
}

:host(.toggle-key) input {
  border: 2px solid #5e9ed6;
}

:host(:focus) {
  outline: none;
}

ion-gesture {
  display: block;

  width: 100%;
  height: 100%;

  visibility: inherit;
}

input {
  @include input-cover();

  pointer-events: none;
}
