@import "../../themes/ionic.globals";

// Toggle
// --------------------------------------------------

:host {
  --ion-color-base: #{ion-color(primary, base)};
  --ion-color-base-rgb: #{ion-color(primary, base, null, true)};

  // TODO can we remove important here
  /* stylelint-disable-next-line declaration-no-important */
  box-sizing: content-box !important;

  display: inline-block;

  contain: content;
  touch-action: none;
  user-select: none;
}

:host(.toggle-key) input {
  border: 2px solid #5e9ed6;
}

:host(:focus) {
  outline: none;
}

input {
  @include input-cover();

  pointer-events: none;
}
