// Refresher
// --------------------------------------------------

/// @prop - Height of the refresher
$refresher-height:             60px !default;

/// @prop - Font size of the refresher icon
$refresher-icon-font-size:     30px !default;

/// @prop - Font size of the refresher content
$refresher-text-font-size:     16px !default;
