<% var PREFIX = '../../..'; %>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="<%= PREFIX %>/css/ionic.css" />
    <% buildConfig.scripts.forEach(function(script) {
      var src = script.to || script; 
      if (!/http/.test(src)) {
      %>
        <script src="<%= PREFIX %>/lib/<%= src %>"></script>
      <% } else { %>
        <script src="<%= src %>"></script>
      <% } %>
    <% }); %>
</head>
<body ion-app>
</body>
<script>
 System.config({
   traceurOptions: {annotations: true, types: true},
  });
 System.import('main').catch(console.error.bind(console));
</script>
</html>
