@import "../../globals.core";

// Badge
// --------------------------------------------------

$badge-font-size:                 1.3rem !default;
$badge-font-weight:               bold !default;


ion-badge {
  display: inline-block;

  padding: 3px 8px;

  min-width: 10px;

  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;

  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  &:empty {
    display: none;
  }
}
