*~
.DS_Store
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
UserInterfaceState.xcuserstate

.idea/
.sass-cache/
node_modules/
tmp/
temp/
dist/

scripts/resources/web-animations-js/test/
scripts/resources/web-animations-js/inter-*
scripts/resources/web-animations-js/**/*.map
scripts/resources/web-animations-js/**/*.md
scripts/resources/web-animations-js/**/*.sh
scripts/resources/web-animations-js/**/*.yml
scripts/resources/web-animations-js/**/*.gz
