*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.package.tmp.json

/commonjsNgcConfig.json
/es2015NgcConfig.json
/demoNgcConfig.json
/e2eNgcConfig.json

src/tsconfig.json

/scripts/e2e/webpackEntryPoints.json
