@import "./modal";
@import "./modal.ios.vars";

// iOS Modals
// --------------------------------------------------

:host {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

@media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-small) {
  :host {
    --border-radius: #{$modal-ios-border-radius};
  }
}

// :host(.modal-animation-reset) {
//   .modal-wrapper {
//     transition: 500ms transform cubic-bezier(0.32, 0.72, 0, 1);
//   }
//   ion-backdrop {
//     transition: 500ms opacity cubic-bezier(0.32, 0.72, 0, 1);
//   }
// }

:host(.modal-card) {
  align-items: flex-end;
}

:host(.modal-card) .modal-wrapper {
  @include border-radius($modal-ios-border-radius, $modal-ios-border-radius, 0, 0);
  height: calc(100% - 40px);
}

ion-backdrop {
  opacity: 0.4;
}
