@import "./modal";
@import "./modal.md.vars";


// Material Design Modals
// --------------------------------------------------

@media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-small) {
  :host {
    --border-radius: 2px;
    --box-shadow: #{$modal-inset-box-shadow};
  }
}

ion-backdrop {
  opacity: 0.32;
}
