#search-input {
  text-align: center;
}

#photos {
-webkit-flex-wrap: wrap; 
-webkit-flex-direction: row;
}

.photo {
  width: 100px;
  height: 100px;
  margin: 1px;
  float: left;
  overflow: hidden;
}
.photo img {
  min-width: 100%;
  min-height: 100%;
}

#search-bar {
  background: none;
  position: absolute;
  width: 100%;
  top: 44px;
  height: 40px;
  z-index: 3;
}
#search-bar .item {
  background: none;
  border: none;
}
#content {
  top: 44px;
  padding-top: 45px;
}
