@import "./title";

:host {
  @include position(0, null, null, 0);
  @include padding(0, 90px, 0);

  position: absolute;

  width: 100%;
  height: 100%;

  transform: translateZ(0);

  font-size: 17px;
  font-weight: 600;

  letter-spacing: -.03em;

  text-align: center;
  box-sizing: border-box;
  pointer-events: none;
}
