@import "./title";

// iOS Title
// --------------------------------------------------

:host {
  @include position(0, null, null, 0);
  @include padding(var(--padding-top), 90px, var(--padding-bottom));

  position: absolute;

  width: 100%;
  height: 100%;

  transform: translateZ(0);

  font-size: dynamic-font-min(1, 17px);
  font-weight: 600;

  text-align: center;
  box-sizing: border-box;
  pointer-events: none;
}


// iOS Title: Small
// --------------------------------------------------

:host(.title-small) {
  @include padding(6px, 9px, 16px, 9px);

  position: relative;

  font-size: dynamic-font-min(1, 13px);
  font-weight: normal;
}


// iOS Title: Large
// --------------------------------------------------

:host(.title-large) {
  @include padding(0, 16px);
  @include transform-origin(left, center);

  bottom: 0;

  align-items: flex-end;

  min-width: 100%;

  padding-bottom: 6px;

  font-size: dynamic-font(34px);
  font-weight: 700;

  text-align: start;
}

:host(.title-large.title-rtl) {
  @include transform-origin(right, center);
}

:host(.title-large.ion-cloned-element) {
  --color: #{$text-color};
}

:host(.title-large) .toolbar-title {
  @include transform-origin(inherit);
}
