@import "../../themes/ionic.globals";

:host {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  order: 1;

  width: 100%;

  background: var(--background);
  color: var(--color);

  z-index: $z-index-toolbar;
}

:host(.ion-color),
:host(.ion-color) ion-tab-button {
  --background: #{current-color(base)};
  --color: #{current-color(contrast, .7)};
  --color-selected: #{current-color(contrast)};
}

:host(.tabbar-hidden) {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

:host(.placement-top) {
  order: -1;
}

@supports (padding-top: env(safe-area-inset-top)) {
  :host(.placement-bottom) {
    @include padding(null, null, env(safe-area-inset-bottom));
  }
}



// Tab Highlight
// --------------------------------------------------

.tabbar-highlight {
  @include position(null, null, 0, 0);
  @include transform-origin(0, 0);

  display: block;
  position: absolute;

  width: 1px;
  height: 2px;

  transform: translateZ(0);

  background: currentColor;

  &.animated {
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    will-change: transform;
  }
}

:host(.placement-top) .tabbar-highlight {
  bottom: 0;
}

:host(.placement-bottom) .tabbar-highlight {
  top: 0;
}


// Tab Layout
// --------------------------------------------------

:host(.layout-icon-start) ion-tab-button {
  --flex-direction: row;
}

:host(.layout-icon-end) ion-tab-button {
  --flex-direction: row-reverse;
}

:host(.layout-icon-bottom) ion-tab-button {
  --flex-direction: column-reverse;
}

:host(.layout-icon-start) ion-tab-button,
:host(.layout-icon-end) ion-tab-button,
:host(.layout-icon-hide) ion-tab-button,
:host(.layout-label-hide) ion-tab-button {
  --justify-content: center;
}

:host(.layout-icon-hide) ion-tab-button {
  --icon-display: none;
}

:host(.layout-label-hide) ion-tab-button {
  --text-display: none;
}

:host(.layout-icon-bottom) ion-tab-button,
:host(.layout-icon-start) ion-tab-button,
:host(.layout-icon-end) ion-tab-button {
  --badge-end: calc(50% - 50px);
}
