@import "./tabbar";
@import "./tabbar.md.vars";

:host {
  // default color / background
  --background: #{$tabbar-md-background-color};
  --color: #{$tabbar-md-text-color-active};

  height: $tabbar-md-height;

  border-top: $tabbar-md-border;

  contain: strict;
}

// Material Design Tabbar Layout
// --------------------------------------------------

:host(.layout-icon-top) ion-tab-button {
  --label-margin-bottom: -2px;
}

:host(.layout-icon-end) ion-tab-button {
  --icon-transform-selected: #{$tab-button-md-icon-right-transform-active};
}

:host(.layout-icon-bottom) ion-tab-button {
  --label-margin-top: -2px;
  --label-transform: transform-origin(center, top);
  --icon-transform-selected: #{$tab-button-md-icon-bottom-transform-active};
}

:host(.layout-icon-start) ion-tab-button {
  --icon-transform-selected: #{$tab-button-md-icon-left-transform-active};
}
