@import "./tabbar";
@import "./tabbar.md.vars";

:host {
  height: $tabbar-md-height;

  border-top: $tabbar-md-border;

  --ion-color-base: #{$tabbar-md-background-color};
  --ion-color-contrast: #{$tabbar-md-text-color-active};

  contain: strict;
}

ion-scroll {
  @include margin(0, 8px);

  max-width: 650px;
}


// TODO: REVIEW
:host(.placement-top) .tab-button.tab-selected .tab-button-icon,
:host(.placement-top) .tab-button.tab-selected .tab-button-text {
  transform: inherit;
}

.scrollable .tab-button {
  overflow: hidden;

  flex: 1 0 auto;
}