
.bar {
  position: relative;
  @include flex-display();
  @include flex-direction(row);
  @include flex-align-items(center);
  @include flex-justify-content(space-between);
}

.bar-top {
  @include flex-order(20);
}

.bar-bottom {
  @include flex-order(80);
}

.bar > .title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include flex-display();
  display:none;
}

.bar > .title > .inner-title {
  /*text-align: center;
  @include flex-align-self(center);*/
}

.bar-accessories {
  @include flex(1);
  @include flex-display();
  @include flex-justify-content(space-between);
}

.bar > .accessory-primary {
  /*@include flex-align-self(flex-start);*/
}

.bar > .accessory-secondary {
  /*@include flex-align-self(flex-end);*/
  /*display:none;*/
}
