@import "../../themes/ionic.theme.default";

// Item Sliding
// --------------------------------------------------

ion-item-sliding {
  position: relative;
  display: block;
  overflow: hidden;

  width: 100%;
}

.item-sliding-active-slide .item {
  position: relative;
  z-index: $z-index-item-options + 1;

  background: $item-background-color;
  opacity: 1;
  transition: transform 500ms cubic-bezier(.36, .66, .04, 1);

  pointer-events: none;

  will-change: transform;
}


.item-sliding-active-swipe-end .item-options-end .item-option-expandable {
  transition-duration: .6s;
  transition-property: padding-left;

  @include multi-dir() {
    // scss-lint:disable PropertySpelling
    padding-left: 90%;
  }

  @include ltr() {
    order: 1;
  }

  @include rtl() {
    order: -1;
  }
}

.item-sliding-active-swipe-start .item-options-start .item-option-expandable {
  transition-duration: .6s;
  transition-property: padding-right;

  @include multi-dir() {
    // scss-lint:disable PropertySpelling
    padding-right: 90%;
  }

  @include ltr() {
    order: -1;
  }

  @include rtl() {
    order: 1;
  }
}
