// brand color
$med-color-brand-primary-darkest: #074953 !default;
$med-color-brand-primary-darkest-rgb: 7, 73, 83 !default;

$med-color-brand-primary-dark: #137585 !default;
$med-color-brand-primary-dark-rgb: 19, 117, 133 !default;

$med-color-brand-primary-medium: #3aa8b9 !default;
$med-color-brand-primary-medium-rgb: 58, 168, 185 !default;

$med-color-brand-primary-light: #73d6e5 !default;
$med-color-brand-primary-light-rgb: 115, 214, 229 !default;

$med-color-brand-primary-lightest: #b0ecf5 !default;
$med-color-brand-primary-lightest-rgb: 176, 236, 245 !default;

$med-color-brand-primary-gradient: linear-gradient(to right, $med-color-brand-primary-medium, $med-color-brand-primary-dark) !default;

// aula color
$med-color-aula-darkest: #075344 !default;
$med-color-aula-darkest-rgb: 7, 83, 68 !default;

$med-color-aula-dark: #13856e !default;
$med-color-aula-dark-rgb: 19, 133, 110 !default;

$med-color-aula-medium: #3ab89f !default;
$med-color-aula-medium-rgb: 58, 184, 159 !default;

$med-color-aula-light: #73e5cf !default;
$med-color-aula-light-rgb: 115, 229, 207 !default;

$med-color-aula-lightest: #b0f5e7 !default;
$med-color-aula-lightest-rgb: 176, 245, 231 !default;

// material color
$med-color-material-darkest: #552607 !default;
$med-color-material-darkest-rgb: 85, 38, 7 !default;

$med-color-material-dark: #854013 !default;
$med-color-material-dark-rgb: 133, 64, 19 !default;

$med-color-material-medium: #b86d3b !default;
$med-color-material-medium-rgb: 184, 109, 59 !default;

$med-color-material-light: #e5a173 !default;
$med-color-material-light-rgb: 229, 161, 115 !default;

$med-color-material-lightest: #f5ccb0 !default;
$med-color-material-lightest-rgb: 245, 204, 176 !default;

// questões color
$med-color-questoes-darkest: #073953 !default;
$med-color-questoes-darkest-rgb: 7, 57, 83 !default;

$med-color-questoes-dark: #135f85 !default;
$med-color-questoes-dark-rgb: 19, 95, 133 !default;

$med-color-questoes-medium: #3a8eb8 !default;
$med-color-questoes-medium-rgb: 58, 142, 184 !default;

$med-color-questoes-light: #73bfe5 !default;
$med-color-questoes-light-rgb: 115, 191, 229 !default;

$med-color-questoes-lightest: #b0def5 !default;
$med-color-questoes-lightest-rgb: 176, 222, 245 !default;

// revalida color
$med-color-revalida-darkest: #53071e !default;
$med-color-revalida-darkest-rgb: 83, 7, 30 !default;

$med-color-revalida-dark: #851335 !default;
$med-color-revalida-dark-rgb: 133, 19, 53 !default;

$med-color-revalida-medium: #b83a60 !default;
$med-color-revalida-medium-rgb: 184, 58, 96 !default;

$med-color-revalida-light: #e57395 !default;
$med-color-revalida-light-rgb: 229, 115, 149 !default;

$med-color-revalida-lightest: #f5b0c5 !default;
$med-color-revalida-lightest-rgb: 245, 176, 197 !default;

// provas & checklist color
$med-color-provaschecklist-darkest: #2b0755 !default;
$med-color-provaschecklist-darkest-rgb: 43, 7, 85 !default;

$med-color-provaschecklist-dark: #481385 !default;
$med-color-provaschecklist-dark-rgb: 72, 19, 133 !default;

$med-color-provaschecklist-medium: #753bb8 !default;
$med-color-provaschecklist-medium-rgb: 117, 59, 184 !default;

$med-color-provaschecklist-light: #a873e5 !default;
$med-color-provaschecklist-light-rgb: 168, 115, 229 !default;

$med-color-provaschecklist-lightest: #d1b2f5 !default;
$med-color-provaschecklist-lightest-rgb: 209, 178, 245 !default;

// neutral dark color
$med-color-neutral-dark-prime: #141414 !default;
$med-color-neutral-dark-prime-rgb: 20, 20, 20 !default;

$med-color-neutral-dark-40: #292929 !default;
$med-color-neutral-dark-40-rgb: 41, 41, 41 !default;

$med-color-neutral-dark-30: #474747 !default;
$med-color-neutral-dark-30-rgb: 71, 71, 71 !default;

$med-color-neutral-dark-20: #5c5c5c !default;
$med-color-neutral-dark-20-rgb: 92, 92, 92 !default;

$med-color-neutral-dark-10: #7a7a7a !default;
$med-color-neutral-dark-10-rgb: 122, 122, 122 !default;

// neutral light color
$med-color-neutral-light-prime: #fafafa !default;
$med-color-neutral-light-prime-rgb: 250, 250, 250 !default;

$med-color-neutral-light-40: #ebebeb !default;
$med-color-neutral-light-40-rgb: 235, 235, 235 !default;

$med-color-neutral-light-30: #d6d6d6 !default;
$med-color-neutral-light-30-rgb: 214, 214, 214 !default;

$med-color-neutral-light-20: #c2c2c2 !default;
$med-color-neutral-light-20-rgb: 194, 194, 194 !default;

$med-color-neutral-light-10: #adadad !default;
$med-color-neutral-light-10-rgb: 173, 173, 173 !default;

$med-color-neutral-gradient: linear-gradient(to right, $med-color-neutral-dark-prime, $med-color-neutral-light-prime) !default;

// feedback warning color
$med-color-feedback-warning-darkest: #504606 !default;
$med-color-feedback-warning-darkest-rgb: 80, 70, 6 !default;

$med-color-feedback-warning-dark: #857513 !default;
$med-color-feedback-warning-dark-rgb: 133, 117, 19 !default;

$med-color-feedback-warning-medium: #b8a73b !default;
$med-color-feedback-warning-medium-rgb: 184, 167, 59 !default;

$med-color-feedback-warning-light: #e5d673 !default;
$med-color-feedback-warning-light-rgb: 229, 214, 115 !default;

$med-color-feedback-warning-lightest: #f5ecb0 !default;
$med-color-feedback-warning-lightest-rgb: 245, 236, 176 !default;

// feedback warning color
$med-color-feedback-error-darkest: #520c07 !default;
$med-color-feedback-error-darkest-rgb: 82, 12, 7 !default;

$med-color-feedback-error-dark: #851a13 !default;
$med-color-feedback-error-dark-rgb: 133, 26, 19 !default;

$med-color-feedback-error-medium: #b8433b !default;
$med-color-feedback-error-medium-rgb: 184, 67, 59 !default;

$med-color-feedback-error-light: #e57a73 !default;
$med-color-feedback-error-light-rgb: 229, 122, 115 !default;

$med-color-feedback-error-lightest: #f5b5b0 !default;
$med-color-feedback-error-lightest-rgb: 245, 181, 176 !default;

// feedback success color
$med-color-feedback-success-darkest: #065010 !default;
$med-color-feedback-success-darkest-rgb: 6, 80, 16 !default;

$med-color-feedback-success-dark: #138522 !default;
$med-color-feedback-success-dark-rgb: 19, 133, 34 !default;

$med-color-feedback-success-medium: #3bb84b !default;
$med-color-feedback-success-medium-rgb: 59, 184, 75 !default;

$med-color-feedback-success-light: #73e582 !default;
$med-color-feedback-success-light-rgb: 115, 229, 130 !default;

$med-color-feedback-success-lightest: #b0f5b9 !default;
$med-color-feedback-success-lightest-rgb: 176, 245, 185 !default;

:root {
  // brand color
  --med-color-brand-primary-darkest: #{$med-color-brand-primary-darkest};
  --med-color-brand-primary-darkest-rgb: #{$med-color-brand-primary-darkest-rgb};

  --med-color-brand-primary-dark: #{$med-color-brand-primary-dark};
  --med-color-brand-primary-dark-rgb: #{$med-color-brand-primary-dark-rgb};

  --med-color-brand-primary-medium: #{$med-color-brand-primary-medium};
  --med-color-brand-primary-medium-rgb: #{$med-color-brand-primary-medium-rgb};

  --med-color-brand-primary-light: #{$med-color-brand-primary-light};
  --med-color-brand-primary-light-rgb: #{$med-color-brand-primary-light-rgb};

  --med-color-brand-primary-lightest: #{$med-color-brand-primary-lightest};
  --med-color-brand-primary-lightest-rgb: #{$med-color-brand-primary-lightest-rgb};

  --med-color-brand-primary-gradient: #{$med-color-brand-primary-gradient};

  // aula color
  --med-color-aula-darkest: #{$med-color-aula-darkest};
  --med-color-aula-darkest-rgb: #{$med-color-aula-darkest-rgb};

  --med-color-aula-dark: #{$med-color-aula-dark};
  --med-color-aula-dark-rgb: #{$med-color-aula-dark-rgb};

  --med-color-aula-medium: #{$med-color-aula-medium};
  --med-color-aula-medium-rgb: #{$med-color-aula-medium-rgb};

  --med-color-aula-light: #{$med-color-aula-light};
  --med-color-aula-light-rgb: #{$med-color-aula-light-rgb};

  --med-color-aula-lightest: #{$med-color-aula-lightest};
  --med-color-aula-lightest-rgb: #{$med-color-aula-lightest-rgb};

  // material color
  --med-color-material-darkest: #{$med-color-material-darkest};
  --med-color-material-darkest-rgb: #{$med-color-material-darkest-rgb};

  --med-color-material-dark: #{$med-color-material-dark};
  --med-color-material-dark-rgb: #{$med-color-material-dark-rgb};

  --med-color-material-medium: #{$med-color-material-medium};
  --med-color-material-medium-rgb: #{$med-color-material-medium-rgb};

  --med-color-material-light: #{$med-color-material-light};
  --med-color-material-light-rgb: #{$med-color-material-light-rgb};

  --med-color-material-lightest: #{$med-color-material-lightest};
  --med-color-material-lightest-rgb: #{$med-color-material-lightest-rgb};

  // questões color
  --med-color-questoes-darkest: #{$med-color-questoes-darkest};
  --med-color-questoes-darkest-rgb: #{$med-color-questoes-darkest-rgb};

  --med-color-questoes-dark: #{$med-color-questoes-dark};
  --med-color-questoes-dark-rgb: #{$med-color-questoes-dark-rgb};

  --med-color-questoes-medium: #{$med-color-questoes-medium};
  --med-color-questoes-medium-rgb: #{$med-color-questoes-medium-rgb};

  --med-color-questoes-light: #{$med-color-questoes-light};
  --med-color-questoes-light-rgb: #{$med-color-questoes-light-rgb};

  --med-color-questoes-lightest: #{$med-color-questoes-lightest};
  --med-color-questoes-lightest-rgb: #{$med-color-questoes-lightest-rgb};

  // revalida color
  --med-color-revalida-darkest: #{$med-color-revalida-darkest};
  --med-color-revalida-darkest-rgb: #{$med-color-revalida-darkest-rgb};

  --med-color-revalida-dark: #{$med-color-revalida-dark};
  --med-color-revalida-dark-rgb: #{$med-color-revalida-dark-rgb};

  --med-color-revalida-medium: #{$med-color-revalida-medium};
  --med-color-revalida-medium-rgb: #{$med-color-revalida-medium-rgb};

  --med-color-revalida-light: #{$med-color-revalida-light};
  --med-color-revalida-light-rgb: #{$med-color-revalida-light-rgb};

  --med-color-revalida-lightest: #{$med-color-revalida-lightest};
  --med-color-revalida-lightest-rgb: #{$med-color-revalida-lightest-rgb};

  // provas & checklist color
  --med-color-provaschecklist-darkest: #{$med-color-provaschecklist-darkest};
  --med-color-provaschecklist-darkest-rgb: #{$med-color-provaschecklist-darkest-rgb};

  --med-color-provaschecklist-dark: #{$med-color-provaschecklist-dark};
  --med-color-provaschecklist-dark-rgb: #{$med-color-provaschecklist-dark-rgb};

  --med-color-provaschecklist-medium: #{$med-color-provaschecklist-medium};
  --med-color-provaschecklist-medium-rgb: #{$med-color-provaschecklist-medium-rgb};

  --med-color-provaschecklist-light: #{$med-color-provaschecklist-light};
  --med-color-provaschecklist-light-rgb: #{$med-color-provaschecklist-light-rgb};

  --med-color-provaschecklist-lightest: #{$med-color-provaschecklist-lightest};
  --med-color-provaschecklist-lightest-rgb: #{$med-color-provaschecklist-lightest-rgb};

  // neutral dark color
  --med-color-neutral-dark-prime: #{$med-color-neutral-dark-prime};
  --med-color-neutral-dark-prime-rgb: #{$med-color-neutral-dark-prime-rgb};

  --med-color-neutral-dark-40: #{$med-color-neutral-dark-40};
  --med-color-neutral-dark-40-rgb: #{$med-color-neutral-dark-40-rgb};

  --med-color-neutral-dark-30: #{$med-color-neutral-dark-30};
  --med-color-neutral-dark-30-rgb: #{$med-color-neutral-dark-30-rgb};

  --med-color-neutral-dark-20: #{$med-color-neutral-dark-20};
  --med-color-neutral-dark-20-rgb: #{$med-color-neutral-dark-20-rgb};

  --med-color-neutral-dark-10: #{$med-color-neutral-dark-10};
  --med-color-neutral-dark-10-rgb: #{$med-color-neutral-dark-10-rgb};

  // neutral light color
  --med-color-neutral-light-prime: #{$med-color-neutral-light-prime};
  --med-color-neutral-light-prime-rgb: #{$med-color-neutral-light-prime-rgb};

  --med-color-neutral-light-40: #{$med-color-neutral-light-40};
  --med-color-neutral-light-40-rgb: #{$med-color-neutral-light-40-rgb};

  --med-color-neutral-light-30: #{$med-color-neutral-light-30};
  --med-color-neutral-light-30-rgb: #{$med-color-neutral-light-30-rgb};

  --med-color-neutral-light-20: #{$med-color-neutral-light-20};
  --med-color-neutral-light-20-rgb: #{$med-color-neutral-light-20-rgb};

  --med-color-neutral-light-10: #{$med-color-neutral-light-10};
  --med-color-neutral-light-10-rgb: #{$med-color-neutral-light-10-rgb};

  --med-color-neutral-gradient: #{$med-color-neutral-gradient};

  // feedback warning color
  --med-color-feedback-warning-darkest: #{$med-color-feedback-warning-darkest};
  --med-color-feedback-warning-darkest-rgb: #{$med-color-feedback-warning-darkest-rgb};

  --med-color-feedback-warning-dark: #{$med-color-feedback-warning-dark};
  --med-color-feedback-warning-dark-rgb: #{$med-color-feedback-warning-dark-rgb};

  --med-color-feedback-warning-medium: #{$med-color-feedback-warning-medium};
  --med-color-feedback-warning-medium-rgb: #{$med-color-feedback-warning-medium-rgb};

  --med-color-feedback-warning-light: #{$med-color-feedback-warning-light};
  --med-color-feedback-warning-light-rgb: #{$med-color-feedback-warning-light-rgb};

  --med-color-feedback-warning-lightest: #{$med-color-feedback-warning-lightest};
  --med-color-feedback-warning-lightest-rgb: #{$med-color-feedback-warning-lightest-rgb};

  // feedback warning color
  --med-color-feedback-error-darkest: #{$med-color-feedback-error-darkest};
  --med-color-feedback-error-darkest-rgb: #{$med-color-feedback-error-darkest-rgb};

  --med-color-feedback-error-dark: #{$med-color-feedback-error-dark};
  --med-color-feedback-error-dark-rgb: #{$med-color-feedback-error-dark-rgb};

  --med-color-feedback-error-medium: #{$med-color-feedback-error-medium};
  --med-color-feedback-error-medium-rgb: #{$med-color-feedback-error-medium-rgb};

  --med-color-feedback-error-light: #{$med-color-feedback-error-light};
  --med-color-feedback-error-light-rgb: #{$med-color-feedback-error-light-rgb};

  --med-color-feedback-error-lightest: #{$med-color-feedback-error-lightest};
  --med-color-feedback-error-lightest-rgb: #{$med-color-feedback-error-lightest-rgb};

  // feedback success color
  --med-color-feedback-success-darkest: #{$med-color-feedback-success-darkest};
  --med-color-feedback-success-darkest-rgb: #{$med-color-feedback-success-darkest-rgb};

  --med-color-feedback-success-dark: #{$med-color-feedback-success-dark};
  --med-color-feedback-success-dark-rgb: #{$med-color-feedback-success-dark-rgb};

  --med-color-feedback-success-medium: #{$med-color-feedback-success-medium};
  --med-color-feedback-success-medium-rgb: #{$med-color-feedback-success-medium-rgb};

  --med-color-feedback-success-light: #{$med-color-feedback-success-light};
  --med-color-feedback-success-light-rgb: #{$med-color-feedback-success-light-rgb};

  --med-color-feedback-success-lightest: #{$med-color-feedback-success-lightest};
  --med-color-feedback-success-lightest-rgb: #{$med-color-feedback-success-lightest-rgb};
}
