@import "../../themes/ionic.globals";


// Card Title
// --------------------------------------------------

:host {
  position: relative;
  display: block;
}

:host(.ion-color) {
  color: #{current-color(base)} !important;
}
