@import "../../themes/ionic.globals";

// Button Icons
// --------------------------------------------------

// Icons inside of buttons with text
@mixin button-icon {
  font-size: 1.4em;
  line-height: .67;

  pointer-events: none;
}

[icon-left] ion-icon, [icon-right] ion-icon {
  @include button-icon;
}

@include padding-start("[icon-right] ion-icon", .4em);
@include padding-end("[icon-left] ion-icon", .3em);

.button[icon-only] {
  padding: 0;

  min-width: .9em;
}

[icon-only] ion-icon {
  padding: 0 .5em;

  font-size: 1.8em;
  line-height: .67;

  pointer-events: none;
}
