
// Button Variables
// -------------------------------

$button-block-margin:             10px !default;
$button-clear-padding:            6px !default;
$button-border-radius:            2px !default;
$button-border-width:             1px !default;

$button-font-size:                16px !default;
$button-height:                   42px !default;
$button-padding:                  12px !default;
$button-icon-size:                24px !default;

$button-large-font-size:          20px !default;
$button-large-height:             54px !default;
$button-large-padding:            16px !default;
$button-large-icon-size:          32px !default;

$button-small-font-size:          12px !default;
$button-small-height:             28px !default;
$button-small-padding:            4px !default;
$button-small-icon-size:          16px !default;

$button-bar-button-font-size:     13px !default;
$button-bar-button-height:        32px !default;
$button-bar-button-padding:       8px !default;
$button-bar-button-icon-size:     20px !default;


// Button Mixins
// --------------------------------------------------

@mixin button-default($bg-color, $border-color, $active-bg-color, $active-border-color, $color) {
  background-color: $bg-color;
  border-color: $border-color;
  color: $color;

  &:hover,
  &.hover {
    opacity: 0.8;
    color: $color;
    text-decoration: none;
  }

  &.activated {
    border-color: darken($border-color, 10%);
    background-color: $active-bg-color;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
  }
}

@mixin button-clear($color) {
  &.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: $color;
  }
}

@mixin button-outline($color) {
  &.button-outline {
    border-color: $color;
    background: transparent;
    color: $color;

    &.activated {
      background-color: $color;
      box-shadow: none;
      color: #fff;
    }
  }
}


// Button Type and Color Generation
// --------------------------------------------------

@each $color, $value in $colors {
  .button-#{$color} {
    @include button-default(get-color($color, base),
                            get-color($color, dark),
                            inverse-tone($color),
                            get-color($color, dark),
                            get-color($color, inverse));

    @include button-clear(get-color($color, dark));

    @include button-outline(get-color($color, dark));
  }
}


// Button Defaults
// --------------------------------------------------

.button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 $button-padding;

  min-width: ($button-padding * 3) + $button-font-size;
  min-height: $button-height + 5px;

  border-width: $button-border-width;
  border-style: solid;
  border-radius: $button-border-radius;

  vertical-align: top;
  text-align: center;

  text-overflow: ellipsis;
  font-size: $button-font-size;
  line-height: $button-height - $button-border-width + 1px;
  outline: none;

  cursor: pointer;

  &:after {
    // used to create a larger button "hit" area
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' ';
  }

}


// Button Types
// --------------------------------------------------

.button-small {
  padding: 2px $button-small-padding 1px;
  min-width: $button-small-height;
  min-height: $button-small-height + 2;
  font-size: $button-small-font-size;
  line-height: $button-small-height - $button-border-width - 1;
}

.button-large {
  padding: 0 $button-large-padding;
  min-width: ($button-large-padding * 3) + $button-large-font-size;
  min-height: $button-large-height + 5;
  font-size: $button-large-font-size;
  line-height: $button-large-height - $button-border-width;
}

.button-clear {
  @include transition(opacity .1s);
  padding: 0 $button-clear-padding;
  max-height: $button-height;
  border-color: transparent;
  background: none;
  box-shadow: none;

  &.activated {
    opacity: 0.3;
  }
}

.button-outline {
  @include transition(opacity .1s);
  background: none;
  box-shadow: none;
}

.padding > .button.button-block:first-child {
  margin-top: 0;
}

.button-block {
  display: block;
  clear: both;

  &:after {
    clear: both;
  }
}

.button-full,
.button-full > .button {
  display: block;
  margin-right: 0;
  margin-left: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}



// Button Misc
// --------------------------------------------------

a.button {
  text-decoration: none;
}

.button.disabled,
.button[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}

button.button-block,
button.button-full,
.button-full > button.button,
input.button.button-block  {
  width: 100%;
}

