@import "../../globals.ios";

// iOS Menu
// --------------------------------------------------

$menu-ios-background:            $background-ios-color !default;
$menu-ios-box-shadow-color:      rgba(0, 0, 0, .25) !default;
$menu-ios-box-shadow:            0 0 10px $menu-ios-box-shadow-color !default;


.menu-inner {
  background: $menu-ios-background;
}

.menu-content-reveal {
  box-shadow: $menu-ios-box-shadow;
}

.menu-content-push {
  box-shadow: $menu-ios-box-shadow;
}

ion-menu[type=overlay] .menu-inner {
  box-shadow: $menu-ios-box-shadow;
}
