@import "../../themes/ionic.globals";

// Segment
// --------------------------------------------------

ion-segment {
  display: flex;

  flex: 1;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.segment-button {
  @include border-radius(0);
  @include margin-horizontal(0);
  @include text-align(center);

  position: relative;
  display: block;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}
