@import "./item-option";
@import "./item-option.md.vars";

// Material Design Item Option
// --------------------------------------------------

.item-option-md {
  font-size: $item-option-button-md-font-size;

  --ion-color-base: #{$item-option-button-ios-background-color};
  --ion-color-contrast: #{$item-option-button-ios-text-color};
}

.item-option-md .item-option-button {
  font-weight: 500;
  text-transform: uppercase;
}
