
// List
// --------------------------------------------------


.list-header {
  position: relative;
  margin-top: 35px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list {
  position: relative;
  display: block;
  margin: 35px 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.list-footer {
  margin: -25px 0 10px;
}

.list-header + .list {
  margin-top: 0;
}
