@import "../../globals.core";

// List
// --------------------------------------------------

ion-list-header {
  display: flex;
  overflow: hidden;

  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 4rem;
}

ion-list {
  display: block;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

ion-list[inset] {
  overflow: hidden;

  transform: translateZ(0);
}
