@import "../../themes/ionic.globals.md";

@import "../item/item.md.vars";

// Material Design Item Divider
// --------------------------------------------------

/// @prop - Color for the divider
$item-md-divider-color:              #858585 !default;

/// @prop - Background for the divider
$item-md-divider-background:         #fff !default;

/// @prop - Font size for the divider
$item-md-divider-font-size:          1.4rem !default;

/// @prop - Border bottom for the divider
$item-md-divider-border-bottom:      1px solid $list-md-border-color !default;

/// @prop - Padding start for the divider
$item-md-divider-padding-start:      $item-md-padding-start !default;
