@import "../../themes/ionic.globals.wp";
@import "./item-divider";

// Windows Item Divider
// --------------------------------------------------

/// @prop - Color for the divider
$item-wp-divider-color:              $list-wp-text-color !default;

/// @prop - Background for the divider
$item-wp-divider-background:         #fff !default;

/// @prop - Bodrer bottom for the divider
$item-wp-divider-border-bottom:      1px solid $list-wp-border-color !default;

/// @prop - Font size for the divider
$item-wp-divider-font-size:          2rem !default;

/// @prop - Padding start for the divider
$item-wp-divider-padding-start:      $item-wp-padding-start !default;


// Windows Item Divider
// --------------------------------------------------

.item-divider-wp {
  @include padding-horizontal($item-wp-divider-padding-start, null);

  border-bottom: $item-wp-divider-border-bottom;
  font-size: $item-wp-divider-font-size;

  color: $item-wp-divider-color;
  background-color: $item-wp-divider-background;
}


// Generate Windows Item Divider Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-wp) {
  .item-divider-wp-#{$color-name} {
    color: $color-contrast;
    background-color: $color-base;

    p {
      color: $color-contrast;
    }

    &.activated {
      background-color: color-shade($color-base);
    }
  }
}