@import "../../globals.ios";
@import "./tabs";

// iOS Tabs
// --------------------------------------------------

/// @prop - Border on the tabbar (border-top when [tabsPlacement=bottom] and border-bottom when [tabsPlacement=top])
$tabs-ios-border:                   1px solid $toolbar-ios-border-color !default;

/// @prop - Background color of the tabbar
$tabs-ios-background:               $toolbar-ios-background !default;

/// @prop - Padding on the tab button
$tabs-ios-tab-padding:              0 2px !default;

/// @prop - Max width of the tab button
$tabs-ios-tab-max-width:            240px !default;

/// @prop - Min height of the tab button
$tabs-ios-tab-min-height:           49px !default;

/// @prop - Text color of the inactive tab button
$tabs-ios-tab-color:                $toolbar-ios-inactive-color !default;

/// @prop - Text color of the active tab button
$tabs-ios-tab-color-active:         $toolbar-ios-active-color !default;

/// @prop - Font size of the tab button text
$tabs-ios-tab-font-size:            10px !default;

/// @prop - Size of the tab button icon
$tabs-ios-tab-icon-size:            30px !default;


ion-tabbar {
  justify-content: center;

  border-top: $tabs-ios-border;
  background: $tabs-ios-background;
}

ion-tabs[tabsPlacement=top] ion-tabbar {
  border-top: 0;
  border-bottom: $tabs-ios-border;
}

.tab-button {
  padding: $tabs-ios-tab-padding;

  max-width: $tabs-ios-tab-max-width;
  min-height: $tabs-ios-tab-min-height;

  color: $tabs-ios-tab-color;
}

.tab-button:hover:not(.disable-hover),
.tab-button[aria-selected=true] {
  color: $tabs-ios-tab-color-active;
}

.tab-button-text {
  margin-top: 0;
  margin-bottom: 0;

  min-height: $tabs-ios-tab-font-size + 1;

  font-size: $tabs-ios-tab-font-size;
}

.has-title-only .tab-button-text {
  font-size: $tabs-ios-tab-font-size + 2;
}

.tab-button-icon {
  min-width: $tabs-ios-tab-icon-size + 5;
  height: $tabs-ios-tab-icon-size;

  font-size: $tabs-ios-tab-icon-size;

  &::before {
    vertical-align: top;
  }
}

[tabsLayout=icon-right] .tab-button,
[tabsLayout=icon-left] .tab-button {

  .tab-button-text {
    font-size: 1.4rem;
    line-height: 1.1;
  }

  ion-icon {
    min-width: 24px;
    height: 26px;

    font-size: 24px;
  }
}

[tabsLayout=icon-hide] .tab-button,
.tab-button.has-title-only {
  min-height: $tabs-ios-tab-min-height - 8;

  .tab-button-text {
    margin: 2px 0;

    font-size: 1.4rem;
    line-height: 1.1;
  }
}

[tabsLayout=title-hide] .tab-button,
.tab-button.icon-only {
  min-height: $tabs-ios-tab-min-height - 8;
}

&.hairlines ion-tabs {

  ion-tabbar {
    border-top-width: $hairlines-width;
  }

  &[tabsPlacement="top"] ion-tabbar {
    border-bottom-width: $hairlines-width;
  }

}


// iOS Tabbar Color Mixin
// --------------------------------------------------

@mixin tabbar-ios($color-name, $color-base, $color-contrast) {

  ion-tabs[#{$color-name}] ion-tabbar {
    border-color: darken($color-base, 10%);
    background-color: $color-base;

    .tab-button {
      color: $color-contrast;
    }

    .tab-button:hover:not(.disable-hover),
    .tab-button[aria-selected=true] {
      color: $color-contrast;
    }
  }

}


// iOS Tabbar Color Generation
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
  @include tabbar-ios($color-name, $color-base, $color-contrast);
}
