@import "../../themes/ionic.globals.wp";

// Windows Tabs
// --------------------------------------------------

/// @prop - Background color of the tabbar
$tabs-wp-background:                    $toolbar-wp-background !default;

/// @prop - Padding on the tab button
$tabs-wp-tab-padding:                   12px 10px 5px 10px !default;

/// @prop - Min height of the tab button
$tabs-wp-tab-min-height:                4.8rem !default;

/// @prop - Font size of the tab button text
$tabs-wp-tab-font-size:                 1.2rem !default;

/// @prop - Font weight of the tab button text
$tabs-wp-tab-font-weight:               normal !default;

/// @prop - Opacity of the inactive tab button
$tabs-wp-tab-opacity:                   .7 !default;

/// @prop - Text color of the inactive tab button
$tabs-wp-tab-color:                     rgba($toolbar-wp-inactive-color, $tabs-wp-tab-opacity) !default;

/// @prop - Text color of the active tab button
$tabs-wp-tab-color-active:              $toolbar-wp-active-color !default;

/// @prop - Border on the inactive tab button (border-top when [tabsPlacement=bottom] and border-bottom when [tabsPlacement=top])
$tabs-wp-tab-border:                    2px solid transparent !default;

/// @prop - Border color on the active tab button (border-top when [tabsPlacement=bottom] and border-bottom when [tabsPlacement=top])
$tabs-wp-tab-border-color-active:       $tabs-wp-tab-color-active !default;

/// @prop - Background of the tab button when pressed
$tabs-wp-tab-background-activated:      rgba(0, 0, 0, .1) !default;

/// @prop - Size of the tab button icon
$tabs-wp-tab-icon-size:                 2.4rem !default;


.tabs-wp .tabbar {
  background: $tabs-wp-background;
}

.tabs-wp .tab-button {
  padding: $tabs-wp-tab-padding;

  min-height: $tabs-wp-tab-min-height;

  border-bottom: $tabs-wp-tab-border;
  border-radius: 0;
  font-size: $tabs-wp-tab-font-size;
  font-weight: $tabs-wp-tab-font-weight;
  color: $tabs-wp-tab-color;
  box-shadow: none;
}

.tabs-wp .tab-button[aria-selected=true] {
  border-bottom-color: $tabs-wp-tab-border-color-active;
  color: $tabs-wp-tab-color-active;
}

.tabs-wp .tab-button.activated {
  background: $tabs-wp-tab-background-activated;
}

.tabs-wp .tab-button-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabs-wp .tab-button-icon {
  min-width: $tabs-wp-tab-icon-size;

  font-size: $tabs-wp-tab-icon-size;
}

.tabs-wp[tabsLayout=icon-bottom] .tab-button {
  padding-top: 8px;
  padding-bottom: 8px;
}

.tabs-wp[tabsLayout=icon-right] .tab-button,
.tabs-wp[tabsLayout=icon-left] .tab-button {
  padding-bottom: 10px;
}

.tabs-wp[tabsLayout=icon-right] .tab-button ion-icon,
.tabs-wp[tabsLayout=icon-left] .tab-button ion-icon {
  min-width: 24px;
}

.tabs-wp[tabsLayout=icon-hide] .tab-button,
.tabs-wp[tabsLayout=title-hide] .tab-button,
.tabs-wp .tab-button.icon-only,
.tabs-wp .tab-button.has-title-only {
  padding: 6px 10px;
}

.tabs-wp[tabsPlacement=bottom] .tab-button {
  border-top: $tabs-wp-tab-border;
  border-bottom-width: 0;
}

.tabs-wp[tabsPlacement=bottom] .tab-button[aria-selected=true] {
  border-top-color: $tabs-wp-tab-border-color-active;
}


// Windows Tabbar Color Mixin
// --------------------------------------------------

@mixin tabbar-wp($color-name, $color-base, $color-contrast) {

  .tabs-wp-#{$color-name} .tabbar {
    background-color: $color-base;
  }

  .tabs-wp-#{$color-name} .tabbar .tab-button {
    color: rgba($color-contrast, $tabs-wp-tab-opacity);
  }

  .tabs-wp-#{$color-name} .tabbar .tab-button:hover:not(.disable-hover),
  .tabs-wp-#{$color-name} .tabbar .tab-button[aria-selected=true] {
    border-color: $color-contrast;
    color: $color-contrast;
  }

}


// Windows Tabbar Color Generation
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-wp) {
  @include tabbar-wp($color-name, $color-base, $color-contrast);
}
