@import "../../globals.md";
@import "./tabs";

// Material Design Tabs
// --------------------------------------------------

$tabbar-md-background:               $toolbar-md-background !default;
$tabbar-md-item-padding:             8px 0 10px 0 !default;
$tabbar-md-item-font-size:           1.4rem !default;
$tabbar-md-item-font-weight:         normal !default;
$tabbar-md-item-icon-size:           2.4rem !default;
$tabbar-md-item-height:              5.6rem !default;

$tab-button-md-active-color:         $toolbar-md-active-color !default;
$tab-button-md-active-font-size:     1.5rem !default;
$tab-button-md-active-padding-top:   6px !default;
$tab-button-md-inactive-opacity:     .7 !default;
$tab-button-md-inactive-color:       rgba($toolbar-md-inactive-color, $tab-button-md-inactive-opacity) !default;
$tab-button-md-text-transform:       none !default;
$tab-button-md-text-margin:          6px 0 !default;


ion-tabbar {
  background: $tabbar-md-background;
}

.tab-button {
  padding: $tabbar-md-item-padding;

  min-height: $tabbar-md-item-height;

  font-size: $tabbar-md-item-font-size;
  font-weight: $tabbar-md-item-font-weight;
  color: $tab-button-md-inactive-color;

  &[aria-selected=true] {
    color: $tab-button-md-active-color;
    font-size: $tab-button-md-active-font-size;
    padding-top: $tab-button-md-active-padding-top;
  }
}

.tab-button-text {
  margin: $tab-button-md-text-margin;

  text-transform: $tab-button-md-text-transform;
}

.tab-button-icon {
  min-width: $tabbar-md-item-icon-size + 5;

  font-size: $tabbar-md-item-icon-size;
}

[tabsLayout=icon-top] {
  .has-icon .tab-button-text {
    margin-bottom: 0;
  }
}

[tabsLayout=icon-bottom] {
  .tab-button {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .tab-button-text {
    margin-top: 0;
  }
}

[tabsLayout=icon-right] .tab-button,
[tabsLayout=icon-left] .tab-button {
  padding-bottom: 10px;

  ion-icon {
    min-width: 24px;
  }
}

[tabsLayout=icon-hide] .tab-button,
[tabsLayout=title-hide] .tab-button,
.tab-button.icon-only,
.tab-button.has-title-only {
  padding: 6px 10px;
}

// Material Design Tab Highlight
// --------------------------------------------------

[tabsHighlight=true] {

  tab-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;

    width: 1px;
    height: 2px;

    background: $tab-button-md-active-color;
    transform: translateZ(0);
    transform-origin: 0 0;

    &.animate {
      transition-duration: 300ms;
    }
  }

  &[tabsPlacement=bottom] tab-highlight {
    top: 0;
  }

}


// Material Design Tabs Color Mixin
// --------------------------------------------------

@mixin tabbar-md($color-name, $color-base, $color-contrast) {

  ion-tabs[#{$color-name}] ion-tabbar {
    background-color: $color-base;

    .tab-button {
      color: rgba($color-contrast, $tab-button-md-inactive-opacity);
    }

    .tab-button:hover:not(.disable-hover),
    .tab-button[aria-selected=true] {
      color: $color-contrast;
    }

    tab-highlight {
      background: $color-contrast;
    }
  }

}


// Material Design Tabbar Color Generation
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {
  @include tabbar-md($color-name, $color-base, $color-contrast);
}
