@import "./picker";
@import "./picker.md.vars";

// Material Design Picker
// --------------------------------------------------

.picker-md .picker-wrapper {
  height: $picker-md-height;

  border-top: $hairlines-width solid $picker-md-border-color;

  background: $picker-md-background-color;
}

.picker-md .picker-toolbar {
  display: flex;

  justify-content: flex-end;

  height: $picker-md-toolbar-height;

  background: $picker-md-toolbar-background-color;
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
  @include margin(0);
  @include padding(0, 1.1em);

  height: $picker-md-button-height;

  font-size: $picker-md-button-font-size;
  font-weight: 500;
  text-transform: uppercase;
  color: $picker-md-button-text-color;
  background: $picker-md-button-background-color;
  box-shadow: none;
}

.picker-md .picker-columns {
  height: $picker-md-height - $picker-md-toolbar-height;

  perspective: 1800px;
}

.picker-md .picker-col {
  @include padding($picker-md-column-padding-top, $picker-md-column-padding-end, $picker-md-column-padding-bottom, $picker-md-column-padding-start);

  transform-style: preserve-3d;
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opts {
  top: $picker-md-option-offset-y;

  font-size: $picker-md-option-font-size;
  line-height: $picker-md-option-height;
  color: $picker-md-option-text-color;

  transform-style: preserve-3d;

  pointer-events: none;
}


.picker-md .picker-opt {
  @include margin(0);
  @include padding($picker-md-option-padding-top, $picker-md-option-padding-end, $picker-md-option-padding-bottom, $picker-md-option-padding-start);

  height: 4.3rem;

  font-size: $picker-md-option-font-size;
  line-height: $picker-md-option-height;
  color: $picker-md-option-text-color;

  background: transparent;

  transition-timing-function: ease-out;

  backface-visibility: hidden;

  pointer-events: auto;
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {

  color: $picker-md-option-selected-color;
}

.picker-md .picker-above-highlight {
  @include position(0, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;
  z-index: 10;

  width: 100%;
  height: $picker-md-option-offset-y + 4px;

  border-bottom: 1px solid $picker-md-border-color;

  background: linear-gradient(to bottom,
                            rgba($picker-md-background-color, 1) 20%,
                            rgba($picker-md-background-color, .7) 100%);
}

.picker-md .picker-below-highlight {
  @include position($picker-md-option-offset-y + $picker-md-option-height - 4, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;
  z-index: 11;

  width: 100%;
  height: $picker-md-option-offset-y + $picker-md-option-height;

  border-top: 1px solid $picker-md-border-color;

  background: linear-gradient(to top,
                           rgba($picker-md-background-color, 1) 30%,
                           rgba($picker-md-background-color, .7) 100%);
}
