@import "../../../../../med-components/abstracts";

:host(.med-vote) {
  display: block;
  padding-top: $med-spacing-stack-base;

  .med-vote__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: $med-spacing-stack-base;
    align-items: center;
  }

  .med-vote__icon-container {
    display: flex;
    align-items: center;
  }

  .med-vote__icon {
    min-width: 24px;

    &--cabe {
      stroke: md-color(fb-success, 3);
    }

    &--nao-cabe {
      stroke: md-color(fb-warning, 3);
    }
  }

  .med-vote__heading {
    font-size: $med-font-size-sm;
    line-height: $med-line-height-compressed;
    font-weight: $med-font-weight-semibold;
    color: var(--med-neutral-10);
    margin: 0;
  }

  .med-vote__badge {
    display: flex;
    height: 26px;
    border-radius: $med-border-radius-md;
    font-size: $med-font-size-xs;
    line-height: $med-line-height-compressed;
    justify-content: center;
    align-items: center;
    font-weight: $med-font-weight-semibold;
    width: 100%;
    padding: 0 $med-spacing-inline-xxxs;

    &--cabe {
      background-color: md-color(fb-success, 3);
      color: md-color(fb-success, contrast-1);
      margin-left: $med-spacing-inline-xxxs;
    }

    &--nao-cabe {
      background-color: md-color(fb-warning, 3);
      color: md-color(fb-warning, contrast-1);
      margin-right: $med-spacing-inline-xxxs;
    }
  }

  .med-vote__chart {
    height: 2px;

    &--cabe {
      background-color: md-color(fb-success, 3);
      margin-right: $med-spacing-inline-nano;
    }

    &--nao-cabe {
      background-color: md-color(fb-warning, 3);
      margin-left: $med-spacing-inline-nano;
    }
  }
}
