@import "../accordion/accordion.vars";

:host {
  display: block;
}

/**
 * Accordion Expansion Styles
 */
:host(.accordion-group-expand-popout) ::slotted(ion-accordion.accordion-collapsing),
:host(.accordion-group-expand-popout) ::slotted(ion-accordion.accordion-collapsed) {
  width: calc(100% - #{$accordion-margin * 2});
}

:host(.accordion-group-expand-popout) ::slotted(ion-accordion.accordion-expanding),
:host(.accordion-group-expand-popout) ::slotted(ion-accordion.accordion-expanded) {
  width: 100%;
  margin: $accordion-margin auto;

  border-radius: $accordion-border-radius !important;
}

:host(.accordion-group-expand-inset) ::slotted(ion-accordion.accordion-collapsing),
:host(.accordion-group-expand-inset) ::slotted(ion-accordion.accordion-collapsed) {
  width: 100%;
}

:host(.accordion-group-expand-inset) ::slotted(ion-accordion.accordion-expanding),
:host(.accordion-group-expand-inset) ::slotted(ion-accordion.accordion-expanded) {
  width: calc(100% - #{$accordion-margin * 2});
  margin: $accordion-margin auto;

  border-radius: $accordion-border-radius !important;
}

/**
 * Next/Previous Accordions
 */
:host(.accordion-group-expand-inset) ::slotted(ion-accordion.accordion-previous),
:host(.accordion-group-expand-popout) ::slotted(ion-accordion.accordion-previous) {
  border-bottom-left-radius: $accordion-border-radius;
  border-bottom-right-radius: $accordion-border-radius;
}

:host(.accordion-group-expand-inset) ::slotted(ion-accordion.accordion-next),
:host(.accordion-group-expand-popout) ::slotted(ion-accordion.accordion-next) {
  border-top-left-radius: $accordion-border-radius;
  border-top-right-radius: $accordion-border-radius;
}
