@import "./slides";
@import "./slides.ios.vars";

// iOS Slides
// --------------------------------------------------

.swiper-pagination-bullet {
  --bullet-background-color: #{$slides-ios-bullet-background-color};
}

.swiper-pagination-bullet-active {
  --bullet-background-color: #{$slides-ios-bullet-background-color-active};
}

.swiper-pagination-progress {
  --progress-background-color: #{$slides-ios-progress-background-color};
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  --progress-bar-background-color: #{$slides-ios-progress-bar-background-color};
}

.swiper-scrollbar {
  --swiper-scrollbar-background-color: #{$slides-ios-scroll-bar-background-color};
}

.swiper-scrollbar-drag {
  --swiper-scrollbar-background-color: #{$slides-ios-scroll-bar-drag-background-color};
}
