@import "./slides";
@import "./slides.md.vars";

// Material Design Slides
// --------------------------------------------------

.swiper-pagination-bullet {
  --bullet-background-color: #{$slides-md-bullet-background-color};
}

.swiper-pagination-bullet-active {
  --bullet-background-color: #{$slides-md-bullet-background-color-active};
}

.swiper-pagination-progress {
  --progress-background-color: #{$slides-md-progress-background-color};
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  --progress-bar-background-color: #{$slides-md-progress-bar-background-color};
}

.swiper-scrollbar {
  --swiper-scrollbar-background-color: #{$slides-md-scroll-bar-background-color};
}

.swiper-scrollbar-drag {
  --swiper-scrollbar-background-color: #{$slides-md-scroll-bar-drag-background-color};
}
