@import "../../themes/ionic.globals.md";

/// @prop - Slides Bullet Background color
$slides-md-bullet-background-color:                   $text-color-step-400 !default;

/// @prop - Slides Bullet Background color when Active
$slides-md-bullet-background-color-active:            get-color(primary, base) !default;

/// @prop - Slides Progress indicator Background color alpha
$slides-md-progress-background-color-alpha:           .25 !default;

/// @prop - Slides Progress indicator Background color
$slides-md-progress-background-color:                 rgba(var(--ion-text-color-rgb, $text-color-rgb), $slides-md-progress-background-color-alpha) !default;

/// @prop - Slides Progress indicator bar Background color
$slides-md-progress-bar-background-color:             get-color(primary, shade) !default;

/// @prop - Slides Scroll bar Background color alpha
$slides-md-scroll-bar-background-color-alpha:         .25 !default;

/// @prop - Slides Scroll bar Background color
$slides-md-scroll-bar-background-color:               rgba(var(--ion-text-color-rgb, $text-color-rgb), $slides-md-scroll-bar-background-color-alpha) !default;

/// @prop - Slides Scroll bar drag handle Background color alpha
$slides-md-scroll-bar-drag-background-color-alpha:    .5 !default;

/// @prop - Slides Scroll bar drag handle Background color
$slides-md-scroll-bar-drag-background-color:          rgba(var(--ion-text-color-rgb, $text-color-rgb), $slides-md-scroll-bar-drag-background-color-alpha) !default;
