.swiper-slide {
  padding: 16px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 0;
}

.swiper-pagination-bullet {
  background: transparent;
  border: $med-border-width-thin solid #fff;
}

.swiper-pagination-bullet-active {
  border: none;
  background: #fff;
}
