@import "../../../templarios/abstracts";

:host {
  --background: #{color('brand', '3')};
  --color: #{color('brand', '3', 'contrast')};
  --padding-bottom: 0;
  --padding-end: var(--med-spacing-inline-base);
  --padding-start: var(--med-spacing-inline-base);
  --padding-top: 0;

  --border-color: #{color('brand', '3')};
}

:host(.med-badge) {
  font-size: var(--med-font-size-xxs);
  font-weight: var(--med-font-weight-medium);
  line-height: var(--med-line-height-compressed);
  border-radius: var(--med-border-radius-pill);
  border-color: var(--border-color);
  border-width: var(--med-border-width-hairline);
  font-family: inherit;
  min-width: auto;
  border-style: solid;
  height: 24px;
  display: inline-flex;
  align-items: center;
}

// ////////////////////
// sizes
// ////////////////////

:host(.med-badge--xxs) {
  --padding-start: var(--med-spacing-inline-xxxs);
  --padding-end: var(--med-spacing-inline-xxxs);
  font-size: var(--med-font-size-nano);
  font-weight: var(--font-weight-light);
  height: 16px;
}

:host(.med-badge--xs) {
  --padding-start: var(--med-spacing-inline-xxxs);
  --padding-end: var(--med-spacing-inline-xxxs);
  font-size: var(--med-font-size-nano);
  font-weight: var(--med-font-weight-medium);
  height: 16px;
}

:host(.med-badge--sm) {
  --padding-start: var(--med-spacing-inline-base);
  --padding-end: var(--med-spacing-inline-base);
  font-size: var(--med-font-size-nano);
  font-weight: var(--med-font-weight-medium);
  height: 24px;
}

:host(.med-badge--md) {
  --padding-start: var(--med-spacing-inline-base);
  --padding-end: var(--med-spacing-inline-base);
  font-size: var(--med-font-size-xxs);
  font-weight: var(--med-font-weight-medium);
  height: 32px;
}

:host(.med-badge--lg){
  --padding-start: var(--med-spacing-inline-xxs);
  --padding-end: var(--med-spacing-inline-xxs);
  font-size: var(--med-font-size-xs);
  font-weight: var(--med-font-weight-medium);
  height: 40px;
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --border-color: #{curr-color('color', '3')};
  background: curr-color('color', '3');
  color: curr-color('color', '3', 'contrast');
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --border-color: #{curr-color('neutral')};
  background: curr-color('neutral');
  color: curr-color('neutral', null, 'contrast');
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --border-color: #{curr-color('feedback')};
  background: curr-color('feedback');
  color: curr-color('feedback', null, 'contrast');
}

// //////////////////////////////
// secondary
// //////////////////////////////

:host(.med-badge--secondary) {
  border-style: solid;
  background: transparent;
  color: #{color('brand', '3')};
}

// ////////////////////
// color
// ////////////////////

:host(.med-color.med-badge--secondary) {
  --border-color: #{curr-color('color', '3')};
  background: transparent;
  color: curr-color('color', '3');
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral.med-badge--secondary) {
  --border-color: #{curr-color('neutral')};
  background: transparent;
  color: curr-color('neutral');
}

// //////////
// feedback
// //////////

:host(.med-color-feedback.med-badge--secondary) {
  --border-color: #{curr-color('feedback')};
  background: transparent;
  color: curr-color('feedback');
}
