@import "../../themes/ionic.globals";


// Material Design Ripple Effect
// --------------------------------------------------

:host {
  @include position(0, 0, 0, 0);

  position: absolute;

  contain: strict;
}

.ripple-effect {
  @include border-radius(50%);

  position: absolute;

  color: inherit;
  background-color: currentColor;

  opacity: 0;

  animation-name: rippleAnimation;
  animation-duration: 200ms;
  animation-timing-function: ease-out;

  will-change: transform, opacity;

  contain: strict;

  pointer-events: none;
}

@keyframes rippleAnimation {
  0% {
    opacity: .2;
    transform: scale(.1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
