@import "../functions";
@import "../variables";
@import "../mixins";

$med-brand: 43;

$new-medsoft-colors: (
  brand: (
    1: hsl($med-brand, $med-saturation, $med-lightest),
    2: hsl($med-brand, $med-saturation, $med-light),
    3: hsl($med-brand, $med-saturation, $med-medium),
    4: hsl($med-brand, $med-saturation, $med-dark),
    5: hsl($med-brand, $med-saturation, $med-darkest),
    gradient: linear-gradient(to right, hsl($med-brand, $med-saturation, $med-medium), hsl($med-brand, $med-saturation, $med-lightest)),
  )
);

@include new-generate-custom-theme-scheme('gold', 'light');
