@import "../../themes/ionic.globals";

// Img
// --------------------------------------------------

/// @prop - Color of the image when it hasn't fully loaded yet
$img-placeholder-background:         #eee !default;


ion-img {
  display: inline-block;

  min-width: 20px;
  min-height: 20px;

  background: $img-placeholder-background;

  contain: strict;
}

ion-img img {
  object-fit: cover;
}

ion-img.img-unloaded img {
  display: none;
}

ion-img.img-loaded img {
  display: block;
}
