@import "./split-pane";
@import "./split-pane.md.vars";

// Split Pane
// --------------------------------------------------

:host(.split-pane-md) {
  --border: #{$split-pane-md-border};
}

:host(.split-pane-md.split-pane-visible) ::slotted(.split-pane-side) {
  min-width: $split-pane-md-side-min-width;
  max-width: $split-pane-md-side-max-width;

  border-right: var(--border);
  border-left: 0;
}

:host(.split-pane-md.split-pane-visible) ::slotted(.split-pane-side[side=end]) {
  min-width: $split-pane-md-side-min-width;
  max-width: $split-pane-md-side-max-width;

  border-right: 0;
  border-left: var(--border);
}
