@import "../../themes/ionic.globals.wp";

// Windows Phone Toast
// --------------------------------------------------

/// @prop - Background of the toast wrapper
$toast-wp-background:                            rgba(0, 0, 0, 1) !default;

/// @prop - Border radius of the toast wrapper
$toast-wp-border-radius:                         0 !default;

/// @prop - Color of the toast button
$toast-wp-button-color:                          #fff !default;

/// @prop - Color of the toast title
$toast-wp-title-color:                           #fff !default;

/// @prop - Font size of the toast title
$toast-wp-title-font-size:                       1.4rem !default;

/// @prop - Padding of the toast title
$toast-wp-title-padding:                         1.5rem !default;


.toast-wp .toast-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: $z-index-overlay-wrapper;
  display: block;

  margin: auto;

  max-width: $toast-max-width;

  border-radius: $toast-wp-border-radius;
  background: $toast-wp-background;
}

.toast-wp .toast-wrapper.toast-top {
  top: 0;

  opacity: .01;
}

.toast-wp .toast-wrapper.toast-bottom {
  bottom: 0;

  opacity: .01;
}

.toast-wp .toast-wrapper.toast-middle {
  opacity: .01;
}

.toast-message {
  padding: $toast-wp-title-padding;

  font-size: $toast-wp-title-font-size;

  color: $toast-wp-title-color;
}

.toast-button {
  color: $toast-wp-button-color;
}
