@import "../../globals.ios";
@import "./toast";

// iOS Toast
// --------------------------------------------------

$toast-ios-text-align:                            left !default;
$toast-ios-background:                            rgba(0, 0, 0, .9) !default;
$toast-ios-border-radius:                         .65rem !default;

$toast-ios-title-color:                           #fff !default;
$toast-ios-title-font-size:                       1.4rem !default;
$toast-ios-title-padding:                         1.5rem !default;

.toast-wrapper {
  position: absolute;
  right: 10px;

  left: 10px;
  z-index: $z-index-overlay-wrapper;
  display: block;

  margin: auto;

  max-width: $toast-max-width;

  border-radius: $toast-ios-border-radius;

  background: $toast-ios-background;

  &.toast-top {
    top: 0;

    transform: translate3d(0, -100%, 0);
  }

  &.toast-bottom {
    bottom: 0;

    transform: translate3d(0, 100%, 0);
  }

  &.toast-middle {
    opacity: .01;
  }
}

.toast-message {
  padding: $toast-ios-title-padding;

  font-size: $toast-ios-title-font-size;

  color: $toast-ios-title-color;
}
