@import "../../themes/ionic.globals.wp";

// Windows Phone Toast
// --------------------------------------------------

/// @prop - Background of the toast wrapper
$toast-wp-background:                            rgba(0, 0, 0, 1) !default;

/// @prop - Border radius of the toast wrapper
$toast-wp-border-radius:                         0 !default;

/// @prop - Color of the toast button
$toast-wp-button-color:                          #fff !default;

/// @prop - Color of the toast title
$toast-wp-title-color:                           #fff !default;

/// @prop - Font size of the toast title
$toast-wp-title-font-size:                       1.4rem !default;

// deprecated
$toast-wp-title-padding:                         null !default;

/// @prop - Padding top of the toast title
$toast-wp-title-padding-top:                     1.5rem !default;

/// @prop - Padding end of the toast title
$toast-wp-title-padding-end:                     $toast-wp-title-padding-top !default;

/// @prop - Padding bottom of the toast title
$toast-wp-title-padding-bottom:                  $toast-wp-title-padding-top !default;

/// @prop - Padding start of the toast title
$toast-wp-title-padding-start:                   $toast-wp-title-padding-end !default;


.toast-wp .toast-wrapper {
  @include position-horizontal(0, 0);
  @include margin(auto);
  @include border-radius($toast-wp-border-radius);

  position: absolute;

  z-index: $z-index-overlay-wrapper;
  display: block;

  max-width: $toast-max-width;

  background: $toast-wp-background;
}

.toast-wp .toast-wrapper.toast-top {
  top: 0;

  opacity: .01;
}

.toast-wp .toast-wrapper.toast-bottom {
  bottom: 0;

  opacity: .01;
}

.toast-wp .toast-wrapper.toast-middle {
  opacity: .01;
}

.toast-message {
  font-size: $toast-wp-title-font-size;

  color: $toast-wp-title-color;

  @include deprecated-variable(padding, $toast-wp-title-padding) {
    @include padding($toast-wp-title-padding-top, $toast-wp-title-padding-end, $toast-wp-title-padding-bottom, $toast-wp-title-padding-start);
  }
}

.toast-button {
  color: $toast-wp-button-color;
}
