@import "./input-otp";
@import "../../themes/ionic.globals.ios";

// iOS Input OTP
// --------------------------------------------------

:host {
  --border-width: #{$hairlines-width};
}

:host(.has-focus) .native-input:focus {
  --border-width: 1px;
}

// Fills
// --------------------------------------------------

:host(.input-otp-fill-outline) {
  --border-color: #{$item-ios-border-color};
}
