@use "../../themes/native/native.theme.default" as native;
@use "../../themes/mixins" as mixins;
@use "../../themes/functions.font" as font;
@use "./alert";

// Alert: Native
// --------------------------------------------------

.alert-radio-label,
.alert-checkbox-label {
  gap: 12px;
}

.select-option-description {
  @include mixins.padding(5px, 0, 0, 0);

  color: native.$text-color-step-300;

  font-size: font.dynamic-font(12px);
}
