@import "../../../../../templarios/abstracts";

:host(.med-item-aulas) {
  background: color('neutral', '2');
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

:host(.med-item-aulas) .med-item-aulas__top {
  display: flex;
  padding: var(--spacing-inset-sm);

  ion-icon {
    min-width: 1em;
  }
}

:host(.med-item-aulas) .med-item-aulas__info {
  width: 100%;
  margin: 0 var(--spacing-inset-sm);
}

:host(.med-item-aulas) {
  .med-item-aulas__professor,
  .med-item-aulas__nome,
  .med-item-aulas__total {
    margin: 0;
  }
}

:host(.med-item-aulas) .med-item-aulas__nome {
  font-size: var(--med-font-size-xs);
  font-weight: var(--med-font-weight-bold);
  line-height: var(--med-line-height-compressed);
  color: color('neutral', '10');
}

:host(.med-item-aulas) .med-item-aulas__professor {
  font-size: var(--med-font-size-xxxs);
  font-weight: var(--med-font-weight-regular);
  line-height: var(--line-height-default);
  color: color('neutral', '7');
  opacity: var(--opacity-level-semiopaque);
}

:host(.med-item-aulas) .med-item-aulas__total {
  font-size: var(--med-font-size-nano);
  font-weight: var(--med-font-weight-regular);
  line-height: var(--line-height-default);
  color: color('neutral', '7');
  opacity: var(--opacity-level-semiopaque);
  margin-bottom: var(--spacing-stack-base);
}
