// Flex Utilities
// --------------------------------------------------
// Creates flex attributes to align flex containers
// and items

// Align Self
// --------------------------------------------------

[align-self-start] {
  align-self: flex-start !important;
}

[align-self-end] {
  align-self: flex-end !important;
}

[align-self-center] {
  align-self: center !important;
}

[align-self-stretch] {
  align-self: stretch !important;
}

[align-self-baseline] {
  align-self: baseline !important;
}

[align-self-auto] {
  align-self: auto !important;
}


// Flex Wrap
// --------------------------------------------------

[wrap] {
  flex-wrap: wrap !important;
}

[nowrap] {
  flex-wrap: nowrap !important;
}

[wrap-reverse] {
  flex-wrap: wrap-reverse !important;
}


// Justify Content
// --------------------------------------------------

[justify-content-start] {
  justify-content: flex-start !important;
}

[justify-content-center] {
  justify-content: center !important;
}

[justify-content-end] {
  justify-content: flex-end !important;
}

[justify-content-around] {
  justify-content: space-around !important;
}

[justify-content-between] {
  justify-content: space-between !important;
}

[justify-content-evenly] {
  justify-content: space-evenly !important;
}


// Align Items
// --------------------------------------------------

[align-items-start] {
  align-items: flex-start !important;
}

[align-items-center] {
  align-items: center !important;
}

[align-items-end] {
  align-items: flex-end !important;
}

[align-items-stretch] {
  align-items: stretch !important;
}

[align-items-baseline] {
  align-items: baseline !important;
}
