@import "../themes/ionic.globals";
@import "../themes/ionic.mixins";

$padding: calc(var(--ion-padding, 16px));
$margin: calc(var(--ion-padding, 16px));

ion-app [no-padding],
ion-app [no-padding] .scroll-inner {
  @include padding(0);
}

[padding],
[padding] .scroll-inner {
  @include padding($padding);
}

[padding-top],
[padding-top] .scroll-inner {
  @include padding($padding, null, null, null);
}

[padding-left],
[padding-left] .scroll-inner {
  @include padding-horizontal($padding, null);
}

[padding-right],
[padding-right] .scroll-inner {
  @include padding-horizontal(null, $padding);
}

[padding-bottom],
[padding-bottom] .scroll-inner {
  @include padding(null, null, $padding, null);
}

[padding-vertical],
[padding-vertical] .scroll-inner {
  @include padding($padding, null, $padding, null);
}

[padding-horizontal],
[padding-horizontal] .scroll-inner {
  @include padding-horizontal($padding);
}


// Content Margin
// --------------------------------------------------

ion-app [no-margin],
ion-app [no-margin] ion-scroll {
  @include margin(0);
}

[margin],
[margin] .scroll-inner {
  @include margin($margin);
}

[margin-top],
[margin-top] .scroll-inner {
  @include margin($margin, null, null, null);
}

[margin-left],
[margin-left] .scroll-inner {
  // scss-lint:disable PropertySpelling
  margin-left: $margin;
}

[margin-start],
[margin-start] .scroll-inner {
  @include margin-horizontal($margin, null);
}

[margin-right],
[margin-right] .scroll-inner {
  // scss-lint:disable PropertySpelling
  margin-right: $margin;
}

[margin-end],
[margin-end] .scroll-inner {
  @include margin-horizontal(null, $margin);
}

[margin-bottom],
[margin-bottom] .scroll-inner {
  @include margin(null, null, $margin, null);
}

[margin-vertical],
[margin-vertical] .scroll-inner {
  @include margin($margin, null, $margin, null);
}

[margin-horizontal],
[margin-horizontal] .scroll-inner {
  @include margin-horizontal($margin);
}

