@import "./list-header";
@import "./list-header.ios.vars";

// iOS List Header
// --------------------------------------------------

.list-header-ios {
  @include padding-horizontal($list-ios-header-padding-start, null);

  position: relative;

  border-bottom: $list-ios-header-border-bottom;
  font-size: $list-ios-header-font-size;
  font-weight: $list-ios-header-font-weight;
  letter-spacing: $list-ios-header-letter-spacing;
  text-transform: $list-ios-header-text-transform;
  color: $list-ios-header-color;
  background: $list-ios-header-background-color;
}


// Generate iOS List Header Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
  .list-header-ios-#{$color-name} {
    color: $color-contrast;
    background-color: $color-base;
  }
}
