---
name: simple
component: ionFooterBar
---
<div ng-controller="FooterBarSimpleCtrl">
  <ion-footer-bar class="bar-assertive"
      ng-class="{'bar-subfooter': data.isSubfooter}"
      ng-show="data.isShown">
    <h1 class="title">Footer</h1>
  </ion-footer-bar>
  <ion-content>
    <ion-toggle ng-model="data.isSubfooter">
      Make it a Subfooter?
    </ion-toggle>
    <ion-toggle ng-model="data.isShown">
      Show it?
    </ion-toggle>
    <div class="list">
      <div class="item" ng-repeat="item in items">
        {{item}}
      </div>
    </div>
  </ion-content>
</div>
