<ion-view view-title="!attr Title!">

  <ion-view-title>
    !ele Title!
  </ion-view-title>

  <ion-nav-items side="primary">
    <button>
      <icon home></icon>
    </button>
    <button>p2</button>
    <button>p3</button>
    <button>p4</button>
  </ion-nav-items>

  <ion-nav-items side="secondary">
    <button>s1</button>
    <button>s2</button>
  </ion-nav-items>

  <ion-content class="padding">

    <button class="button button-positive">
      <icon home></icon>
      Home
    </button>

  </ion-content>

</ion-view>
