@import "../../themes/ionic.globals";

// Anchor
// --------------------------------------------------

:host {
  --text-decoration: none;

  // default background / color
  --color: #{ion-color(primary, base)};
  --background: transparent;

  text-decoration: var(--text-decoration);

  color: var(--color);
  background: var(--background);
}

:host(.ion-color) {
  --color: #{current-color(base)};
}

a {
  @include text-inherit();
}
