@import "./popover";
@import "./popover.md.vars";

// Material Design Popover
// --------------------------------------------------

:host {
  --width: #{$popover-md-width};
  --max-height: #{$popover-md-max-height};
  --box-shadow: #{$popover-md-box-shadow};
}

.popover-content {
  @include border-radius($popover-md-border-radius);
  @include transform-origin(start, top);
}

.popover-viewport {
  transition-delay: 100ms;
}
