import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';

/*
  Generated class for the $CLASSNAME page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
*/
@Component({
  selector: 'page-$FILENAME',
  templateUrl: '$FILENAME.html'
})
export class $CLASSNAME {

  constructor(public navCtrl: NavController) {}

  ionViewDidLoad() {
    console.log('Hello $CLASSNAME Page');
  }

}
