@import "./ionic.globals";

.hide,
[hidden],
template {
  display: none !important;
}

.sticky {
  position: sticky;
  top: 0;
}


// Click Block
// --------------------------------------------------
// Fill the screen to block clicks (a better pointer-events: none)
// to avoid full-page reflows and paints which can cause flickers

.click-block {
  display: none;
}

.click-block-enabled {
  @include position(0, 0, 0, 0);
  @include transform(translate3d(0, -100%, 0), translateY(1px));

  position: absolute;

  z-index: $z-index-click-block;
  display: block;

  opacity: 0;

  contain: strict;
}

.click-block-active {
  @include transform(translate3d(0, 0, 0));
}
