@import "../../../templarios/abstracts";

:host {
  --spacing: var(--med-spacing-squish-xs)
  --background: var(--med-color-neutral-light-prime);
  --height: 48px;
  --border-radius: var(--med-border-radius-sm);
  --border-width: var(--med-border-width-hairline);
  --border-color: var(--med-color-neutral-light-10);
  --border-style: solid;
  --color: var(--med-color-neutral-dark-20);

  --placeholder-spacing: var(--med-spacing-stack-nano);
  --placeholder-font-size: var(--med-font-size-xs);
  --placeholder-line-height: var(--med-line-height-compressed);


  //ionic
  --padding-end: var(--med-spacing-inline-base);
  --placeholder-color: var(--med-color-neutral-light-20);
  --placeholder-font-weight: var(--med-font-weight-regular);

  padding: var(--spacing);
  padding-right: 56px;
  background: var(--background);
  height: var(--height);
  border-style: var(--border-style);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
  text-align: left;
  color: var(--color);

  &::placeholder {
    margin: var(--placeholder-spacing);
    font-size: var(--placeholder-font-size);
    font-weight: var(--placeholder-font-weight);
    line-height: var(--placeholder-line-height);
    color: var(--placeholder-color);
  }
}

:host(.has-focus) {
  --border-width: var(--med-border-width-thin);
}

:host([success]) {
  --border-color: var(--med-color-feedback-success-medium);
  --color: var(--med-color-neutral-dark-20);
  --padding-end: 56px;
}

:host([error]) {
  --border-color: var(--med-color-feedback-error-medium);
}

::slotted(ion-icon) {
  position: absolute;
  right: 16px;
  fill: var(--med-color-feedback-success-medium);
  width: 24px;
  height: 24px;
}
