@import "./input.vars";

// Input
// --------------------------------------------------

:host {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;

  width: 100%;

  --padding-top: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;

  --border-radius: 0px;
}


// Native Text Input
// --------------------------------------------------

.native-input {
  @include border-radius(var(--border-radius));
  @include placeholder(var(--placeholder-color));

  @include padding(
    var(--padding-top),
    var(--padding-end),
    var(--padding-bottom),
    var(--padding-start)
  );

  box-sizing: border-box;
  display: inline-block;

  flex: 1;

  width: 100%;

  border: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;

  background: transparent;

  appearance: none;
}

.native-input[disabled] {
  opacity: .4;
}

.native-input:-webkit-autofill {
  background-color: transparent;
}


// Input Cover: Unfocused
// --------------------------------------------------
// The input cover is the div that actually receives the
// tap/click event when scroll assist is configured to true.
// This make it so the native input element is not clickable.
// This will only show when the scroll assist is configured
// otherwise the .input-cover will not be rendered at all
// The input cover is not clickable when the input is disabled

.input-cover {
  @include position(0, null, null, 0);

  position: absolute;

  width: 100%;
  height: 100%;
}

:host([disabled]) .input-cover {
  pointer-events: none;
}


// Clear Input Icon
// --------------------------------------------------

.input-clear-icon {
  @include margin(0);
  @include padding(0);
  @include background-position(center);

  border: 0;

  background-color: transparent;
  background-repeat: no-repeat;

  visibility: hidden;

  appearance: none;

  &:active,
  &:focus {
    outline: none;
  }
}

:host(.has-focus.has-value) .input-clear-icon {
  visibility: visible;
}


// Input Has focus
// --------------------------------------------------
// When the input has focus, then the input cover should be hidden

:host(.has-focus) .input-cover {
  display: none;
}

:host(.has-focus) {
  pointer-events: none;
}

:host(.has-focus) input,
:host(.has-focus) a,
:host(.has-focus) button {
  pointer-events: auto;
}
