@import "./breadcrumbs.vars";

// Breadcrumbs
// --------------------------------------------------

:host {
  /**
   * @prop --background: Background of the breadcrumbs
   * @prop --color: Text color of the breadcrumbs
   */
  @include font-smoothing();

  display: flex;

  flex-wrap: wrap;

  align-items: center;
}

// Breadcrumbs: Collapsed Indicator
// --------------------------------------------------

.breadcrumbs-collapsed-indicator {
  @include padding(0);
  @include margin(0, 14px);

  display: none;

  align-items: center;
  justify-content: center;

  width: 32px;
  height: 18px;

  border: 0;

  outline: none;

  cursor: pointer;
  appearance: none;
}

.breadcrumbs-collapsed-indicator ion-icon {
  margin-top: 1px;

  color: #73849a;

  font-size: 22px;
}

:host(.breadcrumbs-collapsed) .breadcrumbs-collapsed-indicator {
  display: flex;
}


// Breadcrumbs: In Toolbar
// --------------------------------------------------

:host(.in-toolbar-color),
:host(.in-toolbar-color) .breadcrumbs-collapsed-indicator ion-icon {
  color: #{current-color(contrast)};
}

:host(.in-toolbar-color) .breadcrumbs-collapsed-indicator {
  background: #{current-color(contrast, 0.11)};
}
