@import "./breadcrumbs";

// Material Design Breadcrumbs
// --------------------------------------------------

// Breadcrumbs Collapsed Indicator
// --------------------------------------------------

.breadcrumbs-collapsed-indicator {
  @include border-radius(2px);

  background: #eef1f3;
}

.breadcrumbs-collapsed-indicator:hover {
  opacity: 0.7;
}

.breadcrumbs-collapsed-indicator:focus {
  background: #dfe5e8;
}

// Breadcrumbs: In Toolbar
// --------------------------------------------------

:host(.in-toolbar) {
  @include padding(0, 20px);
}
