@import "../../themes/ionic.globals";

// Segment
// --------------------------------------------------


ion-segment {
  display: flex;

  flex: 1;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.segment-button {
  position: relative;
  display: block;
  overflow: hidden;

  margin-right: 0;
  margin-left: 0;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
