:host {
  display: block;

  width: 100%;
}

:host(.accordion-disabled) #header,
:host(.accordion-readonly) #header {
  pointer-events: none;
}

:host(.accordion-disabled) #header {
  opacity: 0.4;
}

#content {
  display: none;

  overflow: hidden;
}

:host(.accordion-expanded) #content {
  display: block;
}
