@import "./accordion.vars";

:host {
  /**
   * @prop --header-padding: The padding of the header wrapper
   * @prop --content-padding: The padding of the content wrapper;
   */
  --content-padding: #{$accordion-header-padding};
  display: block;

  width: 100%;

  position: relative;

  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  overflow: hidden;
  margin: 0 auto;

  transform: translateZ(0);
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.5, 1);
}

button#header {
  border: none;
  outline: none;
  padding: 0;

  appearance: none;

  width: 100%;
}

#content {
  transition: max-height 300ms cubic-bezier(0.25, 0.8, 0.5, 1);

  overflow: hidden;

  will-change: max-height;
}

:host(.accordion-collapsing) #content {
  max-height: 0 !important;
}

:host(.accordion-collapsed) #content {
  display: none;
}

:host(.accordion-expanding) #content {
  max-height: 0;
}

:host(.accordion-disabled) #header,
:host(.accordion-readonly) #header {
  pointer-events: none;
}

/**
 * We do not set the opacity on the
 * host otherwise you would see the
 * box-shadow behind it.
 */
:host(.accordion-disabled) #header,
:host(.accordion-disabled) #content {
  opacity: 0.4;
}
