@import "../../themes/ionic.globals.md";
@import "../item/item.md.vars";

// Material Design Select
// --------------------------------------------------

/// @prop - Size of the select icon
$select-md-icon-size:           dynamic-font(13px) !default;
/// @prop - The amount of whitespace to display on either side of the floating label
$select-md-floating-label-padding:         4px !default;

/// @prop - Opacity of the disabled select
$select-md-disabled-opacity: $form-control-md-disabled-opacity !default;
