@import "./select";
@import "./select.md.vars";
@import "./select.md.solid.scss";
@import "./select.md.outline.scss";

// Material Design Select
// --------------------------------------------------

:host {
  --border-width: 1px;
  --border-color: #{$item-md-border-color};
}

:host(.legacy-select) {
  --padding-top: #{$select-md-padding-top};
  --padding-end: #{$select-md-padding-end};
  --padding-bottom: #{$select-md-padding-bottom};
  --padding-start: #{$select-md-padding-start};
}

:host(:not(.legacy-select)) {
  min-height: 56px;
}

.select-icon {
  transition: transform .15s cubic-bezier(.4, 0, .2, 1);

  opacity: .55;
}

// Select Label
// ----------------------------------------------------------------

/**
 * When the select is focused the label should
 * take on the highlight color.
 */
:host(.select-expanded) .label-text-wrapper,
:host(.select-expanded) .select-icon {
  color: var(--highlight-color);
}

:host(.ion-touched.ion-valid) .label-text-wrapper,
:host(.ion-touched.ion-invalid) .label-text-wrapper {
  color: var(--highlight-color);
}


/**
 * Adjust the arrow so that it appears in the middle
 * of the item. If the item has fill="outline" then
 * we should adjust the entire ion-select rather than
 * just the outline so the selected value appears centered too.
 */
:host-context(.item-label-stacked) .select-icon,
:host-context(.item-label-floating:not(.item-fill-outline)) .select-icon,
:host-context(.item-label-floating.item-fill-outline) {
  @include transform(translate3d(0, -9px, 0));
}

:host-context(.item-has-focus) .select-icon {
  @include transform(rotate(180deg));
}

/**
 * Ensure that the translation we did
 * above is preserved when we rotate the select icon.
 */
:host-context(.item-has-focus.item-label-stacked) .select-icon,
:host-context(.item-has-focus.item-label-floating:not(.item-fill-outline)) .select-icon {
  @include transform(rotate(180deg), translate3d(0, -9px, 0));
}

:host-context(ion-item.ion-focused) .select-icon,
:host-context(.item-has-focus) .select-icon {
  color: var(--highlight-color-focused);

  opacity: 1;
}

// Input Shape Rounded
// ----------------------------------------------------------------

:host(.select-shape-round) {
  --border-radius: 16px;
}
