@import "./select.vars";

// Select
// --------------------------------------------------

:host {
  /**
   * @prop --color: Color of the select text
   * @prop --icon-color: Color of the select icon
   * @prop --padding-top: Top padding of the select
   * @prop --padding-end: End padding of the select
   * @prop --padding-bottom: Bottom padding of the select
   * @prop --padding-start: Start padding of the select
   * @prop --placeholder-color: Color of the select placeholder text
   */

  @include padding(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));

  display: flex;

  overflow: hidden;
}

:host(.in-item) {
  max-width: 45%;
}

.select-cover {
  @include input-cover();
}

.select-text {
  flex: 1;

  min-width: 16px;

  font-size: inherit;

  text-overflow: ellipsis;

  white-space: nowrap;

  overflow: hidden;
}

:host(.select-disabled) {
  opacity: .4;
  pointer-events: none;
}

::slotted(ion-select-option) {
  display: none;
}

button:focus {
  outline: none;
}

:host(.select-key) button {
  border: 2px solid #5e9ed6;
}
