@import "./select";
@import "./select.ios.vars";

// iOS Select
// --------------------------------------------------

// TODO FW-3194 - Remove this
:host(.legacy-select) {
  --padding-top: #{$select-ios-padding-top};
  --padding-end: #{$select-ios-padding-end};
  --padding-bottom: #{$select-ios-padding-bottom};
  --padding-start: #{$select-ios-padding-start};
}

.select-icon {
  width: $select-ios-icon-size;
  height: $select-ios-icon-size;

  // Color deviates from the iOS spec, but satisfies WCAG AAA:
  // https://www.w3.org/TR/WCAG20-TECHS/G18.html
  color: #{$text-color-step-350};
}

// Select Native Wrapper
// ----------------------------------------------------------------

:host(.select-label-placement-stacked) .native-wrapper,
:host(.select-label-placement-floating) .native-wrapper {
  width: calc(100% - $select-ios-icon-size - $select-icon-margin-start);
}

// Select: Disabled
// ----------------------------------------------------------------
// The select and label should use the
// same opacity and match the other form
// controls

:host(.select-disabled) {
  opacity: $select-ios-disabled-opacity;
}
