@import "./back-button";
@import "./back-button.ios.vars";

// iOS Back Button
// --------------------------------------------------

.back-button-ios {
  @include padding(0);
  @include margin(0, 0, 0, 0);

  z-index: $back-button-ios-button-z-index;
  overflow: visible;

  min-height: 32px;

  border: 0;
  font-size: 17px;
  line-height: 1;

  color: $back-button-ios-color;
  background-color: transparent;

  transform: translateZ(0);

  &.activated {
    opacity: .4;
  }
}

.back-button-ios ion-icon {
  @include padding(0);
  @include margin(0, -5px, 0, -4px);

  display: inherit;

  font-size: 1.85em;

  pointer-events: none;
}


// Generate iOS Back Button Colors
// --------------------------------------------------

@each $color-name, $color-value in $colors-ios {
  $base-color: ion-color($colors-ios, $color-name, base, ios);

  .back-button-ios-#{$color-name} {
    color: $base-color;
  }
}
