@import "../../themes/ionic.globals.ios";

// iOS Picker
// --------------------------------------------------

/// @prop - Height of the picker wrapper
$picker-ios-height:                               260px;

/// @prop - Border color of the picker wrapper
$picker-ios-border-color:                         $item-ios-border-color;

/// @prop - Background Color of the picker wrapper
$picker-ios-background-color:                     $background-color;

/// @prop - Top Background Color of the picker wrapper gradient
$picker-ios-top-background-color:                 var(--background, $picker-ios-background-color);

/// @prop - Bottom Background Color alpha of the picker wrapper gradient
$picker-ios-bottom-background-color-alpha:        .8;

/// @prop - Bottom Background Color of the picker wrapper gradient
$picker-ios-bottom-background-color:              rgba(var(--background-rgb, $background-color-rgb), $picker-ios-bottom-background-color-alpha);

/// @prop - Height of the picker toolbar
$picker-ios-toolbar-height:                       44px;

/// @prop - Height of the picker button
$picker-ios-button-height:                        $picker-ios-toolbar-height;

/// @prop - Text color of the picker button
$picker-ios-button-text-color:                    ion-color(primary, base);

/// @prop - Font size of the picker button
$picker-ios-button-font-size:                     16px;

/// @prop - Padding top of the picker button
$picker-ios-button-padding-top:                   0;

/// @prop - Padding end of the picker button
$picker-ios-button-padding-end:                   1em;

/// @prop - Padding bottom of the picker button
$picker-ios-button-padding-bottom:                $picker-ios-button-padding-top;

/// @prop - Padding start of the picker button
$picker-ios-button-padding-start:                 $picker-ios-button-padding-end;

/// @prop - Font weight of the strong picker button
$picker-ios-button-strong-font-weight:            600;

/// @prop - Padding top of the picker column
$picker-ios-column-padding-top:                   0;

/// @prop - Padding end of the picker column
$picker-ios-column-padding-end:                   4px;

/// @prop - Padding bottom of the picker column
$picker-ios-column-padding-bottom:                $picker-ios-column-padding-top;

/// @prop - Padding start of the picker column
$picker-ios-column-padding-start:                 $picker-ios-column-padding-end;

/// @prop - Perspective of the picker column
$picker-ios-column-perspective:                   1000px;

/// @prop - Padding top of the picker option
$picker-ios-option-padding-top:                   0;

/// @prop - Padding end of the picker option
$picker-ios-option-padding-end:                   $picker-ios-option-padding-top;

/// @prop - Padding bottom of the picker option
$picker-ios-option-padding-bottom:                $picker-ios-option-padding-top;

/// @prop - Padding start of the picker option
$picker-ios-option-padding-start:                 $picker-ios-option-padding-end;

/// @prop - Text color of the picker option
$picker-ios-option-text-color:                    $item-ios-color;

/// @prop - Font size of the picker option
$picker-ios-option-font-size:                     20px;

/// @prop - Height of the picker option
$picker-ios-option-height:                        42px;

/// @prop - Offset y of the picker option
$picker-ios-option-offset-y:                      (($picker-ios-height - $picker-ios-toolbar-height) * 0.5) - ($picker-ios-option-height * 0.5) - 10;
