// Row
// --------------------------------------------------

:host {
  /**
   * @prop --ion-row-gap: The gap between grid items in the row
   */

  display: flex;

  flex-wrap: wrap;

  gap: var(--ion-row-gap);
}
