@import "./row.vars";

// Row
// --------------------------------------------------

:host {
  display: flex;

  flex-wrap: wrap;
}

// Masonry Layout
// --------------------------------------------------

:host(.in-grid-masonry) {
  display: grid;
  grid-template-columns: repeat(var(--ion-grid-columns, 12), 1fr);
  grid-auto-rows: 8px;
}
