@import "../../themes/ionic.globals";

// Toolbar Buttons
// --------------------------------------------------

.bar-button {
  @include margin(0);
  @include padding(0);
  @include text-align(center);
  @include appearance(none);

  position: relative;
  display: inline-block;

  line-height: 1;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;

  cursor: pointer;

  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it

  user-select: none;
}

.bar-button::after {
  @include position(-7px, -2px, -6px, -2px);

  // used to make the button's hit area larger
  position: absolute;

  content: "";
}


// Menu Toggle
// --------------------------------------------------

.bar-button-menutoggle {
  display: flex;

  align-items: center;
}


// Back Button
// --------------------------------------------------

.back-button {
  display: none;
}

.back-button.show-back-button {
  display: inline-block;
}

.back-button-text {
  display: flex;

  align-items: center;
}
