@import "../../globals.core";

// Toolbar Buttons
// --------------------------------------------------

.bar-button {
  @include user-select-none();
  @include appearance(none);

  position: relative;
  display: inline-block;

  margin: 0;
  padding: 0;

  line-height: 1;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;

  cursor: pointer;

  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
}

.bar-button::after {
  // used to make the button's hit area larger
  position: absolute;
  top: -7px;
  right: -2px;
  bottom: -6px;
  left: -2px;

  content: "";
}


// Menu Toggle
// --------------------------------------------------

.bar-button-menutoggle {
  display: flex;

  align-items: center;
}


// Back Button
// --------------------------------------------------

.back-button {
  display: none;

  &.show-back-button {
    display: inline-block;
  }
}

.back-button-text {
  display: flex;

  align-items: center;
}
