
// inverse: A color that looks good as a foreground to the base
// light: A lighter tone of the base color
// dark: A darker tone of teh base color


$colors: (

  primary: (
    base: #387ef5,
    inverse: #fff,
    light: #145fd7,
    dark: #145fd7
  ),

  secondary: (
    base: #387ef5,
    inverse: #fff,
    light: #145fd7,
    dark: #145fd7
  ),

  light: (
    base: #fff,
    inverse: #444,
    light: #fafafa,
    dark: #ddd
  ),

  stable: (
    base: #f8f8f8,
    inverse: #444,
    light: #e5e5e5,
    dark: #b2b2b2
  ),

  assertive: (
    base: #ef473a,
    inverse: #fff,
    light: #f37369,
    dark: #cc2311
  ),

  dark: (
    base: #444,
    inverse: #fff,
    light: #262626,
    dark: #000
  ),

) !default;
