$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$assertive:                       #ef473a !default;
$dark:                            #444 !default;
