
[ion-app] {

  // User Interaction
  // -------------------------
  -webkit-user-drag: none;
  -ms-content-zooming: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
