
// Z-Index
// --------------------------------------------------


$z-index-action-menu:          110;
$z-index-alert:                100;
$z-index-content:              1;
$z-index-list-border:          50;
