@import "../../globals.ios";

// iOS App
// --------------------------------------------------

ion-content {
  color: $text-ios-color;
}

hr {
  background-color: rgba(0, 0, 0, .12);
}

&.hairlines hr {
  height: $hairlines-width;
}
