import { NgModule } from '@angular/core';
import { IonicPageModule } from 'ionic-angular';
import { $CLASSNAME } from './$FILENAME';

@NgModule({
  declarations: [
    $CLASSNAME,
  ],
  imports: [
    IonicPageModule.forChild($CLASSNAME),
  ]
})
export class $CLASSNAMEModule {}
