import { NgModule } from '@angular/core';
import { $CLASSNAMEPage } from './$FILENAME';
import { IonicModule } from 'ionic-angular';

@NgModule({
  declarations: [
    $CLASSNAMEPage,
  ],
  imports: [
    IonicModule.forChild($CLASSNAMEPage)
  ],
  entryComponents: [
    $CLASSNAMEPage
  ],
  providers: []
})
export class $CLASSNAMEPageModule {}