import { Component } from '@angular/core';
$TABS_IMPORTSTATEMENT

/**
 * Generated class for the $CLASSNAME tabs.
 *
 * See https://ionicframework.com/docs/components/#navigation for more info on
 * Ionic pages and navigation.
 */
$IONICPAGE
@Component({
  selector: 'page-$FILENAME',
  templateUrl: '$FILENAME.html'
})
export class $CLASSNAME {

$TAB_VARIABLES

  constructor(public navCtrl: NavController) {}

}
