import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';
$TAB_IMPORTS

/*
  Generated class for the $CLASSNAME tabs.

  See https://angular.io/docs/ts/latest/guide/dependency-injection.html
  for more info on providers and Angular 2 DI.
*/
@Component({
  selector: 'page-$FILENAME',
  templateUrl: '$FILENAME.html'
})
export class $CLASSNAME {

$TAB_VARIABLES

  constructor(public navCtrl: NavController) {

  }

}