import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';
$TAB_IMPORTS

@Component({
  templateUrl: '$FILENAME.html'
})
export class $CLASSNAME {
  
  $TAB_VARIABLES

  constructor(public navCtrl: NavController) {}
}
