ion-card ion-card-content.buttons-in-components {
  background-color: #F4F5F8;
}
ion-card ion-card-content.buttons-in-components img {
  width: auto;
  height: 44px;
  display: block;
  margin: 20px auto;
}
ion-card.buttons-in-components {
  margin-bottom: 2em;
}