@import "../../themes/ionic.globals";

// DateTime
// --------------------------------------------------

ion-datetime {
  display: flex;
  overflow: hidden;
}

.datetime-text {
  overflow: hidden;

  flex: 1;

  min-width: 16px;
  min-height: 1.2em;

  font-size: inherit;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.datetime-placeholder {
  @include placeholder();
  @include appearance(none);

  display: inline-block;

  flex: 1;

  width: 92%;
  width: calc(100% - 10px);

  border: 0;
  border-radius: 0;
  background: transparent;
}

.datetime-disabled,
.item-datetime-disabled ion-label {
  opacity: .4;

  pointer-events: none;
}

.item-label-stacked ion-datetime,
.item-label-floating ion-datetime {
  padding-left: 0;

  width: 100%;
}
