//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  margin-bottom: $baseLineHeight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: $warningBackground;
  border: 1px solid $warningBorder;
}
.alert,
.alert h4 {
  // Specified for the h4 to prevent conflicts of changing $headingsColor
  color: $warningText;
}


// Alternate styles
// -------------------------

.alert-success {
  background-color: $successBackground;
  border-color: $successBorder;
  color: $successText;
}
.alert-success h4 {
  color: $successText;
}
.alert-danger,
.alert-error {
  background-color: $errorBackground;
  border-color: $errorBorder;
  color: $errorText;
}
.alert-danger h4,
.alert-error h4 {
  color: $errorText;
}
.alert-info {
  background-color: $infoBackground;
  border-color: $infoBorder;
  color: $infoText;
}
.alert-info h4 {
  color: $infoText;
}

