// Buttons
$buttonColor: #222;
$buttonPadding: 10px 10px;
$buttonBorderRadius: 2px;
$buttonBorderWidth: 1px;

$buttonDefaultBackground: #fff;
$buttonDefaultBackgroundActive: #eee;
$buttonDefaultBorder: #ddd;

