//
// Buttons
$buttonColor: #222;
$buttonPadding: 10px 10px;
$buttonBorderRadius: 2px;
$buttonBorderWidth: 1px;

$buttonDefaultBackground: #fff;
$buttonDefaultBackgroundActive: #eee;
$buttonDefaultBorder: #ddd;


//
// Bars
$barPaddingPortrait: 10px;
$barPaddingLandscape : 5px;

$barBackground: white;

// Bar variations
$barDefaultBackground: #fff;
$barDefaultBorderColor: #ddd;

$barSecondaryBackground: #f5f5f5;
$barSecondaryBorderColor: #ccc;

//
// Lists
$listDividerBackground: #f5f5f5;
$listDividerColor: #222;


