@import "../../../../../../templarios/abstracts";

:host {
  --color: #{color('neutral', '10')};
}

:host(.monta-provas-plusminus) {
  font-size: var(--med-font-size-xxl);
  font-weight: var(--med-font-weight-bold);
  line-height: var(--med-line-height-compressed);
  color: var(--color);
  max-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .monta-provas-plusminus__icon-minus {
    margin-right: var(--med-spacing-inline-base);
    cursor: pointer;
    stroke: var(--color);
  }

  .monta-provas-plusminus__icon-plus {
    margin-left: var(--med-spacing-inline-base);
    cursor: pointer;
    stroke: var(--color);
  }
}

// ////////////////////
// sizes
// ////////////////////

:host(.monta-provas-plusminus--xl) {
  font-size: var(--med-font-size-xxxl);
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --color: #{curr-color('color', '3')};
  stroke: #{curr-color('color', '3')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --color: #{curr-color('neutral')};
  stroke: #{curr-color('neutral')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --color: #{curr-color('feedback')};
  stroke: #{curr-color('feedback')};
}
