import { NgModule } from '@angular/core';
import { $CLASSNAMEComponent } from './$FILENAME';
import { IonicModule } from 'ionic-angular';

@NgModule({
  declarations: [
    $CLASSNAMEComponent,
  ],
  imports: [
    IonicModule.forChild($CLASSNAMEComponent)
  ]
})
export class $CLASSNAMEComponentModule {}
