import { NgModule } from '@angular/core';
import { IonicModule } from 'ionic-angular';
import { $CLASSNAME } from './$FILENAME';

@NgModule({
  declarations: [
    $CLASSNAME,
  ],
  imports: [
    IonicModule.forChild($CLASSNAME),
  ],
  exports: [
    $CLASSNAME
  ]
})
export class $CLASSNAMEModule {}
