@import "../../themes/ionic.globals";

// Header
// --------------------------------------------------

ion-header {
  display: block;
  position: relative;

  order: -1;

  width: 100%;

  z-index: $z-index-toolbar;
}

ion-header ion-toolbar:first-child {
  padding-top: var(--ion-statusbar-padding);
}

@supports (padding-top: env(safe-area-inset-top)) {
  ion-header ion-toolbar:first-child {
    /* stylelint-disable-next-line length-zero-no-unit */
    padding-top: var(--ion-statusbar-padding, 0px);
  }
}
