@import "./header";
@import "./header.ios.vars";

// iOS Header
// --------------------------------------------------

.header-ios ion-toolbar:last-child {
  --border-width: 0 0 #{$hairlines-width};
}

.header-ios[no-border] ion-toolbar:last-child {
  --border-width: 0;
}

.header-collapse-ios ion-toolbar {
  position: sticky;
  top: 0;
}

.header-collapse-ios ion-toolbar:first-child {
  padding-top: 7px;
}

.header-collapse-ios ion-toolbar ion-searchbar {
  height: 48px;

  padding-top: 0px;
  padding-bottom: 13px;
}

ion-toolbar.in-toolbar ion-title,
ion-toolbar.in-toolbar ion-buttons {
  transition: all 0.2s ease-in-out;
}

.header-collapse-ios-inactive ion-toolbar.in-toolbar ion-title,
.header-collapse-ios-inactive ion-toolbar.in-toolbar ion-buttons[collapse] {
  opacity: 0;
  pointer-events: none;
}

@supports (backdrop-filter: blur(0)) {
  .header-translucent-ios {
    backdrop-filter: $header-ios-translucent-filter;
  }
  
  .header-translucent-ios ion-toolbar {
    --opacity: .8;
    --backdrop-filter: #{$header-ios-translucent-filter};
  }
}