@import "../../../med-components/abstracts";
@import "../../themes/ionic.globals.scss";

// Progress bar
// ------------------------------------------------------------------------

// Host has no background by default - this will be added to the progress-buffer-bar
:host {
  /**
   * @prop --background: Background of the progress track, or the buffer bar if `buffer` is set
   * @prop --progress-background: Background of the progress bar representing the current value
   * @prop --buffer-background: DEPRECATED, use `--background` instead
   */
  // ionic css custom properties
  --background: transparent;
  --progress-background: #{medsoft-color(questoes, light)};
  --buffer-background: transparent;

  // design system css custom properties
  --progress-correct-background: #{medsoft-color(feedback-success, light)};
  --percentage-color: #{medsoft-color(neutral-light, 10)};

  --height: 8px;

  display: block;
  position: relative;
  contain: strict;
  overflow: hidden;
  width: 100%;
  height: var(--height);
}

.progress-container {
  display: flex;
  background-color: var(--background);
}

:host(.in-med-header) {
  .progress-container {
    background: medsoft-color(neutral-light, 40);
  }

  .progress {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &__percentage {
      display: none;
    }

    &--correct {
      background: medsoft-color(questoes, light);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.progress {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  height: var(--height);
  background: var(--progress-background);

  &__percentage {
    font-size: $med-font-size-nano;
    font-weight: $med-font-weight-regular;
    line-height: $med-line-height-compressed;
    color: var(--percentage-color);
    margin-left: $med-spacing-inline-xxxs;
    display: none;
  }

  &--correct {
    background: var(--progress-correct-background);
  }
}

:host(.percentage) {
  .progress__percentage {
    display: block;
  }
}

:host(.ion-color) {
  --progress-background: #{medsoft-current-color(light)};
}

// //////////////////////////////
// minimalist
// //////////////////////////////

:host(.med-progress-bar--minimalist) {
  --background: #{md-color(brand, 1)};
  --height: 4px;
  .progress {
    border-radius: 0;
  }
  .progress__percentage {
    display: none;
  }
}

// ////////////////////
// color
// ////////////////////

:host(.med-progress-bar--minimalist.ion-color) {
  --background: #{md-current-color(1)};
  --progress-background: #{md-current-color(3)};
}
