.md .ion-md-share {
  color: #ED4248;
}
.md .ion-md-arrow-dropright-circle {
  color: #508AE4;
}
.md .ion-md-heart-outline {
  color: #31D55F;
}

.md .action-sheet-destructive {
  margin-top: 2px;
  padding-top: 1px;
}

.md .action-sheet-cancel icon, .md .action-sheet-destructive icon {
  color: #757575;
}