@import "../../themes/ionic.globals";


// Avatar
// --------------------------------------------------

:host {
  display: block;
}

::slotted(ion-img),
::slotted(img) {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
