@use "../../themes/mixins" as mixins;

// Avatar Slotted Badge
// ---------------------------------------------

/**
 * Positions an empty badge (status dot) at the correct offset, translating the badge itself to account for its dimensions since it has no content to center. The badge is translated on a 45° angle from the avatar edge.
 * 0.1464 = (1 - cos(45°)) / 2
 *
 * offset-x = avatarWidth * 0.1464 - badgeWidth  / 2
 * offset-y = avatarHeight * 0.1464 - badgeHeight / 2
 *
 * @param $avatar-width The width of the avatar
 * @param $avatar-height The height of the avatar
 * @param $badge-width The width of the badge
 * @param $badge-height The height of the badge
 * @param $position The position of the badge (top or bottom)
 */
@mixin badge-empty-translate($avatar-width, $avatar-height, $badge-width, $badge-height, $position) {
  @include mixins.position(null, 0, null, null);

  @if $position == top {
    @include mixins.transform(
      translate(
        calc((#{$avatar-width} * 0.1464 - #{$badge-width} / 2) * -1),
        calc(#{$avatar-height} * 0.1464 - #{$badge-height} / 2)
      )
    );
  } @else {
    @include mixins.transform(
      translate(
        calc((#{$avatar-width} * 0.1464 - #{$badge-width} / 2) * -1),
        calc((#{$avatar-height} * 0.1464 - #{$badge-height} / 2) * -1)
      )
    );
  }
}

/**
 * Positions a non-empty badge at the correct offset from the avatar edge, then translates 50% to center the badge's content. The badge is translated on a 45° angle from the avatar edge.
* 0.1464 = (1 - cos(45°)) / 2
 *
 * anchor-x = avatarWidth * 0.1464
 * anchor-y = avatarHeight * 0.1464
 *
 * @param $avatar-width The width of the avatar
 * @param $avatar-height The height of the avatar
 * @param $position The position of the badge (top or bottom)
 */
@mixin badge-default-translate($avatar-width, $avatar-height, $position) {
  @if $position == top {
    @include mixins.transform(translate(50%, -50%));

    top: calc(#{$avatar-height} * 0.1464);
    bottom: auto;
  } @else {
    @include mixins.transform(translate(50%, 50%));

    top: auto;
    bottom: calc(#{$avatar-height} * 0.1464);
  }

  @include mixins.position(null, calc(#{$avatar-width} * 0.1464), null, null);
}

// Maps
$avatar-sizes: (
  xxsmall: (
    width: var(--ion-avatar-size-xxsmall-width, 16px),
    height: var(--ion-avatar-size-xxsmall-height, 16px),
  ),
  xsmall: (
    width: var(--ion-avatar-size-xsmall-width, 24px),
    height: var(--ion-avatar-size-xsmall-height, 24px),
  ),
  small: (
    width: var(--ion-avatar-size-small-width, 32px),
    height: var(--ion-avatar-size-small-height, 32px),
  ),
  medium: (
    width: var(--ion-avatar-size-medium-width, 40px),
    height: var(--ion-avatar-size-medium-height, 40px),
  ),
  large: (
    width: var(--ion-avatar-size-large-width, 48px),
    height: var(--ion-avatar-size-large-height, 48px),
  ),
  xlarge: (
    width: var(--ion-avatar-size-xlarge-width, 56px),
    height: var(--ion-avatar-size-xlarge-height, 56px),
  ),
);

$badge-sizes: (
  small: (
    width: var(--ion-badge-size-small-empty-min-width),
    height: var(--ion-badge-size-small-empty-height),
  ),
  medium: (
    width: var(--ion-badge-size-medium-empty-min-width),
    height: var(--ion-badge-size-medium-empty-height),
  ),
  large: (
    width: var(--ion-badge-size-large-empty-min-width),
    height: var(--ion-badge-size-large-empty-height),
  ),
);

// Avatar Sizes
@each $avatar-name, $avatar-tokens in $avatar-sizes {
  $aw: map-get($avatar-tokens, width);
  $ah: map-get($avatar-tokens, height);

  // Badge Sizes
  @each $badge-name, $badge-tokens in $badge-sizes {
    $bw: map-get($badge-tokens, width);
    $bh: map-get($badge-tokens, height);

    // Top positioned empty badges
    :host(.avatar-#{$avatar-name}) ::slotted(ion-badge.badge-#{$badge-name}.badge-vertical-top[vertical]:empty) {
      @include badge-empty-translate($aw, $ah, $bw, $bh, top);
    }

    // Bottom positioned empty badges
    :host(.avatar-#{$avatar-name}) ::slotted(ion-badge.badge-#{$badge-name}.badge-vertical-bottom[vertical]:empty) {
      @include badge-empty-translate($aw, $ah, $bw, $bh, bottom);
    }
  }

  // Top positioned badges with content
  :host(.avatar-#{$avatar-name}) ::slotted(ion-badge.badge-vertical-top[vertical]:not(:empty)) {
    @include badge-default-translate($aw, $ah, top);
  }

  // Bottom positioned badges with content
  :host(.avatar-#{$avatar-name}) ::slotted(ion-badge.badge-vertical-bottom[vertical]:not(:empty)) {
    @include badge-default-translate($aw, $ah, bottom);
  }
}
