/** default theme **/


:root {
  --color-primary: #3880ff;
  --color-primary-contrast: #ffffff;
  --color-primary-tint: #ff00ff;
  --color-primary-shade: #ff00ff;
  --color-secondary: #0cd1e8;
  --color-secondary-contrast: #ffffff;
  --color-secondary-tint: #ff00ff;
  --color-secondary-shade: #ff00ff;
  --color-tertiary: #7044ff;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-tint: #ff00ff;
  --color-tertiary-shade: #ff00ff;
  --color-success: #10dc60;
  --color-success-contrast: #ffffff;
  --color-success-tint: #ff00ff;
  --color-success-shade: #ff00ff;
  --color-warning: #ffce00;
  --color-warning-contrast: #ffffff;
  --color-warning-tint: #ff00ff;
  --color-warning-shade: #ff00ff;
  --color-danger: #f04141;
  --color-danger-contrast: #ffffff;
  --color-danger-tint: #ff00ff;
  --color-danger-shade: #ff00ff;
  --color-light: #f4f5f8;
  --color-light-contrast: #000000;
  --color-light-tint: #ff00ff;
  --color-light-shade: #ff00ff;
  --color-medium: #898b93;
  --color-medium-contrast: #000000;
  --color-medium-tint: #ff00ff;
  --color-medium-shade: #ff00ff;
  --color-dark: #222428;
  --color-dark-contrast: #ffffff;
  --color-dark-tint: #ff00ff;
  --color-dark-shade: #ff00ff;
  --text-color: #000000;
  --text-color-alt: #898b93;
  --background-color: #ffffff;
  --background-color-alt: #f4f5f8;
  --toolbar-background-color: #f4f5f8;
  --tabbar-background-color: #f4f5f8;
  --tabbar-text-color: #ff00ff;
  --tabbar-text-color-active: #ff00ff;
  --item-background-color: #ffffff;
  --item-background-color-alt: #898b93;
  --border-color: #c4c6ca;
  --backdrop-color: #000000;
  --box-shadow: #ff00ff;
}