/** default theme **/


:root {
  --primary: #3880ff;
  --primary-contrast: #ffffff;
  --secondary: #0CD1E8;
  --secondary-contrast: #ffffff;
  --tertiary: #7044FF;
  --tertiary-contrast: #ffffff;
  --success: #10DC60;
  --success-contrast: #ffffff;
  --warning: #FFCE00;
  --warning-contrast: #ffffff;
  --danger: #f04141;
  --danger-contrast: #ffffff;
  --light: #f4f5f8;
  --light-contrast: #000000;
  --medium: #898B93;
  --medium-contrast: #000000;
  --dark: #222428;
  --dark-contrast: #ffffff;
  --content-color: #000000;
  --content-sub-color: #898b93;
  --content-background: #ffffff;
  --content-sub-background: #f4f5f8;
  --toolbar-background: #f4f5f8;
  --tabbar-background: #f4f5f8;
  --item-background: #fffff;
  --item-sub-background: #898b93;
  --border-color: #c4c6ca;
}