/** oceanic theme **/

:root {
  --alpha-lowest:                   .06;
  --alpha-low:                      .1;
  --alpha-medium:                   .4;
  --alpha-high:                     .75;
  --alpha-highest:                  .9;
  --color-primary:                  #549ee7;
  --color-primary-rgb:              '84,158,231';
  --color-primary-tint:             #59aafc;
  --color-primary-shade:            #498bce;
  --color-primary-contrast:         #ffffff;
  --color-secondary:                #5fb3b3;
  --color-secondary-rgb:            '95,179,179';
  --color-secondary-tint:           #6ececf;
  --color-secondary-shade:          #34a29d;
  --color-secondary-contrast:       #fff;
  --color-tertiary:                 #fac863;
  --color-tertiary-rgb:             '250,200,99';
  --color-tertiary-tint:            #ffd36a;
  --color-tertiary-shade:           #eab30f;
  --color-tertiary-contrast:        #fff;
  --color-success:                  #90d089;
  --color-success-rgb:              '144,208,137';
  --color-success-tint:             #a1eb9a;
  --color-success-shade:            #81bc7b;
  --color-success-contrast:         #ffffff;
  --color-warning:                  #f99157;
  --color-warning-rgb:              '249,145,87';
  --color-warning-tint:             #ff9e60;
  --color-warning-shade:            #ec8a54;
  --color-warning-contrast:         #ffffff;
  --color-danger:                   #ec5f67;
  --color-danger-rgb:               '236,95,103';
  --color-danger-tint:              #ff707b;
  --color-danger-shade:             #cb535b;
  --color-danger-contrast:          #ffffff;
  --color-light:                    #d8dee9;
  --color-light-rgb:                '216,222,233';
  --color-light-tint:               #ecf2ff;
  --color-light-shade:              #bcc1cd;
  --color-light-contrast:           #1b2b34;
  --color-medium:                   #65737e;
  --color-medium-tint:              #a7adba;
  --color-medium-shade:             #4f5b66;
  --color-medium-contrast:          #ffffff;
  --color-dark:                     #1b2b34;
  --color-dark-rgb:                 '27,43,52';
  --color-dark-tint:                #343d46;
  --color-dark-shade:               #070b0d;
  --color-dark-contrast:            #d8dee9;
  --backdrop-color:                 #1b2b34;
  --background-color:               #1b2b34;
  --background-color-rgb:           '27,43,52';
  --background-color-step-100:      #293a43;
  --background-color-step-200:      #465b6e;
  --background-color-step-300:      #61879e;
  --background-color-step-400:      #91adbf;
  --border-color:                   #1b2b34;
  --box-shadow-color:               #000000;
  --text-color:                     #ffffff;
  --text-color-rgb:                 '255,255,255';
  --text-color-step-100:            #c5c5c5;
  --text-color-step-200:            #b0b0b0;
  --text-color-step-300:            #aeaeae;
  --text-color-step-400:            #222;
  --tabbar-background-color:        #343d46;
  --tabbar-text-color:              #a7adba;
  --tabbar-text-color-active:       #549ee7;
  --toolbar-background-color:       #343d46;
  --toolbar-border-color:           var(--border-color);
  --toolbar-color-active:           var(--color-primary);
  --toolbar-color-inactive:         #a7adba;
  --toolbar-text-color:             var(--text-color);
  --item-background-color:          #343d46;
  --item-background-color-active:   #232b34;
  --item-border-color:              var(--border-color);
  --item-text-color:                var(--text-color);
}
