/** oceanic theme **/


:root {
  --color-primary: #549ee7;
  --color-primary-tint: #59aafc;
  --color-primary-shade: #498bce;
  --color-primary-contrast: #ffffff;
  --color-secondary: #5fb3b3;
  --color-secondary-tint: #6ececf;
  --color-secondary-shade: #34a29d;
  --color-secondary-contrast: #ffffff;
  --color-tertiary: #fac863;
  --color-tertiary-tint: #ffd36a;
  --color-tertiary-shade: #eab30f;
  --color-tertiary-contrast: #ffffff;
  --color-success: #90d089;
  --color-success-tint: #a1eb9a;
  --color-success-shade: #81bc7b;
  --color-success-contrast: #ffffff;
  --color-warning: #f99157;
  --color-warning-tint: #ff9e60;
  --color-warning-shade: #ec8a54;
  --color-warning-contrast: #ffffff;
  --color-danger: #ec5f67;
  --color-danger-tint: #ff707b;
  --color-danger-shade: #cb535b;
  --color-danger-contrast: #ffffff;
  --color-light: #d8dee9;
  --color-light-tint: #ecf2ff;
  --color-light-shade: #bcc1cd;
  --color-light-contrast: #1b2b34;
  --color-medium: #65737e;
  --color-medium-tint: #a7adba;
  --color-medium-shade: #4f5b66;
  --color-medium-contrast: #ffffff;
  --color-dark: #1b2b34;
  --color-dark-tint: #343d46;
  --color-dark-shade: #070b0d;
  --color-dark-contrast: #d8dee9;
  --backdrop-color: #1b2b34;
  --background-color: #1b2b34;
  --border-color: #1b2b34;
  --box-shadow-color: #000000;
  --text-color: #ffffff;
  --tabs-background-color: #343d46;
  --tabs-tab-color-inactive: #a7adba;
  --tabs-tab-color-active: #549ee7;
  --toolbar-background-color: #343d46;
  --list-background-color: #343d46;
  --list-background-color-active: #65737e;
}
