/** oceanic theme **/


:root {
  --color-primary: #ff4f12;
  --color-primary-shade: #eb4911;
  --color-primary-tint: #e04610;
  --color-primary-contrast: #ffffff;
  --color-secondary: #0cd1e8;
  --color-secondary-shade: #1fd5ea;
  --color-secondary-tint: #29d7eb;
  --color-secondary-contrast: #ffffff;
  --color-tertiary: #7044ff;
  --color-tertiary-shade: #673feb;
  --color-tertiary-tint: #633ce0;
  --color-tertiary-contrast: #ffffff;
  --color-success: #10dc60;
  --color-success-contrast: #ffffff;
  --color-warning: #ffce00;
  --color-warning-contrast: #ffffff;
  --color-danger: #f04141;
  --color-danger-contrast: #ffffff;
  --color-light: #f4f5f8;
  --color-light-contrast: #000000;
  --color-medium: #898b93;
  --color-medium-contrast: #000000;
  --color-dark: #222428;
  --color-dark-contrast: #f4f5f8;
  --text-color: #ffffff;
  --background-color: #1B2B34;
  --border-color: #222428;
  --toolbar-background-color: #eeeeee;
  --tabs-background-color: #eeeeee;
  --list-background-color: #eeeeee;
}
