@import "../../themes/ionic.globals";

// Card Content
// --------------------------------------------------

ion-card-content {
  position: relative;
  display: block;

  color: #{ion-color(base)};

  --ion-color-base: currentColor;
  --ion-card-text: currentColor;
}
