@import "../../../../../templarios/abstracts";

:host {
  --z-index: 1000;

  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: var(--z-index);

  .wrapper {
    background: color('neutral', '1', null, var(--med-opacity-level-semiopaque));
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;

    &__content {
      pointer-events: none;
      width: 100%;
      height: calc(100% - 50px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .icon {
    width: 48px;
    height: 48px;
    margin-bottom: var(--med-spacing-stack-xxs);
  }

  .icon-path {
    stroke: color('neutral', '1', 'contrast');
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

  .title {
    font-size: var(--med-font-size-xs);
    font-weight: var(--med-font-weight-bold);
    line-height: var(--med-line-height-compressed);
    color: color('neutral', '1', 'contrast');;
    margin-bottom: var(--med-spacing-stack-xxxs);
  }

  .text {
    font-size: var(--med-font-size-xs);
    font-weight: var(--med-font-weight-regular);
    line-height: var(--med-line-height-compressed);
    color: color('neutral', '1', 'contrast');;
  }
}
