@import "./thumbnail";
@import "./thumbnail.ios.vars";


// iOS Thumbnail
// --------------------------------------------------

:host {
  @include border-radius($thumbnail-ios-border-radius);

  width: $thumbnail-ios-width;
  height: $thumbnail-ios-height;
}

::slotted(ion-img),
::slotted(img) {
  @include border-radius($thumbnail-ios-border-radius);

  overflow: hidden;
}