@import "./fab-button.vars";

// Floating Action Buttons
// --------------------------------------------------

ion-fab-button {
  --ion-color-base: #{ion-color(primary, base)};
  --ion-color-contrast: #{ion-color(primary, contrast)};
  --ion-color-tint: #{ion-color(primary, tint)};

  --size: #{$fab-size};
  --background: #{current-color(base)};
  --transition: background-color, opacity 100ms linear;

  --padding-start: calc((#{$fab-size} - var(--size)) / 2);
  --padding-end: calc((#{$fab-size} - var(--size)) / 2);
  --padding-top: calc((#{$fab-size} - var(--size)) / 2);
  --padding-bottom: calc((#{$fab-size} - var(--size)) / 2);

  font-size: 14px;
  color: #{current-color(contrast)};
}

ion-fab-button.activated {
  --background: #{current-color(tint)};
}

.fab-button-native {
  @include margin(
    var(--padding-top),
    var(--padding-end),
    var(--padding-bottom),
    var(--padding-start)
  );
  @include text-align(center);
  @include appearance(none);
  @include border-radius(50%);

  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;

  width: var(--size);
  height: var(--size);

  border: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: var(--size);
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  color: inherit;
  background: var(--background);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transform: var(--transform);
  transition: var(--transition);

  background-clip: padding-box;

  font-kerning: none;
  user-select: none;

  contain: strict;

  &:active,
  &:focus {
    outline: none;
  }
}

.fab-button ion-icon {
  font-size: 24px;
  line-height: 1;
}

.fab-button-inner {
  display: flex;

  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: all ease-in-out 300ms;
  transition-property: transform, opacity;
}


// FAB Mini
// --------------------------------------------------

ion-fab-button[mini] {
  --size: #{$fab-mini-size};
}

// FAB Close Icon
// --------------------------------------------------

.fab-button-close-icon {
  @include position(0, 0, null, 0);

  position: absolute;

  display: flex;

  height: 100%;

  opacity: 0;
  transform: scale(.4) rotateZ(-45deg);
  transition: all ease-in-out 300ms;
  transition-property: transform, opacity;
}

.fab-button-close-icon .icon-inner {
  @include margin(auto);
}

// FAB Animation
// --------------------------------------------------

.fab-button-close-active .fab-button-close-icon {
  opacity: 1;
  transform: scale(1) rotateZ(0deg);
}

.fab-button-close-active .fab-button-inner {
  opacity: 0;
  transform: scale(.4) rotateZ(45deg);
}

.fab-button ion-ripple-effect {
  --color: var(--ripple-color);
}
