// Select Modal
// --------------------------------------------------

:host {
  height: 100%;
}

// Select Modal: Select Option
// --------------------------------------------------

.select-option-label {
  display: flex;

  align-items: center;
}

.select-option-description {
  display: block;
}
