@import "../../themes/ionic.globals";

// Card
// --------------------------------------------------


ion-card {
  display: block;
  overflow: hidden;
}

ion-card img {
  display: block;

  width: 100%;
}

ion-card-header {
  display: block;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-card-content {
  display: block;
}
