@import "../../themes/ionic.globals";


// Card
// --------------------------------------------------


ion-card,
:host {
  display: block;
  overflow: hidden;
  visibility: inherit !important;
}

ion-card img,
:host img {
  display: block;

  width: 100%;
}