@import "../../themes/ionic.globals";

// Card
// --------------------------------------------------


ion-card {
  display: block;
  overflow: hidden;
  visibility: inherit !important;
}

ion-card img {
  display: block;

  width: 100%;
}
