
// Item
// --------------------------------------------------

$item-min-height:         44px !default;


.item {
  position: relative;

  @include flex-display();
  @include flex-justify-content(space-between);
  @include flex-align-items(center);

  min-height: $item-min-height;
  margin: 0;
  padding: 0;
}

.item-content {
  position: relative;

  @include flex-display();
  @include flex(1);
  @include flex-justify-content(space-between);
  @include flex-align-items(center);

  width: 100%;
  min-height: $item-min-height;

  padding: 0;
}

.item-media {
  @include flex-display();
  @include flex-shrink(0);
  @include flex-wrap(nowrap);
  @include flex-align-items(center);

  min-height: $item-min-height;

  padding: 0;
}

.item-title {
  position: relative;

  @include flex(1);
  @include flex-shrink(1);

  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-accessory {
  @include flex-display();
  @include flex-shrink(0);

  margin-left: 5px;
  max-height: 28px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
