
// Item
// --------------------------------------------------

$item-min-height:         44px !default;


.item {
  position: relative;

  @include flex-display();
  @include flex-justify-content(space-between);
  @include flex-align-items(center);

  min-height: $item-min-height;
  margin: 0;
  padding: 0;
}

ion-primary-swipe-buttons,
.item-content {
  transition: transform 0.3s;
}

ion-primary-swipe-buttons {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  transform: translate3d(-100%,0,0);

  &:not(.open):not(.changing) {
    display: none;
  }
  &.open {
    transform: translate3d(100%, 0, 0);
  }
}

.item-content {
  // TODO add proper bg to cover up swipe buttons
  background: white;
  transform: translate3d(0,0,0);

  position: relative;

  @include flex-display();
  @include flex(1);
  @include flex-justify-content(space-between);
  @include flex-align-items(center);

  width: 100%;
  min-height: $item-min-height;

  padding: 0;
}

.item-label {
  position: relative;

  @include flex(1);
  @include flex-shrink(1);

  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Item Media (Icons, checkboxes, images, etc.)
// --------------------------------------------------

.item-media {
  @include flex-display();
  @include flex-shrink(0);
  @include flex-wrap(nowrap);
  @include flex-align-items(center);

  min-height: $item-min-height;

  padding: 0;
}


// Item Accessory
// --------------------------------------------------

.item-accessory {
  @include flex-display();
  @include flex-shrink(0);

  margin-left: 5px;
  max-height: 28px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
