@import "../../themes/ionic.globals";

// Checkbox
// --------------------------------------------------

ion-checkbox {
  position: relative;
  display: inline-block;
}

ion-checkbox input {
  @include position(0, null, null, 0);

  position: absolute;

  width: 100%;
  height: 100%;

  background: transparent;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
