//
// custom
//

@import "../../../med-components/abstracts";

:host {
  --background: #{$med-color-neutral-dark-prime};
  --box-shadow: #{$med-shadow-level-4};

  height: auto;
  contain: initial;
  box-shadow: var(--box-shadow);
}
