@import "./tab-button";
@import "./tab-button.ios.vars";

:host {
  --color: #{$tab-button-ios-text-color};
  --color-selected: #{$tabbar-ios-text-color-active};
  --background-focused: #{$tabbar-ios-background-color-focused};

  max-width: $tab-button-ios-max-width;

  font-size: $tab-button-ios-font-size;
}

.tab-button-native {
  @include padding($tab-button-ios-padding-top, $tab-button-ios-padding-end, $tab-button-ios-padding-bottom, $tab-button-ios-padding-start);
}

.tab-button-text {
  @include margin(0, null, 1px, null);

  min-height: $tab-button-ios-font-size + 1;
}

:host(.has-label-only) .tab-button-text {
  @include margin(2px, 0);

  font-size: $tab-button-ios-font-size + 2;
  font-size: 14px;

  line-height: 1.1;
}

.tab-button-icon {
  @include margin(4px, null, null, null);

  font-size: $tab-button-ios-icon-size;
}

.tab-button-icon::before {
  vertical-align: top;
}

.layout-icon-end .tab-button-ios .tab-button-text,
.layout-icon-start .tab-button-ios .tab-button-text,
.layout-icon-hide .tab-button-ios .tab-button-text {
  @include margin(2px, 0);

  font-size: 14px;

  line-height: 1.1;
}

.layout-icon-end .tab-button-ios ion-icon,
.layout-icon-start .tab-button-ios ion-icon {
  @include margin(2px, null, 1px, null);

  min-width: 24px;
  height: 26px;

  font-size: 24px;
}

.layout-label-hide .tab-button-ios ion-icon {
  @include margin(0);
}
