@import "../../themes/ionic.globals";

:host {
  @include border-radius(0);
  @include margin(0);

  display: block;
  position: relative;

  flex: 1;

  height: 100%;

  border: 0;

  background: var(--background);
  color: var(--color);

  text-align: center;
  text-decoration: none;

  overflow: hidden;
  user-select: none;
  z-index: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

:host(.focused) {
  background: var(--background-focused);
}

:host(:hover),
:host(.tab-selected) {
  color: var(--color-selected);
}

:host(.tab-hidden) {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

a {
  text-decoration: none;
}

.tab-button-native {
  @include margin(0);
  @include padding(0);

  display: flex;

  flex-direction: var(--flex-direction, column);
  align-items: center;
  justify-content: var(--justify-content, flex-start);

  width: 100%;
  height: 100%;

  border: 0;

  background: transparent;
  color: inherit;

  cursor: pointer;
  box-sizing: border-box;

  &:active,
  &:focus {
    outline: none;
  }
}

:host(.tab-button-disabled) {
  pointer-events: none;
}

:host(.tab-button-disabled) .tab-button-native {
  opacity: .4;
}

.tab-button-text {
  @include margin(var(--text-margin-top), null, var(--text-margin-bottom), null);

  display: var(--text-display, block);

  font-size: var(--text-font-size);

  line-height: var(--text-line-height);
}

.tab-button-icon {
  @include margin(var(--icon-margin-top), null, var(--icon-margin-bottom), null);

  display: var(--icon-display, block);

  min-width: var(--icon-min-width);
  height: var(--icon-height, 1em);

  font-size: var(--icon-font-size);
}

.tab-button-text,
.tab-button-icon {
  align-self: center;

  min-width: 26px;
  max-width: 100%;

  text-overflow: ellipsis;

  white-space: nowrap;

  overflow: hidden;
  box-sizing: border-box;
}

:host(.has-label-only) .tab-button-text {
  white-space: normal;
}

:host(.has-icon-only) .tab-button-native,
:host(.has-label-only) .tab-button-native {
  --justify-content: center;
}


// Tab Badges
// --------------------------------------------------

.tab-badge {
  @include position(6%, 4%, null, null); // 4% fallback
  @include position(null, var(--badge-end, calc(50% - 30px)), null, null);
  @include padding(1px, 6px);

  box-sizing: border-box;

  position: absolute;

  height: auto;

  font-size: 12px;

  line-height: 16px;
}

:host(.has-label-only) .tab-badge {
  --badge-end: #{calc(50% - 50px)};
}

:host(.has-icon-only) .tab-badge {
  --badge-end: #{calc(50% - 30px)};
}
