@import "../../themes/native/native.globals.ios";

// iOS Tabs
// --------------------------------------------------

/// @prop - Padding top on the tab button
$tab-button-ios-padding-top: 0;

/// @prop - Padding end on the tab button
$tab-button-ios-padding-end: 2px;

/// @prop - Padding bottom on the tab button
$tab-button-ios-padding-bottom: $tab-button-ios-padding-top;

/// @prop - Padding start on the tab button
$tab-button-ios-padding-start: $tab-button-ios-padding-end;

/// @prop - Max width of the tab button
$tab-button-ios-max-width: 240px;

/// @prop - Text color of the inactive tab button
$tab-button-ios-text-color: $tabbar-ios-color;

/// @prop - Font size of the tab button text
$tab-button-ios-font-size: 10px;

/// @prop - Size of the tab button icon when there is a label
$tab-button-ios-icon-size: 24px;

/// @prop - Size of the tab button icon when there is not a label
$tab-button-ios-icon-only-size: 30px;


// Tab Button: Badge
// --------------------------------------------------

/// @prop - Badge size
$tab-ios-button-badge-size: var(--badge-size, 16px);

/// @prop - Badge size when empty
$tab-ios-button-badge-size-emtpy: var(--badge-size-emtpy, 8px);

/// @prop - Badge top position
$tab-ios-button-badge-top-position: var(--badge-top-position, 2px);

/// @prop - Badge top position when empty
$tab-ios-button-badge-top-position-empty: var(--badge-top-position-empty, 4px);

/// @prop - Badge bottom position
$tab-ios-button-badge-bottom-position: var(--badge-bottom-position, calc(50% - 8px));

/// @prop - Badge bottom position when empty
$tab-ios-button-badge-bottom-position-empty: var(--badge-bottom-position-empty, calc(50% - 2px));

/// @prop - Badge left position
$tab-ios-button-badge-start-position: var(--badge-left-position, calc(50% + 12px));

/// @prop - Badge padding top
$tab-ios-button-badge-padding-top: var(--badge-padding-top, 4px);

/// @prop - Badge padding end
$tab-ios-button-badge-padding-end: var(--badge-padding-right, 4px);

/// @prop - Badge padding bottom
$tab-ios-button-badge-padding-bottom: var(--badge-padding-bottom, 4px);

/// @prop - Badge padding start
$tab-ios-button-badge-padding-start: var(--badge-padding-left, 4px);

/// @prop - Badge font size
$tab-ios-button-badge-font-size: var(--badge-font-size, 12px);