<ion-header>
    <ion-toolbar>
      <ion-title>
        Test App
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/inputs">
        <ion-label>
          Inputs test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/modals">
        <ion-label>
          Modals test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/router-link">
        <ion-label>
          Router link test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/tabs">
        <ion-label>
          Tabs test
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
