<ion-header>
    <ion-toolbar>
      <ion-title>
        Test App
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/alerts">
        <ion-label>
          Alerts test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/inputs">
        <ion-label>
          Inputs test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/form">
        <ion-label>
          Form test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/modals">
        <ion-label>
          Modals test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/router-link">
        <ion-label>
          Router link test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/tabs">
        <ion-label>
          Tabs test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/slides">
        <ion-label>
          Slides test
        </ion-label>
      </ion-item>
      <ion-item routerLink="/virtual-scroll">
        <ion-label>
          Virtual Scroll
        </ion-label>
      </ion-item>
      <ion-item routerLink="/nested-outlet/page">
        <ion-label>
          Nested ion-router-outlet
        </ion-label>
      </ion-item>
      <ion-item routerLink="/view-child">
        <ion-label>
          ViewChild()
        </ion-label>
      </ion-item>
      <ion-item routerLink="/providers">
        <ion-label>
          Providers
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
