@import "./infinite-scroll.md.vars";

.infinite-scroll-md .infinite-loading-text {
  color: $infinite-scroll-md-loading-text-color;
}

.infinite-scroll-md .infinite-loading-spinner .spinner-crescent circle {
  stroke: $infinite-scroll-md-loading-color;
}

.infinite-scroll-md .infinite-loading-spinner .spinner-bubbles circle,
.infinite-scroll-md .infinite-loading-spinner .spinner-circles circle,
.infinite-scroll-md .infinite-loading-spinner .spinner-dots circle {
  fill: $infinite-scroll-md-loading-color;
}
