import { Directive } from '@angular/core';

/**
 * Generated class for the $CLASSNAME directive.
 *
 * See https://angular.io/docs/ts/latest/api/core/index/DirectiveMetadata-class.html
 * for more info on Angular Directives.
 */
@Directive({
  selector: '[$FILENAME]' // Attribute selector
})
export class $CLASSNAME {

  constructor() {
    console.log('Hello $CLASSNAME Directive');
  }

}
