@import "../../../../../med-components/abstracts";

:host(.med-navbar) {
  --background: var(--surface, #{medsoft-color(neutral-dark, prime)});

  display: block;

  .header {
    background: var(--background);

    &__container {
      padding: var(--ion-safe-area-top, 0) #{$med-spacing-inset-sm} 0 #{$med-spacing-inset-sm};
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      min-height: 48px;
    }
  }

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }

  .center {
    // setado via tsx //
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    // setado via tsx //

    padding-top: $med-spacing-stack-xxxs;
    padding-bottom: $med-spacing-stack-xxxs;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
}

//
// slotted
//

:host(.med-navbar) ::slotted(*) {
  margin: 0 !important;
  padding: 0 !important;
}

:host(.med-navbar) ::slotted([slot="left"]) {
  margin-right: $med-spacing-inline-base !important;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

:host(.med-navbar) ::slotted([slot="title"]) {
  color: #{medsoft-color(neutral-light, prime)};
  font-size: $med-font-size-xs !important;
  font-weight: $med-font-weight-semibold !important;
  line-height: $med-line-height-compressed !important;

  display: block;
}

:host(.med-navbar) ::slotted([slot="subtitle"]) {
  color: #{medsoft-color(neutral-light, prime)};
  font-size: $med-font-size-xxxs !important;
  font-weight: $med-font-weight-semibold !important;
  line-height: line-height($med-font-size-xxxs) !important;

  display: block;
}

:host(.med-navbar) ::slotted([slot="right"]) {
  margin-left: $med-spacing-inline-base !important;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

//
// secondary
//

:host([ds-name="secondary"].med-navbar) {
  --background: #{medsoft-color(neutral-light, prime)};
}

:host([ds-name="secondary"].med-navbar) ::slotted([slot="title"]),
:host([ds-name="secondary"].med-navbar) ::slotted([slot="subtitle"]),
:host([ds-name="secondary"].med-navbar) ::slotted(ion-button),
:host([ds-name="secondary"].med-navbar) ::slotted(ion-button) {
  color: #{medsoft-color(neutral-dark, prime)};
}

//
// transparent
//

:host([ds-name="transparent"].med-navbar) .header {
  background: transparent;
}

:host([ds-name="transparent"][ds-theme="dark"].med-navbar) ::slotted([slot="title"]),
:host([ds-name="transparent"][ds-theme="dark"].med-navbar) ::slotted([slot="subtitle"]),
:host([ds-name="transparent"][ds-theme="dark"].med-navbar) ::slotted(ion-button),
:host([ds-name="transparent"][ds-theme="dark"].med-navbar) ::slotted(ion-button) {
  color: #{medsoft-color(neutral-dark, prime)};
}

:host([ds-name="transparent"][ds-theme="light"].med-navbar) ::slotted([slot="title"]),
:host([ds-name="transparent"][ds-theme="light"].med-navbar) ::slotted([slot="subtitle"]),
:host([ds-name="transparent"][ds-theme="light"].med-navbar) ::slotted(ion-button),
:host([ds-name="transparent"][ds-theme="light"].med-navbar) ::slotted(ion-button) {
  color: #{medsoft-color(neutral-light, prime)};
}
