<ion-aside-parent>
  <ion-aside side="left">
    LEFT
    <p>...</p>
    <p>...</p>
    <p>...</p>
    Side menu!
  </ion-aside>
  <ion-aside side="right">
    RIGHT
    <p>...</p>
    <p>...</p>
    <p>...</p>
    Side menu!
  </ion-aside>
  <ion-aside side="top">
    TOP
    <p>...</p>
    <p>...</p>
    <p>...</p>
    Side menu!
  </ion-aside>
  <ion-aside side="bottom">
    BOTTOM
    <p>...</p>
    <p>...</p>
    <p>...</p>
    Side menu!
  </ion-aside>
  <div class="content">
    <button (click)="showModal()">Show Modal</button>

    <ion-switch></ion-switch>
    <!--
    <ion-modal>
      <h2>I'm a modal!</h2>
    </ion-modal>
    -->
        <button (click)="showModal()">Show Modal</button>
        <!--
        <ion-modal>
          <h2>I'm a modal!</h2>
        </ion-modal>
        -->
      </div>
</ion-aside-parent>
