@import "../../../../../med-components/abstracts";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $med-color-neutral-dark-prime;

  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;

    &__title {
      color: $med-color-neutral-light-prime;
      font-size: $med-font-size-xs;
      line-height: $med-line-height-compressed;
      font-weight: $med-font-weight-semibold;
    }
  }

  .content {
    --background: #{$med-color-neutral-dark-prime};

    height: 100%;
    overflow-y: hidden;
  }

  ion-slides {
    --bullet-background-active: #{$med-color-brand-primary-medium};

    display: flex;
    justify-content: center;
    height: 100%;
  }

  .swiper-zoom-container div {
    flex-direction: column;
    margin: 0 16px;
  }

  .img1 {
    width: auto;
    max-width: calc(100% - 100px);
    height: auto;
    max-height: calc(100% - 100px);
  }

  .legenda {
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 1em 4em;
    max-width: 992px !important;
    overflow-x: auto;
    text-align: justify !important;
  }

  .marcaAguaSuperior {
    position: absolute;
    left: 12%;
    top: 40%;
    z-index: 1;
    width: auto;
    font-size: 2.5em;
    opacity: 0.01;
    color: #673ab7;
    pointer-events: none;
  }

  .marcaAguaInferior {
    position: absolute;
    left: 5%;
    top: 60%;
    z-index: 1;
    width: auto;
    font-size: 2.5em;
    opacity: 0.02;
    color: red;
    pointer-events: none;
  }

  .button-container {
    position: fixed;
    bottom: $med-spacing-stack-md;
    right: 15px;
    height: 175px;
    width: 48px;
  }

  .button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $med-color-neutral-light-40;

    ion-icon {
      font-size: 24px;
      color: $med-color-neutral-dark-40;
    }

    &:not(:last-child) {
      margin-bottom: $med-spacing-stack-base;
    }

    &--close {
      background-color: $med-color-neutral-dark-40;

      ion-icon {
        color: $med-color-neutral-light-prime;
      }
    }
  }
}
