@import "../../../../../med-components/abstracts";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $med-color-neutral-dark-prime;

  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;

    &__title {
      color: $med-color-neutral-light-prime;
      font-size: $med-font-size-xs;
      line-height: $med-line-height-compressed;
      font-weight: $med-font-weight-semibold;
    }
  }

  .content {
    --background: #{$med-color-neutral-dark-prime};

    height: 100%;
    overflow-y: hidden;
  }

  ion-slides {
    --bullet-background-active: #{$med-color-brand-primary-medium};

    display: flex;
    justify-content: center;
    height: 100%;
  }

  .swiper-zoom-container {
    flex-direction: column;
  }

  .zoom-imagem {
    width: auto;
    max-width: calc(100% - 100px);
    height: auto;
    max-height: calc(100% - 100px);
  }

  .zoom-legenda-container {
    padding: 16px 52px;
    text-align: center;
  }

  @media (max-width: 992px) {
    .zoom-legenda-container {
      padding: 16px 52px;
      padding-right: 70px;
      text-align: center;
    }
  }

  .zoom-legenda {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    max-width: 992px;
    overflow-y: auto;
    max-height: 50px;
  }

  .marca-agua-superior {
    position: absolute;
    top: 29%;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    opacity: 0.01;
    color: #673ab7;
    pointer-events: none;
  }

  .marca-agua-inferior {
    position: absolute;
    top: 52%;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    opacity: 0.02;
    color: red;
    pointer-events: none;
  }

  .button-container {
    position: fixed;
    bottom: $med-spacing-stack-md;
    right: 15px;
    height: 175px;
    width: 48px;
  }

  .button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $med-color-neutral-light-40;

    ion-icon {
      font-size: 24px;
      color: $med-color-neutral-dark-40;
    }

    &:not(:last-child) {
      margin-bottom: $med-spacing-stack-base;
    }

    &--close {
      background-color: $med-color-neutral-dark-40;

      ion-icon {
        color: $med-color-neutral-light-prime;
      }
    }
  }
}
