
// Alert
// --------------------------------------------------


.alert-container {
  position: absolute;
  z-index: $z-index-alert;
  display: block;

  top: 35%;
  left: 50%;
}

.alert-buttons {
  @include flex-display();
  @include flex-justify-content(center);
  overflow: hidden;

  .button {
    @include flex-display();
    @include flex(1);
  }
}
