@import "../../globals.ios";

// iOS Modals
// --------------------------------------------------

$modal-ios-background-color:          $background-ios-color !default;
$modal-ios-border-radius:             5px !default;

.modal-wrapper {
  // hidden by default to prevent flickers, the animation will show it
  transform: translate3d(0, 100%, 0);
}
