@import "./datetime.scss";
@import "../../themes/ionic.globals.md";

:host {
  width: 324px;
}

// Header
// -----------------------------------
:host .datetime-title {
  width: 100%;
  height: 124px;
}

// Calendar/Time
// -----------------------------------
:host .datetime-calendar,
:host .datetime-time {
  width: 100%;
  height: 328px;
}

// Footer
// -----------------------------------
:host .datetime-buttons {
  @include padding(7px, 14px, 7px, 12px);

  display: flex;

  align-items: center;

  justify-content: space-between;
}

:host .datetime-view-buttons ion-button {
  color: $text-color-step-200;
}
