@import "./datetime.scss";
@import "./datetime.ios.vars.scss";
@import "../../themes/ionic.globals.ios";

:host {
  --background: var(--ion-color-step-100, #ffffff);

  width: 316px;

  display: flex;

  flex-flow: column;
}

// Header
// -----------------------------------
:host .datetime-header {
  @include padding($datetime-ios-padding, $datetime-ios-padding, $datetime-ios-padding, $datetime-ios-padding);

  border-bottom: $datetime-ios-border-color;
}

:host .datetime-header .datetime-title {
  color: $text-color-step-400;

  font-size: 14px;
}

// Calendar
// -----------------------------------

/**
 * This allows the calendar to take
 * up 100% of the remaining height.
 * On iOS, if there are more than
 * 5 rows of dates, the dates should
 * be resized to fit into this
 * container.
 */
:host .datetime-calendar {
  flex: 1 1 auto;

  display: flex;

  flex-flow: column;
}

// Calendar / Header / Action Buttons
// -----------------------------------
:host .calendar-action-buttons ion-item {
  --padding-start: #{$datetime-ios-padding};
  --background-hover: transparent;
  --background-activated: transparent;
}

:host .calendar-action-buttons ion-item ion-icon,
:host .calendar-action-buttons ion-buttons ion-button {
  color: current-color(base);
}

:host .calendar-action-buttons ion-buttons {
  @include padding($datetime-ios-padding / 2, 0, 0, 0);
}

:host .calendar-action-buttons ion-buttons ion-button {
  @include margin(0, 0, 0, 0);
}

// Calendar / Header / Days of Week
// -----------------------------------
:host .calendar-days-of-week {
  @include padding(0, $datetime-ios-padding / 2, 0, $datetime-ios-padding / 2);

  color: $text-color-step-700;

  font-size: 12px;

  font-weight: 600;

  line-height: 24px;

  text-transform: uppercase;
}

// Calendar / Body
// -----------------------------------
:host .calendar-body {
  height: 100%;
}

:host .calendar-body .calendar-month {
  @include padding($datetime-ios-padding / 2, $datetime-ios-padding / 2, $datetime-ios-padding / 2, $datetime-ios-padding / 2);

  font-size: 20px;
}

// Footer
// -----------------------------------
:host .datetime-buttons {
  @include padding($datetime-ios-padding / 2, $datetime-ios-padding / 2, $datetime-ios-padding / 2, $datetime-ios-padding / 2);

  border-top: $datetime-ios-border-color;
}

:host .datetime-buttons ::slotted(ion-buttons),
:host .datetime-buttons ion-buttons {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

:host .datetime-action-buttons {
  width: 100%;
}
