<ion-menu [content]="content" side="left" persistent="true" (ionDrag)="onDrag($event)" (ionOpen)="onOpen($event)" (ionClose)="onClose($event)">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Left Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>

      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <button ion-item (click)="openRightMenu()">
        Open Right Menu
      </button>

      <button ion-item menuClose="left" class="e2eCloseLeftMenu" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="left" detail-none>
        Close Menu
      </button>

    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="secondary">
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-menu>


<ion-menu [content]="content" side="right">

  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Right Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>

      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <button ion-item (click)="openLeftMenu()">
        Open Left Menu
      </button>

      <button ion-item menuClose="right" class="e2eCloseRightMenu" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

      <button ion-item menuClose="right" detail-none>
        Close Menu
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>

<div [hidden]="isChangeDetecting()"></div>
