<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <link rel="stylesheet" href="css/framework.css">
  <script src="js/angular-1.2.0rc1.min.js"></script>
  <script src="js/angular-touch.js"></script>
  <script src="js/app.js"></script>

  <script src="js/framework/framework-panel.js"></script>
  <script src="js/framework/glue/angular-touch.js"></script>
</head>
<body ng-app="Chat">
  <section class="panel-page-container">
    
    <panel id="this-panel" class="panel-content" ng-class="{'panel-open': isPanelShowing}" ng-controller="MenuCtrl">
      <ul class="list">
        <li class="list-item">
          Max Lynch
        </li>
      </ul>
    </panel>

    <section ng-controller="RoomsCtrl">
    
      <header class="bar bar-header bar-dark">
        <button class="button button-dark" ng-click="openPanel()">Rooms</button>
        <h1 class="title">Feeds</h1>
      </header>
      
      <main class="content has-header">
        <ul class="list">
          <li class="list-item" ng-repeat="room in rooms">
            {{room.name}}
          </li>
        </ul>
      </main>
    </section>
    
  </section>

</body>
</html>
