@import "./spinner";
@import "./spinner.ios.vars";

// iOS Spinner
// --------------------------------------------------

.spinner-lines-ios line,
.spinner-lines-sm-ios line {
  stroke: $spinner-ios-ios-color;
}

.spinner-bubbles-ios circle {
  fill: $spinner-ios-bubbles-color;
}

.spinner-circles-ios circle {
  fill: $spinner-ios-circles-color;
}

.spinner-crescent-ios circle {
  stroke: $spinner-ios-crescent-color;
}

.spinner-dots-ios circle {
  fill: $spinner-ios-dots-color;
}


// Generate iOS Spinner Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {

  .spinner-ios-#{$color-name} {

    &.spinner-lines line,
    &.spinner-lines-sm line,
    &.spinner-crescent circle {
      stroke: $color-base;
    }

    &.spinner-bubbles circle,
    &.spinner-circles circle,
    &.spinner-dots circle {
      fill: $color-base;
    }

  }

}
