@import "./spinner";
@import "./spinner.md.vars";

// Material Design Spinner
// --------------------------------------------------

.spinner-lines-md line,
.spinner-lines-sm-md line {
  stroke: $spinner-md-ios-color;
}

.spinner-bubbles-md circle {
  fill: $spinner-md-bubbles-color;
}

.spinner-circles-md circle {
  fill: $spinner-md-circles-color;
}

.spinner-crescent-md circle {
  stroke: $spinner-md-crescent-color;
}

.spinner-dots-md circle {
  fill: $spinner-md-dots-color;
}


// Generate Material Design Spinner Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {

  .spinner-md-#{$color-name} {

    &.spinner-lines line,
    &.spinner-lines-sm line,
    &.spinner-crescent circle {
      stroke: $color-base;
    }

    &.spinner-bubbles circle,
    &.spinner-circles circle,
    &.spinner-dots circle {
      fill: $color-base;
    }

  }

}
