html {
  overflow: auto;
}

body.sb-show-main.sb-main-padded {
  overflow: auto;
  background-color: var(--med-color-neutral-1);
  color:var(--med-color-neutral-10);
}


.sb-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}


.storybook-only {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.storybook-only__container {
  width: 100%;
  text-align: center;
}

.storybook-only__container--icons {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  overflow-y: auto;
}

.storybook-only__icon-container {
  display: flex;
  align-items: center;
  color: #FF00FF;
}
