@import "../../themes/ionic.theme.default";
@import "./button.vars";

// Button
// --------------------------------------------------

.button {
  --ion-color-base: #{ion-color(primary, base)};
  --ion-color-contrast: #{ion-color(primary, contrast)};
  --ion-color-shade: #{ion-color(primary, shade)};

  --ripple-color: currentColor;
}

.button > .button-container {
  @include font-smoothing();
  @include text-align(center);
  @include appearance(none);
  @include border-radius(var(--border-radius));
  @include margin(
    var(--margin-top),
    var(--margin-end),
    var(--margin-bottom),
    var(--margin-start)
  );

  @include padding(
    var(--padding-top),
    var(--padding-end),
    var(--padding-bottom),
    var(--padding-start)
  );

  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;

  height: var(--height);

  border: 0;
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: var(--letter-spacing);
  line-height: 1;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: var(--text-transform);
  white-space: nowrap;
  color: inherit;
  background: var(--background);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  opacity: var(--opacity);
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  transition: var(--transition);

  font-kerning: none;
  user-select: none;

  contain: content;
}

.button[disabled] {
  pointer-events: none;
}

.button > .button-container[disabled] {
  cursor: default;
  opacity: .5;

  pointer-events: none;
}

// .button > .button-container:hover {
//   opacity: var(--opacity-hover);
// }

.button > .button-container:active,
.button > .button-container:focus {
  outline: none;
}

.button-inner {
  display: flex;

  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

// Solid Button
// --------------------------------------------------

.button-solid {
  color: #{current-color(contrast)};

  --background: #{current-color(base)};
}


// Outline Button
// --------------------------------------------------

.button-outline {
  color: #{current-color(base)};

  --border-color: #{current-color(base)};
  --background: transparent;
}


// Clear Button
// --------------------------------------------------

.button-clear {
  color: #{current-color(base)};

  --border-width: 0;
  --background: transparent;
}


// Block Button
// --------------------------------------------------

.button-block > .button-container {
  @include margin-horizontal(0);

  display: block;
  clear: both;

  width: 100%;

  contain: strict;
}

.button-block > .button-container::after {
  clear: both;
}


// Full Button
// --------------------------------------------------

.button-full > .button-container {
  @include margin-horizontal(0);

  display: block;

  width: 100%;

  contain: strict;
}

.button-full:not(.button-round) > .button-container {
  @include border-radius(0);

  border-right-width: 0;
  border-left-width: 0;
}


// Button Icons
// --------------------------------------------------

.button ion-icon {
  font-size: 1.4em;

  pointer-events: none;
}

.button ion-icon[slot="start"] {
  @include margin(0, .3em, 0, -.3em);
}

.button ion-icon[slot="end"] {
  @include margin(0, -.2em, 0, .3em);
}

.button ion-icon[slot="icon-only"] {
  font-size: 1.8em;
}


// Button Ripple effect
// --------------------------------------------------

.button ion-ripple-effect {
  --color: var(--ripple-color);
}
