@import "./button";
@import "./button.ios.vars";


// iOS Button
// --------------------------------------------------

.button-ios {
  font-family: #{$button-ios-font-family};
  font-size: #{$button-ios-font-size};
  font-weight: #{$button-ios-font-weight};

  --border-radius: #{$button-ios-border-radius};

  --margin-top: #{$button-ios-margin-top};
  --margin-bottom: #{$button-ios-margin-bottom};
  --margin-start: #{$button-ios-margin-start};
  --margin-end: #{$button-ios-margin-end};

  --padding-top: #{$button-ios-padding-top};
  --padding-bottom: #{$button-ios-padding-bottom};
  --padding-start: #{$button-ios-padding-start};
  --padding-end: #{$button-ios-padding-end};

  --height: #{$button-ios-height};
  --letter-spacing: #{$button-ios-letter-spacing};

  --transition: background-color, opacity 100ms linear;
}


// iOS Button Sizes
// --------------------------------------------------

.button-large-ios {
  font-size: #{$button-ios-large-font-size};

  --padding-top: #{$button-ios-large-padding-top};
  --padding-start: #{$button-ios-large-padding-start};
  --padding-end: #{$button-ios-large-padding-end};
  --padding-bottom: #{$button-ios-large-padding-bottom};

  --height: #{$button-ios-large-height};
}

.button-small-ios {
  font-size: #{$button-ios-small-font-size};

  --padding-top: #{$button-ios-small-padding-top};
  --padding-start: #{$button-ios-small-padding-start};
  --padding-end: #{$button-ios-small-padding-end};
  --padding-bottom: #{$button-ios-small-padding-bottom};

  --height: #{$button-ios-small-height};
}

// iOS Solid Button

.button-solid-ios:hover {
  --opacity: #{$button-ios-opacity-hover};
}

.button-solid-ios.focused {
  --background: #{current-color(shade)};
}

.button-solid-ios.activated {
  --background: #{current-color(shade)};
  --opacity: #{$button-ios-opacity-activated};
}

// iOS Outline Button
// --------------------------------------------------

.button-outline-ios {
  --border-radius: #{$button-ios-outline-border-radius};
  --border-width: #{$button-ios-outline-border-width};
  --border-style: #{$button-ios-outline-border-style};
}

.button-outline-ios.activated {
  color: #{current-color(contrast)};

  --background: #{current-color(base)};
}

.button-outline-ios.focused {
  --background: #{current-color(base, .1)};
}

.button-outline-ios.activated.focused {
  --border-color: #{current-color(shade)};
  --background-color: #{current-color(shade)};
}

// iOS Clear Button
// --------------------------------------------------

.button-clear-ios:hover {
  --opacity: #{$button-ios-clear-opacity-hover};
}

.button-clear-ios.activated {
  --opacity: #{$button-ios-clear-opacity-activated};
}

.button-clear-ios.focused {
  --background: #{current-color(base, .1)};
}


// iOS Round Button
// --------------------------------------------------

.button-round-ios {
  --border-radius: #{$button-ios-round-border-radius};

  --padding-top: #{$button-ios-round-padding-top};
  --padding-start: #{$button-ios-round-padding-start};
  --padding-end: #{$button-ios-round-padding-end};
  --padding-bottom: #{$button-ios-round-padding-bottom};
}


// iOS strong Button
// --------------------------------------------------

.button-strong-ios {
  font-weight: #{$button-ios-strong-font-weight};
}
