@import "../../themes/ionic.globals.ios";

// iOS Button
// --------------------------------------------------

/// @prop - Margin top of the button
$button-ios-margin-top:                               4px !default;

/// @prop - Margin end of the button
$button-ios-margin-end:                               2px !default;

/// @prop - Margin bottom of the button
$button-ios-margin-bottom:                            4px !default;

/// @prop - Margin start of the button
$button-ios-margin-start:                             2px !default;

/// @prop - Padding top of the button
$button-ios-padding-top:                              13px !default;

/// @prop - Padding end of the button
$button-ios-padding-end:                              1em !default;

/// @prop - Padding bottom of the button
$button-ios-padding-bottom:                           $button-ios-padding-top !default;

/// @prop - Padding start of the button
$button-ios-padding-start:                            $button-ios-padding-end !default;

/// @prop - Minimum height of the button
$button-ios-min-height:                               3.1em !default;

/// @prop - Border radius of the button
$button-ios-border-radius:                            14px !default;

/// @prop - Baseline font size of the button text
$button-ios-baseline-font-size:                       16px !default;

/// @prop - Font size of the button text
/// The maximum font size is calculated by taking the default font size
/// and multiplying it by 3, since 310% of the default is the maximum
$button-ios-font-size:                                dynamic-font-max($button-ios-baseline-font-size, 3) !default;

/// @prop - Font weight of the button text
$button-ios-font-weight:                              500 !default;

// iOS Large Button
// --------------------------------------------------

/// @prop - Padding top of the large button
$button-ios-large-padding-top:                        17px !default;

/// @prop - Padding end of the large button
$button-ios-large-padding-end:                        1em !default;

/// @prop - Padding bottom of the large button
$button-ios-large-padding-bottom:                     $button-ios-large-padding-top !default;

/// @prop - Padding start of the large button
$button-ios-large-padding-start:                      $button-ios-large-padding-end !default;

/// @prop - Minimum height of the large button
$button-ios-large-min-height:                         3.1em !default;

/// @prop - Border radius of the large button
$button-ios-large-border-radius:                      16px !default;

/// @prop - Font size of the large button
/// The maximum font size is calculated by taking the default font size
/// and multiplying it by 3, since 310% of the default is the maximum
$button-ios-large-font-size:                          dynamic-font-max(20px, 3) !default;


// iOS Small Button
// --------------------------------------------------

/// @prop - Padding top of the small button
$button-ios-small-padding-top:                        4px !default;

/// @prop - Padding end of the small button
$button-ios-small-padding-end:                        .9em !default;

/// @prop - Padding bottom of the small button
$button-ios-small-padding-bottom:                     $button-ios-small-padding-top !default;

/// @prop - Padding start of the small button
$button-ios-small-padding-start:                      $button-ios-small-padding-end !default;

/// @prop - Minimum height of the small button
$button-ios-small-min-height:                         2.1em !default;

/// @prop - Border radius of the small button
$button-ios-small-border-radius:                      6px !default;

/// @prop - Font size of the small button
/// The maximum font size is calculated by taking the default font size
/// and multiplying it by 3, since 310% of the default is the maximum
$button-ios-small-font-size:                          dynamic-font-max(13px, 3) !default;


// iOS Outline Button
// --------------------------------------------------

/// @prop - Border width of the outline button
$button-ios-outline-border-width:                     1px !default;

/// @prop - Border style of the outline button
$button-ios-outline-border-style:                     solid !default;

/// @prop - Border radius of the outline button
$button-ios-outline-border-radius:                    $button-ios-border-radius !default;

// iOS Clear Button
// --------------------------------------------------

/// @prop - Font size of the clear button
/// The maximum font size is calculated by taking the default font size
/// and multiplying it by 3, since 310% of the default is the maximum
$button-ios-clear-font-size:                          dynamic-font-max(17px, 3) !default;

/// @prop - Font weight of the clear button
$button-ios-clear-font-weight:                        normal !default;

/// @prop - Letter spacing of the button
$button-ios-letter-spacing:                           0 !default;

/// @prop - Opacity of the activated clear button
$button-ios-clear-opacity-activated:                  .4 !default;

/// @prop - Opacity of the clear button on hover
$button-ios-clear-opacity-hover:                      .6 !default;

// iOS Round Button
// --------------------------------------------------

/// @prop - Padding top of the round button
$button-ios-round-padding-top:                        $button-round-padding-top !default;

/// @prop - Padding end of the round button
$button-ios-round-padding-end:                        $button-round-padding-end !default;

/// @prop - Padding bottom of the round button
$button-ios-round-padding-bottom:                     $button-round-padding-bottom !default;

/// @prop - Padding start of the round button
$button-ios-round-padding-start:                      $button-round-padding-start !default;

/// @prop - Border radius of the round button
$button-ios-round-border-radius:                      $button-round-border-radius !default;


// iOS Decorator Button
// --------------------------------------------------

/// @prop - Font weight of the strong button
$button-ios-strong-font-weight:                       600 !default;
