@import "./button";
@import "./button.md.vars";


// Material Design Button
// --------------------------------------------------

:host {
    --border-radius: #{$button-md-border-radius};
    --padding-top: #{$button-md-padding-top};
    --padding-bottom: #{$button-md-padding-bottom};
    --padding-start: #{$button-md-padding-start};
    --padding-end: #{$button-md-padding-end};
    --transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),
                    background-color 15ms linear,
                    color 15ms linear;

    @include margin($button-md-margin-top, $button-md-margin-end, $button-md-margin-bottom, $button-md-margin-start);

    height: #{$button-md-height};

    font-size: #{$button-md-font-size};
    font-weight: #{$button-md-font-weight};

    letter-spacing: #{$button-md-letter-spacing};

    text-transform: #{$button-md-text-transform};
    }

    // Material Design Solid Button
    // --------------------------------------------------

    :host(.med-button-solid) {
    --background-activated: transparent;
    --background-hover: #{ion-color(primary, contrast)};
    --background-focused: #{ion-color(primary, contrast)};
    --background-activated-opacity: 0;
    --background-focused-opacity: .24;
    --background-hover-opacity: .08;
    --box-shadow: #{$button-md-box-shadow};
    }

    :host(.med-button-solid.ion-activated) {
    --box-shadow: #{$button-md-box-shadow-activated};
    }

    // Material Design Outline Button
    // --------------------------------------------------

    :host(.med-button-outline) {
    --border-width: 2px;
    --border-style: solid;
    --box-shadow: none;
    --background-activated: transparent;
    --background-focused: #{ion-color(primary, base)};
    --background-hover: #{ion-color(primary, base)};
    --background-activated-opacity: 0;
    --background-focused-opacity: .12;
    --background-hover-opacity: .04;
    }

    :host(.med-button-outline.ion-activated.ion-color) .button-native {
    background: transparent;
    }


    // Material Design Clear Button
    // --------------------------------------------------

    :host(.med-button-clear) {
    --background-activated: transparent;
    --background-focused: #{ion-color(primary, base)};
    --background-hover: #{ion-color(primary, base)};
    --background-activated-opacity: 0;
    --background-focused-opacity: .12;
    --background-hover-opacity: .04;
    }


    // Material Design Round Button
    // --------------------------------------------------

    :host(.button-round) {
    --border-radius: #{$button-md-round-border-radius};
    --padding-top: #{$button-md-round-padding-top};
    --padding-start: #{$button-md-round-padding-start};
    --padding-end: #{$button-md-round-padding-end};
    --padding-bottom: #{$button-md-round-padding-bottom};
    }


    // Material Design Button Sizes
    // --------------------------------------------------

    :host(.button-large) {
    --padding-top: #{$button-md-large-padding-top};
    --padding-start: #{$button-md-large-padding-start};
    --padding-end: #{$button-md-large-padding-end};
    --padding-bottom: #{$button-md-large-padding-bottom};

    height: #{$button-md-large-height};

    font-size: #{$button-md-large-font-size};
    }

    :host(.button-small) {
    --padding-top: #{$button-md-small-padding-top};
    --padding-start: #{$button-md-small-padding-start};
    --padding-end: #{$button-md-small-padding-end};
    --padding-bottom: #{$button-md-small-padding-bottom};

    height: #{$button-md-small-height};

    font-size: #{$button-md-small-font-size};
    }


    // MD strong Button
    // --------------------------------------------------

    :host(.button-strong) {
    font-weight: #{$button-md-strong-font-weight};
    }

    ::slotted(ion-icon[slot="icon-only"]) {
    @include padding(0);
    }


    // Material Design Button: Hover
    // --------------------------------------------------

    :host(.med-button-solid.ion-color.ion-focused) .button-native::after {
    background: #{current-color(contrast)};

    opacity: .24;
    }

    :host(.med-button-clear.ion-color.ion-focused) .button-native::after,
    :host(.med-button-outline.ion-color.ion-focused) .button-native::after {
    background: #{current-color(base)};

    opacity: .12;
    }

    @media (any-hover: hover) {
    :host(.med-button-solid.ion-color:hover) .button-native::after {
        background: #{current-color(contrast)};

        opacity: .08;
    }

    :host(.med-button-clear.ion-color:hover) .button-native::after,
    :host(.med-button-outline.ion-color:hover) .button-native::after {
        background: #{current-color(base)};

        opacity: .04;
    }
}

// @import './button.med.scss';

//
// custom
//

@import "../../../med-components/abstracts";

:host {
  // ionic css custom properties
  --border-radius: #{$med-border-radius-pill};
  --box-shadow: none;
  --transition: background 300ms ease-out, color 300ms ease-out, border-color 300ms ease-out, opacity 300ms ease-out;

  min-height: 48px;
  min-width: auto;
  height: auto;
  font-size: $med-font-size-xxs;
  font-weight: $med-font-weight-semibold;
  text-transform: uppercase;
  margin: 0;
}

.button-native {
  padding: $med-spacing-squish-base;
  min-height: 48px;
  line-height: $med-line-height-compressed;
  box-shadow: none;
}

.button-native::before {
  transition: var(--transition);
}

:host(.med-button-disabled) {
  opacity: 1;
}

//
// primary
//

:host(.med-button-solid) {
  --color: #{medsoft-color(brand-primary, contrast)};
  --background: #{medsoft-color(brand-primary, gradient)};
  --background-hover: #{medsoft-color(brand-primary, medium)};
  --background-hover-opacity: 1;
  --background-focused: #{medsoft-color(brand-primary, medium)};
  --background-focused-opacity: 1;
  --background-activated: #{medsoft-color(brand-primary, dark)};
  --background-activated-opacity: 1;
  --ripple-color: #{medsoft-color(brand-primary, dark)};
}

// disabled
:host(.med-button-solid.med-button-disabled) {
  --background: #{medsoft-color(neutral-light, 20)};
}

// color
:host(.ion-color.med-button-solid) .button-native {
  background: medsoft-current-color(gradient);
}

// color hover
@media (any-hover: hover) {
  :host(.ion-color.med-button-solid:hover) .button-native::before {
    background: medsoft-current-color(medium);
  }
}

// color focused
:host(.ion-color.med-button-solid.ion-focused) .button-native::before {
  background: medsoft-current-color(medium);
}

// color activated
:host(.ion-color.med-button-solid.ion-activated) .button-native::before {
  background: medsoft-current-color(dark);
}

// color disabled
:host(.ion-color.med-button-solid.med-button-disabled) .button-native {
  background: medsoft-color(neutral-light, 20);
}

//
// primary
//

:host(.med-button-solid) {
  --color: #{medsoft-color(brand-primary, contrast)};
  --background: #{medsoft-color(brand-primary, gradient)};
  --background-hover: #{medsoft-color(brand-primary, medium)};
  --background-hover-opacity: 1;
  --background-focused: #{medsoft-color(brand-primary, medium)};
  --background-focused-opacity: 1;
  --background-activated: #{medsoft-color(brand-primary, dark)};
  --background-activated-opacity: 1;
  --ripple-color: #{medsoft-color(brand-primary, dark)};
}

// disabled
:host(.med-button-solid.med-button-disabled) {
  --background: #{medsoft-color(neutral-light, 20)};
}

// color
:host(.ion-color.med-button-solid) .button-native {
  background: medsoft-current-color(gradient);
}

// color hover
@media (any-hover: hover) {
  :host(.ion-color.med-button-solid:hover) .button-native::before {
    background: medsoft-current-color(medium);
  }
}

// color focused
:host(.ion-color.med-button-solid.ion-focused) .button-native::before {
  background: medsoft-current-color(medium);
}

// color activated
:host(.ion-color.med-button-solid.ion-activated) .button-native::before {
  background: medsoft-current-color(dark);
}

// color disabled
:host(.ion-color.med-button-solid.med-button-disabled) .button-native {
  background: medsoft-color(neutral-light, 20);
}

//
// primary
//

/* :host(.med-button-solid) {
  --background: #{medsoft-color(brand-primary, gradient)};
  --background-hover: #{medsoft-color(brand-primary, medium)};
  --background-hover-opacity: 1;
  --background-focused: #{$med-color-brand-primary-medium};
  --background-focused-opacity: 1;
  --background-activated: #{$med-color-brand-primary-dark};
  --background-activated-opacity: 1;
  --ripple-color: #{$med-color-brand-primary-dark};
}

// color
:host(.ion-color.med-button-solid) .button-native {
  background: #{medsoft-current-color(gradient)};
}

@media (any-hover: hover) {
  :host(.ion-color.med-button-solid:hover) .button-native::before {
    background: medsoft-current-color(medium);
  }
}

// expand
:host([expand="full"].med-button-solid) {
  --min-height: 48px;
  --font-size: #{$med-font-size-xxs};
  --padding: #{$med-spacing-squish-base};
}

:host([expand="block"].med-button-solid) {
  --min-height: 48px;
  --font-size: #{$med-font-size-xxs};
  --padding: #{$med-spacing-squish-base};
}

// sizes primary
:host([ds-size="sm"].med-button-solid) {
  --min-height: 40px;
}

:host([ds-size="xs"].med-button-solid) {
  --min-height: 32px;
  --font-size: #{$med-font-size-xxxs};
  --padding: #{$med-spacing-squish-sm};
}

:host([ds-size="xxs"].med-button-solid) {
  --min-height: 24px;
  --font-size: #{$med-font-size-nano};
  --padding: 0 #{$med-spacing-inline-base};
}

// disabled
:host(.med-button-solid.med-button-disabled) .button-native {
  background: $med-color-neutral-light-20;
}

// active
:host(.ion-color.med-button-solid.ion-activated) {
  --background-activated: current-color(shade);
} */

//
// secondary
//

/* :host(.med-button-outline) {
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --border-width: #{$med-border-width-thin};
  --border-color: #{$med-color-brand-primary-light};
  --color: #{$med-color-brand-primary-light};
  --ripple-color: transparent;

  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
}

// sizes secondary
:host([ds-size="sm"].med-button-outline) {
  --min-height: 40px;
}

:host([ds-size="xs"].med-button-outline) {
  --min-height: 32px;
  --font-size: #{$med-font-size-xxxs};
  --padding: #{$med-spacing-squish-sm};
}

:host([ds-size="xxs"].med-button-outline) {
  --min-height: 24px;
  --font-size: #{$med-font-size-nano};
  --padding: 0 #{$med-spacing-inline-base};
}

// hover
@media (any-hover: hover) {
  :host(.med-button-outline:hover) {
    --border-color: #{$med-color-brand-primary-medium};
    --color: #{$med-color-brand-primary-medium};
  }
}

// hover storybook
:host(.med-button-outline.med-hovered) {
  --border-color: #{$med-color-brand-primary-medium};
  --color: #{$med-color-brand-primary-medium};
}

// active
:host(.med-button-outline.ion-activated) {
  --border-color: #{$med-color-brand-primary-dark};
  --color: #{$med-color-brand-primary-dark};
}

// focus
:host(.med-button-outline.ion-focused) {
  --border-color: #{$med-color-brand-primary-medium};
  --color: #{$med-color-brand-primary-medium};
}

// disabled
:host(.med-button-outline.med-button-disabled) {
  --border-color: #{$med-color-neutral-light-10};
  --color: #{$med-color-neutral-light-10};
}

:host(.ion-color.med-button-outline.med-button-disabled) {
  --ion-color-base: #{$med-color-neutral-light-10} !important;
} */

//
// tertiary
//

/* :host(.med-button-clear) {
  --background-hover: #{$med-color-brand-primary-medium};
  --background-hover-opacity: #{$med-opacity-level-light};
  --background-focused: #{$med-color-brand-primary-medium};
  --background-focused-opacity: #{$med-opacity-level-light};
  --ripple-color: rgba(#{$med-color-brand-primary-medium-rgb}, #{$med-opacity-level-light});
  --border-radius: #{$med-border-radius-nano};

  // design system
  --padding: #{$med-spacing-inset-xs};
  --color: #{$med-color-neutral-light-prime};
  --min-height: 32px;
}

// expand
:host([expand="full"].med-button-clear) {
  --min-height: 48px;
  --font-size: #{$med-font-size-xxs};
}

:host([expand="block"].med-button-clear) {
  --min-height: 32px;
  --font-size: #{$med-font-size-xxs};
}

// sizes tertiary
:host([ds-size="sm"].med-button-clear) {
  --min-height: 40px;
}

:host([ds-size="xs"].med-button-clear) {
  --min-height: 32px;
  --font-size: #{$med-font-size-xxxs};
  --padding: #{$med-spacing-squish-sm};
}

:host([ds-size="xxs"].med-button-clear) {
  --min-height: 24px;
  --font-size: #{$med-font-size-nano};
  --padding: 0 #{$med-spacing-inline-base};
}

// disabled
:host(.med-button-clear.med-button-disabled) {
  --color: #{$med-color-neutral-light-10};
  --ion-color-base: #{$med-color-neutral-light-10} !important;
}

:host(.ion.med-button-clear.med-button-disabled) {
  --ion-color-base: #{$med-color-neutral-light-10} !important;
} */

//
// icon-only
//

/* :host(.button-has-icon-only) {
  --border-radius: 50%;
  --background-hover: #{$med-color-neutral-light-10};
  --background-hover-opacity: #{$med-opacity-level-semitransparent};
  --background-focused: #{$med-color-neutral-light-10};
  --background-focused-opacity: #{$med-opacity-level-semitransparent};
  --ripple-color: rgba(#{$med-color-neutral-light-10-rgb}, #{$med-opacity-level-semitransparent});

  // design system
  --padding: 0;
  --color: #{$med-color-neutral-light-prime};
  --min-height: 32px;
  --min-width: 32px;

  font-size: 32px;
}

:host(.ion-color.button-has-icon-only) ::slotted(ion-icon[slot="icon-only"]) {
  color: var(--ion-color-base);
}

// slotted
::slotted(ion-icon) {
  font-size: 1em;
}

::slotted(ion-icon[slot="icon-only"]) {
  color: $med-color-neutral-light-prime;
  font-size: 1em;
}

// disabled
:host(.button-has-icon-only.med-button-disabled) ::slotted(ion-icon[slot="icon-only"]) {
  opacity: $med-opacity-level-medium;
}

// sizes
:host([ds-size="xs"].button-has-icon-only) {
  --min-height: 16px;
  --min-width: 16px;
  --padding: 0;
  font-size: 16px;
}

:host([ds-size="sm"].button-has-icon-only) {
  --min-height: 24px;
  --min-width: 24px;
  --padding: 0;
  font-size: 24px;
}

// in med-navbar default
:host(.in-med-navbar.button-has-icon-only) {
  --min-height: 24px;
  --min-width: 24px;
  font-size: 24px;
}

// in med-toolbar
:host(.in-med-toolbar.button-has-icon-only) {
  --min-height: 32px;
  --min-width: 32px;
  font-size: 24px;

  ::slotted(ion-icon[slot="icon-only"]) {
    color: $med-color-neutral-light-10;
  }
}

:host(.in-med-toolbar.button-has-icon-only:not(:last-child)) {
  margin-right: $med-spacing-inline-xxs;
} */

//
// icon-label
//

/* :host(.button-icon-label) {
  --padding: 0;
  --color: #{$med-color-neutral-light-prime};
  --font-size: #{$med-font-size-xxs};
  --font-weight: #{$med-font-weight-regular};
  --text-transform: normal;
  --line-height: #{$med-line-height-compressed};

  --background-hover: transparent;
  --background-hover-opacity: transparent;
  --background-focused: transparent;
  --background-focused-opacity: transparent;
  --ripple-color: transparent;
}

::slotted(ion-icon[slot="start"]) {
  margin: 0 $med-spacing-inline-nano 0 0;
}

::slotted(ion-icon[slot="end"]) {
  margin: 0 0 0 $med-spacing-inline-nano;
}

:host(.button-icon-label) ::slotted(ion-icon) {
  font-size: 24px;
}

// activated
:host(.button-icon-label.ion-activated) {
  opacity: $med-opacity-level-half;
}

// disabled
:host(.button-icon-label.med-button-disabled) {
  opacity: $med-opacity-level-medium;
}

// in med-toolbar
:host(.in-med-toolbar.button-icon-label) {
  color: $med-color-neutral-light-10;
} */

//
// remoção do ::after
//

:host(.button-block) .button-native::after,
.button-native::after,
:host(.ion-activated) .button-native::after,
:host(.ion-focused) .button-native::after {
	display: none;
}

:host(.med-hovered) .button-native::after {
  display: none;
}

@media (any-hover: hover) {
  :host(:hover) .button-native::after {
	  display: none;
  }
}

:host(.med-button-solid.ion-color.ion-focused) .button-native::after,
:host(.med-button-clear.ion-color.ion-focused) .button-native::after,
:host(.med-button-outline.ion-color.ion-focused) .button-native::after {
	display: none;
}

:host(.med-hovered.med-button-solid.ion-color) .button-native::after,
:host(.med-hovered.med-button-clear.ion-color) .button-native::after,
:host(.med-hovered.med-button-outline.ion-color) .button-native::after {
  display: none;
}

@media (any-hover: hover) {
  :host(.med-button-solid.ion-color:hover) .button-native::after,
	:host(.med-button-clear.ion-color:hover) .button-native::after,
  :host(.med-button-outline.ion-color:hover) .button-native::after {
		display: none;
	}
}

//
// replace do ::after pelo ::before
//

:host(.button-block) .button-native::before {
  clear: both;
}

.button-native::before {
  @include button-state();
}

:host(.ion-activated) .button-native::before {
  background: var(--background-activated);
  opacity: var(--background-activated-opacity);
}

:host(.ion-focused) .button-native::before {
  background: var(--background-focused);
  opacity: var(--background-focused-opacity);
}

@media (any-hover: hover) {
  :host(:hover) .button-native::before {
    background: var(--background-hover);
    opacity: var(--background-hover-opacity);
  }
}

/* :host(.med-button-solid.ion-color.ion-focused) .button-native::before {
  background: medsoft-current-color(medium);
  //opacity: .24;
} */

:host(.med-button-outline.ion-color.ion-focused) .button-native::before {
  background: medsoft-current-color(medium);
  //opacity: 0;
}

:host(.med-button-clear.ion-color.ion-focused) .button-native::before {
  background: medsoft-current-color(medium);
}

@media (any-hover: hover) {
  /* :host(.med-button-solid.ion-color:hover) .button-native::before {
    background: medsoft-current-color(light);
  } */

  :host(.med-button-outline.ion-color:hover) .button-native::before {
    background: medsoft-current-color(medium);
  }

  :host(.med-button-clear.ion-color:hover) .button-native::before {
    background: medsoft-current-color(medium);
  }
}

//
// documentação storybook
//

/* :host(.med-hovered) .button-native::before {
  background: var(--background-hover);
  opacity: var(--background-hover-opacity);
} */

/* :host(.med-hovered.med-button-solid.ion-color) .button-native::before {
  background: medsoft-current-color(medium);
} */

/* :host(.med-hovered.med-button-clear.ion-color) .button-native::before {
  background: medsoft-current-color(medium);
} */

/* :host(.med-hovered.med-button-outline.ion-color) .button-native::before {
  background: medsoft-current-color(medium);
} */
