@import "../../themes/ionic.globals.ios";
@import "../item/item.ios.vars";

// iOS Item Divider
// --------------------------------------------------

/// @prop - Minimum height of the item divider
$item-divider-ios-min-height:             31px !default;

/// @prop - Font size of the item divider
$item-divider-ios-font-size:              17px !default;

/// @prop - Background for the item divider
$item-divider-ios-background:             $background-color-step-50 !default;

/// @prop - Border color for the item divider
$item-divider-ios-border-color:           $item-ios-border-color !default;

/// @prop - Border width for the item divider
$item-divider-ios-border-width:           1px 0 1px 0 !default;

/// @prop - Color for the item divider
$item-divider-ios-color:                  $text-color-step-150 !default;

/// @prop - Padding start for the item divider
$item-divider-ios-padding-start:          $item-ios-padding-start !default;

/// @prop - Padding end for the item divider
$item-divider-ios-padding-end:            $item-ios-padding-end !default;
