@import "../../themes/native/native.globals.ios";

// iOS Breadcrumb
// --------------------------------------------------

/// @prop - Color of the breadcrumb
$breadcrumb-ios-color: var(--ion-components-ion-breadcrumb-color);

/// @prop - Color of the active breadcrumb
$breadcrumb-ios-color-active: var(--ion-text-color, #03060b);

/// @prop - Background color of the focused breadcrumb
$breadcrumb-ios-background-focused: var(--ion-components-ion-breadcrumb-bg-focused);

/// @prop - Color of the breadcrumb icon
$breadcrumb-ios-icon-color: var(--ion-components-ion-breadcrumb-icon-color);

/// @prop - Color of the breadcrumb icon when active
$breadcrumb-ios-icon-color-active: var(--ion-components-ion-breadcrumb-icon-color-active);

/// @prop - Color of the breadcrumb icon when focused
$breadcrumb-ios-icon-color-focused: var(--ion-components-ion-breadcrumb-icon-color-focused);

/// @prop - Color of the breadcrumb separator
$breadcrumb-ios-separator-color: $breadcrumb-separator-color;

/// @prop - Color of the breadcrumb indicator
$breadcrumb-ios-indicator-color: $breadcrumb-ios-separator-color;

/// @prop - Background color of the breadcrumb indicator
$breadcrumb-ios-indicator-background: var(--ion-components-ion-breadcrumb-indicator-bg);

/// @prop - Background color of the breadcrumb indicator when focused
$breadcrumb-ios-indicator-background-focused: var(--ion-components-ion-breadcrumb-indicator-bg-focused);
