@import "./breadcrumb";
@import "./breadcrumb.md.vars";

// Breadcrumb
// --------------------------------------------------

:host {
  --color: #{$breadcrumb-md-color};
}

:host(.breadcrumb-active) {
  color: $breadcrumb-md-color-active;

  font-weight: 500;
}

// Breadcrumb Separator
// ------------------------------------------

.breadcrumb-separator {
  @include margin($breadcrumb-md-separator-margin-top, $breadcrumb-md-separator-margin-end, $breadcrumb-md-separator-margin-bottom, $breadcrumb-md-separator-margin-start);
}

// :host(.ion-focused) .breadcrumb-native {
.breadcrumb-native {
  // border: 1px solid blue;
  // color: var(--color-focused);

  // &::after {
  //   background: var(--background-focused);

  //   opacity: var(--background-focused-opacity);
  // }
}

// Breadcrumb Slotted Icons
// ------------------------------------------

::slotted(ion-icon) {
  color: #7d8894;

  font-size: 18px;
}

::slotted(ion-icon[slot="start"]) {
  @include margin(null, 8px, null, null);
}

::slotted(ion-icon[slot="end"]) {
  @include margin(null, null, null, 8px);
}

:host(.breadcrumb-active) ::slotted(ion-icon) {
  color: #222d3a;
}
