@import "./breadcrumb.vars";

// Breadcrumb
// --------------------------------------------------

:host {
 /**
   * @prop --color: Color of the breadcrumb
   */
  display: flex;

  flex: 0 0 auto;

  align-items: center;

  color: var(--color);

  font-size: $breadcrumb-font-size;
  font-weight: $breadcrumb-font-weight;

  line-height: 1.5;
}

.breadcrumb-native {
  @include text-inherit();
  @include padding(0);
  @include margin(0);

  display: flex;

  align-items: center;

  width: 100%;

  outline: none;

  background: inherit;
}

:host(.breadcrumb-disabled) {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}


// Breadcrumb Separator
// ------------------------------------------

.breadcrumb-separator {
  display: inline-flex;

  color: #73849a;
}


// Breadcrumb: Collapsed
// ------------------------------------------

:host(.breadcrumb-collapsed) .breadcrumb-native {
  display: none;
}


// Breadcrumbs: Color
// ------------------------------------------

:host(.in-breadcrumbs-color),
:host(.in-breadcrumbs-color.breadcrumb-active) {
  color: current-color(base);
}

:host(.in-breadcrumbs-color) .breadcrumb-separator {
  color: current-color(base);
}

// Breadcrumb: Color
// ------------------------------------------

:host(.ion-color) {
  color: current-color(base);
}

:host(.in-toolbar-color),
:host(.in-toolbar-color) .breadcrumb-separator {
  color: current-color(contrast, .8);
}

:host(.in-toolbar-color.breadcrumb-active) {
  color: current-color(contrast);
}


// Breadcrumb: Focused
// --------------------------------------------------

:host(.ion-focused) .button-native {
  border: 1px solid var(--color);
  // color: var(--color-focused);

  // &::after {
  //   background: var(--background-focused);

  //   opacity: var(--background-focused-opacity);
  // }
}
