@import "../../themes/ionic.globals";

// Breadcrumb
// --------------------------------------------------

/// @prop - Font weight of the breadcrumb
$breadcrumb-font-weight:         400 !default;

$breadcrumb-baseline-font-size: 16px !default;

/// @prop - Font size of the breadcrumb
$breadcrumb-font-size:           dynamic-font($breadcrumb-baseline-font-size) !default;

/// @prop - Color of the breadcrumb separator
$breadcrumb-separator-color:     var(--ion-color-step-550, var(--ion-text-color-step-450, #73849a)) !default;
