@import "./chip.native";
@import "./chip.vars";

:host {
  font-size: $chip-base-font-size-rem;
}

// Chip Shapes
// ---------------------------------------------

:host(.chip-soft) {
  --border-radius: 8px;
}

:host(.chip-round) {
  --border-radius: 999px;
}

:host(.chip-rectangular) {
  --border-radius: 0px;
}
