@import "../../../med-components/abstracts";

:host {
  // ionic css custom properties
  --color: #{medsoft-color(neutral-dark, 30)};
  --background: #{medsoft-color(neutral-light, 30)};

  // design system css custom properties
  --ripple-color: #{medsoft-color(brand-primary, dark, $med-opacity-level-half)};

  height: 32px;
  padding: $med-spacing-squish-nano;
  background: var(--background);
  border-radius: $med-border-radius-pill;
  font-size: $med-font-size-xxs;
  font-weight: $med-font-weight-regular;
  line-height: $med-line-height-compressed;
  color: var(--color);
}

// activated
:host(.ion-activated) {
  --background: #{medsoft-color(neutral-light, 30)};
}

// hover
@media (any-hover: hover) {
  :host(:hover) {
    --background: #{medsoft-color(neutral-light, 30)};
  }
}

// color
:host(.ion-color)  {
  background: #{medsoft-current-color(lightest)};
  color: #{medsoft-current-color(dark)};
  border-color: #{medsoft-current-color(medium)};
}

// color hover
@media (any-hover: hover) {
  :host(:hover.ion-color:hover) {
    background: #{medsoft-current-color(lightest)};
  }
}

//
// outline
//

:host(.chip-outline) {
  border-color: #{medsoft-color(neutral-light, 30)};
  color: #{medsoft-color(neutral-dark, 30)};
}

:host(.chip-outline) ::slotted(ion-icon) {
  color: #{medsoft-color(neutral-dark, 30)};
}

// hover
@media (any-hover: hover) {
  :host(.chip-outline:hover) {
    background: transparent !important;
  }
}

// color
:host(.ion-color.chip-outline)  {
  border-color: #{medsoft-current-color(light)};
  color: #{medsoft-current-color(dark)};
  background: transparent;
}

:host(.ion-color.chip-outline) ::slotted(ion-icon) {
  color: #{medsoft-current-color(dark)};
}

// icons

::slotted(ion-icon:last-child) {
  margin-inline: $med-spacing-inline-nano;
  margin-right: 0;
}

::slotted(ion-icon:first-child) {
  margin-inline: $med-spacing-inline-nano;
  margin-left: 0;
}

::slotted(ion-label) {
  margin: $med-spacing-inline-nano;
}
