@import "./chip";
@import "./chip.md.vars";

// Material Design Chip
// --------------------------------------------------

:host {
  --ion-color-base: #{$chip-md-background-color};
  --ion-color-contrast: #{$chip-md-text-color};

  @include border-radius($chip-md-border-radius);
  @include margin($chip-md-margin-top, $chip-md-margin-end, $chip-md-margin-bottom, $chip-md-margin-start);

  height: $chip-md-height;

  font-family: $chip-md-font-family;
  font-size: $chip-md-font-size;
}

::slotted(*) ion-label {
  @include margin($chip-md-label-margin-top, $chip-md-label-margin-end, $chip-md-label-margin-bottom, $chip-md-label-margin-start);
}

::slotted(ion-icon) {
  background-color: $chip-md-icon-background-color;
  color: $chip-md-icon-fill-color;
}

::slotted(*) ion-avatar {
  width: $chip-md-avatar-width;
  height: $chip-md-avatar-height;
}
