@import "../../themes/mixins";

// Chip: Common Styles
// --------------------------------------------------

:host {
  /**
   * @prop --background: Background of the chip
   * @prop --color: Color of the chip
   * @prop --border-radius: Border radius of the chip
   */
  @include font-smoothing();

  display: inline-flex;

  position: relative;

  align-items: center;
  justify-content: center;

  background: var(--background);
  color: var(--color);

  cursor: pointer;

  overflow: hidden;

  box-sizing: border-box;

  vertical-align: middle;
}

:host(.chip-disabled) {
  cursor: default;
  pointer-events: none;
}
