/* stylelint-disable */
@import "../../themes/ionic.globals";

:host(:hover) {
  background: rgba(0,0,0,0.12);

  cursor: pointer;
}

:host(.ion-color:hover) {
  background: current-color(base, 0.12);

  cursor: pointer;
}

:host(.chip-outline) {
  border: solid 1px rgba(0,0,0,0.32);

  background: transparent;
}

:host(.chip-outline:hover:not(.ion-color)) {
  background-color: rgba(0,0,0,0.08);
}

:host(.ion-color.chip-outline) {
  border-color: current-color(base, 0.32);
}

:host(.ion-color) {
  background: current-color(base, 0.08);
  color: current-color(shade);
}

:host(.ion-color) ::slotted(ion-icon),
:host(.ion-color) ion-icon {
  color: inherit;
}
/* stylelint-enable */
