@import "./chip";
@import "./chip.ios.vars";

// iOS Chip
// --------------------------------------------------

:host {
  @include border-radius($chip-ios-border-radius);

  @include margin($chip-ios-margin-top, $chip-ios-margin-end, $chip-ios-margin-bottom, $chip-ios-margin-start);

  height: $chip-ios-height;

  font-family: $chip-ios-font-family;
  font-size: $chip-ios-font-size;

  --ion-color-base: #{$chip-ios-background-color};
  --ion-color-contrast: #{$chip-ios-text-color};
}

::slotted(*) ion-label {
  @include margin($chip-ios-label-margin-top, $chip-ios-label-margin-end, $chip-ios-label-margin-bottom, $chip-ios-label-margin-start);
}

::slotted(ion-icon) {
  color: $chip-ios-icon-fill-color;

  background-color: $chip-ios-icon-background-color;
}

::slotted(*) ion-avatar {
  width: $chip-ios-avatar-width;
  height: $chip-ios-avatar-height;
}
