@import "../../themes/ionic.globals";

// Range
// --------------------------------------------------

.item-range .item-inner {
  overflow: visible;

  width: 100%;
}

.item-range .input-wrapper {
  overflow: visible;

  flex-direction: column;

  width: 100%;
}

.item-range ion-range {
  width: 100%;
}

.item-range ion-range ion-label {
  align-self: center;
}

ion-range {
  position: relative;
  display: flex;

  align-items: center;
}

ion-range ion-label {
  flex: initial;
}

ion-range ion-icon {
  min-height: 2.4rem;

  font-size: 2.4rem;
  line-height: 1;
}

.range-slider {
  position: relative;

  flex: 1;

  cursor: pointer;

  @include rtl() {
    transform: scaleX(-1);
  }
}

.range-pressed .range-bar-active {
  will-change: left, right;
}

.range-pressed .range-knob-handle {
  will-change: left;
}

.range-knob-handle {
  @include text-align(center);

  position: absolute;

  @include multi-dir() {
    // scss-lint:disable PropertySpelling
    left: 0;
  }
}

.range-bar {
  @include multi-dir() {
    // scss-lint:disable PropertySpelling
    left: 0;
  }
}

.range-pin {
  @include text-align(center);
  @include transform(translate3d(0, 28px, 0), flip-scale(.01));
}

.range-knob-pressed .range-pin {
  @include transform(translate3d(0, 0, 0), flip-scale(1));
}
