@import "../../themes/ionic.globals.ios";

// iOS Modals
// --------------------------------------------------

/// @prop - Color of backdrop
$modal-backdrop-ios-color:            $backdrop-ios-color !default;

/// @prop - Background color for the modal
$modal-ios-background-color:          $background-ios-color !default;

/// @prop - Border radius for the modal
$modal-ios-border-radius:             10px !default;
