@import "../../themes/ionic.globals";

// Checkbox
// --------------------------------------------------

:host {
  --ion-color-base: #{ion-color(primary, base)};
  --ion-color-contrast: #{ion-color(primary, contrast)};
  --background: var(--unchecked-backgroud);
  --border-color: var(--unchecked-border-color);
  --checked-border-color: #{current-color(base)};
  --checked-background: #{current-color(base)};

  display: inline-block;
  position: relative;
}

:host(.checkbox-checked) {
  --background: var(--checked-background);
  --border-color: var(--checked-border-color);
}

:host(.checkbox-checked) .checkbox-inner {
  opacity: 1;
}

input {
  @include input-cover();
}

.checkbox-icon {
  @include border-radius(var(--border-radius));

  position: relative;

  width: var(--size);
  height: var(--size);

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  background-color: var(--background);

  contain: strict;
}

.checkbox-inner {
  border-color: #{current-color(contrast)};

  opacity: 0;
}

