/// @prop - Top margin of checkbox's label when in an item
$checkbox-item-label-margin-top: 10px;

/// @prop - Bottom margin of checkbox's label when in an item
$checkbox-item-label-margin-bottom: 10px;

/// @prop - Background color of focus indicator for checkbox when focused
$checkbox-background-color-focused: ion-color(primary, tint);
