@import "../../themes/ionic.globals";
@import "../../themes/ionic.theme.default";

// Checkbox
// --------------------------------------------------

ion-checkbox {
  position: relative;
  display: inline-block;

  --ion-color-base: #{get-color(primary, base)};
  --ion-color-contrast: #{get-color(primary, contrast)};

  --background: var(--unchecked-backgroud);
  --border-color: var(--unchecked-border-color);

  --checked-border-color: #{ion-color(base)};
  --checked-background: #{ion-color(base)};
}

ion-checkbox input {
  @include position(0, null, null, 0);
  @include margin(0);

  position: absolute;

  width: 100%;
  height: 100%;

  border: 0;
  background: transparent;
  cursor: pointer;

  appearance: none;
}

.checkbox.checkbox-checked {
  --background: var(--checked-background);
  --border-color: var(--checked-border-color);
}

.checkbox.checkbox-checked .checkbox-inner {
  opacity: 1;
}

.checkbox .checkbox-icon {
  @include border-radius(var(--border-radius));

  position: relative;

  width: var(--size);
  height: var(--size);

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  background-color: var(--background);

  contain: strict;
}

.checkbox .checkbox-inner {
  border-color: #{ion-color(contrast)};
  opacity: 0;
}

