@use "sass:math";
@import "../../themes/ionic.globals.ios";
@import "../item/item.ios.vars";

// iOS Checkbox
// --------------------------------------------------

/// @prop - Background color of the checkbox when off
$checkbox-ios-background-color-off:       $item-ios-background !default;

/// @prop - Size of the checkbox icon
$checkbox-ios-icon-size:                  dynamic-font-max(22px, 2.538) !default;

/// @prop - Border color of the checkbox icon when off
$checkbox-ios-icon-border-color-off:      rgba($text-color-rgb, 0.23) !default;

/// @prop - Border width of the checkbox icon
$checkbox-ios-icon-border-width:          dynamic-font(2px) !default;

/// @prop - Border style of the checkbox icon
$checkbox-ios-icon-border-style:          solid !default;

/// @prop - Border radius of the checkbox icon
$checkbox-ios-icon-border-radius:         50% !default;

/// @prop - Opacity of the disabled checkbox
$checkbox-ios-disabled-opacity:           $form-control-ios-disabled-opacity !default;

/// @prop - Checkmark width of the checkbox icon
$checkbox-ios-icon-checkmark-width:       1.5px !default;
