@import "../../themes/ionic.globals";

// Checkbox
// --------------------------------------------------

ion-checkbox {
  position: relative;
  display: inline-block;
}

ion-checkbox input {
  @include position(0, 0, 0, 0);
  @include margin(0);

  position: absolute;

  border: 0;
  background: transparent;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

