
h1 {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 14px;
}

textarea {
  margin: 12px 0 0 0;
  min-width: 360px;
  height: 680px;
  font-family: Courier New, Courier, monospace;
}

button {
  margin: 10px 10px 0 0;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.instructions {
  font-size: 12px;
  width: 300px;
}

.instructions p {
  padding-left: 8px;
}
