:host {
  --color: #{color('neutral', 10)};
  --font-size-label: var(--med-font-size-nano);
  --font-size-number: var(--med-font-size-md);
}

:host(.med-chart-radial-content) {
  text-align: center;

  .med-chart-radial-content__label {
    font-size: var(--font-size-label);
    color: var(--color);
    font-weight: var(--med-font-weight-bold);
    display: flex;
    padding-bottom: 2px;
    justify-content: center;
    line-height: var(--med-line-height-compressed);
  }

  .med-chart-radial-content__number {
    font-weight: var(--med-font-weight-bold);
    font-size: var(--font-size-number);
    color: var(--color);
    line-height: var(--med-line-height-compressed);

    &--small {
      font-size: var(--med-font-size-xs);
    }
  }
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --color: #{curr-color('color', '3')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  color: #{curr-color('neutral')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  color: #{curr-color('feedback')};
}


:host(.med-chart-radial-content--lg) {
  --font-size-label: var(--med-font-size-xxxs);
  --font-size-number: var(--med-font-size-lg);
}
