@import "./tabs";
@import "./tabs.ios.vars";

// iOS Tabs
// --------------------------------------------------

.tabbar-ios {
  justify-content: center;

  height: $tabs-ios-tab-height;

  border-top: $tabs-ios-border;
  background: $tabs-ios-background;

  contain: strict;
}

.tabbar-ios.placement-top {
  border-top: 0;
  border-bottom: $tabs-ios-border;
}

.tabbar-ios > ion-tab-highlight {
  background: $tabs-ios-tab-color-active;
}

.tabbar-ios > ion-tab-button {
  @include padding($tabs-ios-tab-padding-top, $tabs-ios-tab-padding-end, $tabs-ios-tab-padding-bottom, $tabs-ios-tab-padding-start);

  max-width: $tabs-ios-tab-max-width;
  min-height: 100%;

  font-size: $tabs-ios-tab-font-size;
  color: $tabs-ios-tab-text-color;

  fill: $tabs-ios-tab-icon-color;
}

.tabbar-ios ion-tab-button:hover:not(.disable-hover),
.tabbar-ios .tab-selected {
  color: $tabs-ios-tab-text-color-active;

  fill: $tabs-ios-tab-icon-color-active;
}

.tabbar-ios .tab-button-text {
  @include margin(0, null, 1px, null);

  min-height: $tabs-ios-tab-font-size + 1;
}

.tabbar-ios .has-title-only .tab-button-text {
  font-size: $tabs-ios-tab-font-size + 2;
}

.tabbar-ios .tab-button-icon {
  @include margin(4px, null, 1px, null);

  min-width: $tabs-ios-tab-icon-size + 5;
  height: $tabs-ios-tab-icon-size;

  font-size: $tabs-ios-tab-icon-size;
}

.tabbar-ios .tab-button-icon::before {
  vertical-align: top;
}

.tabbar-ios.layout-icon-end .tab-button-text,
.tabbar-ios.layout-icon-start .tab-button-text,
.tabbar-ios.layout-icon-hide .tab-button-text,
.tabbar-ios .has-title-only .tab-button-text {

  @include margin(2px, 0);

  font-size: 1.4rem;
  line-height: 1.1;
}

.tabbar-ios.layout-icon-end ion-icon,
.tabbar-ios.layout-icon-start ion-icon {
  @include margin(2px, null, 1px, null);

  min-width: 24px;
  height: 26px;

  font-size: 24px;
}

.tabbar-ios.layout-title-hide ion-icon {
  @include margin(0);
}
// .tabs-ios[tabsLayout=icon-hide] ion-tab-button,
// .tabs-ios ion-tab-button.has-title-only {
//   min-height: $tabs-ios-tab-min-height - 8;
// }

// .tabs-ios[tabsLayout=title-hide] ion-tab-button,
// .tabs-ios ion-tab-button.icon-only {
//   min-height: $tabs-ios-tab-min-height - 8;
// }

// iOS Translucent Tabbar
// --------------------------------------------------

.tabbar-translucent-ios {
  background-color: rgba($tabs-ios-background, $tabbar-ios-translucent-opacity);

  -webkit-backdrop-filter: $tabbar-ios-translucent-filter;
  backdrop-filter: $tabbar-ios-translucent-filter;
}


// iOS Tabbar Color Mixin
// --------------------------------------------------

@mixin tabbar-ios($color-name, $color-base, $color-contrast) {

  .tabbar-ios-#{$color-name} {
    border-color: darken($color-base, 10%);
    color: rgba($color-contrast, .7);
    background-color: $color-base;

    fill: rgba($color-contrast, .7);
  }

  .tabbar-ios-#{$color-name} .tab-selected {
    color: $color-contrast;

    fill: $color-contrast;
  }

  .tabbar-translucent-ios-#{$color-name} {
    background-color: rgba($color-base, $tabbar-ios-translucent-opacity);
  }

}

// iOS Tabbar Color Generation
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
  @include tabbar-ios($color-name, $color-base, $color-contrast);
}
