@import "../../themes/ionic.globals";

// Tabs
// --------------------------------------------------

ion-tabs {
  display: flex;

  flex-direction: column;
}

.tabs-inner {
  position: relative;

  flex: 1;

  contain: layout size style;
}

ion-tab {
  @include position(0, null, null, 0);

  position: absolute;
  z-index: -1;
  display: none;

  width: 100%;
  height: 100%;

  contain: layout size style;
}

ion-tab.show-tab {
  z-index: $z-index-page-container;
  display: block;
}

// Tabbar
// --------------------------------------------------

ion-tabbar {
  position: relative;

  z-index: $z-index-toolbar;
  display: flex;

  justify-content: center;

  order: 1;

  width: 100%;
}

ion-tabbar.tabbar-hidden {
  display: none;
}

ion-tabbar.placement-top {
  order: -1;
}

ion-tab-button {
  @include margin(0);
  @include text-align(center);
  @include border-radius(0);

  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;

  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 0;

  text-decoration: none;
  background: none;
  cursor: pointer;

  user-select: none;
}

.tab-disabled {
  pointer-events: none;
}

.tab-disabled > * {
  opacity: .4;
}

.tab-button-text,
.tab-button-icon {
  display: none;
  overflow: hidden;

  align-self: center;

  min-width: 26px;
  max-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.has-icon .tab-button-icon,
.has-title .tab-button-text {
  display: block;
}

.has-title-only .tab-button-text {
  white-space: normal;
}

.layout-icon-start ion-tab-button {
  flex-direction: row;
}

.layout-icon-end ion-tab-button {
  flex-direction: row-reverse;
}

.layout-icon-bottom ion-tab-button {
  flex-direction: column-reverse;
}

.layout-icon-start ion-tab-button,
.layout-icon-end ion-tab-button,
.layout-icon-hide ion-tab-button,
.layout-title-hide ion-tab-button {
  justify-content: center;
}

.tab-hidden,
.layout-icon-hide .tab-button-icon,
.layout-title-hide .tab-button-text {
  display: none;
}

// Tab Badges
// --------------------------------------------------

.tab-badge {
  @include position(6%, 4%, null, null); // 4% fallback
  @include position(null, calc(50% - 50px), null, null);
  @include padding(1px, 6px);

  position: absolute;

  height: auto;

  font-size: 12px;
  line-height: 16px;
}

.has-icon .tab-badge {
  @include position(null, calc(50% - 30px), null, null);
}

.layout-icon-bottom .tab-badge,
.layout-icon-start .tab-badge,
.layout-icon-end .tab-badge {
  @include position(null, calc(50% - 50px), null, null);
}


// Tab Highlight
// --------------------------------------------------

ion-tab-highlight {
  @include position(null, null, 0, 0);
  @include transform-origin(0, 0);

  position: absolute;

  display: block;

  width: 1px;
  height: 2px;

  transform: translateZ(0);

  &.animated {
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

    will-change: transform;
  }
}

.placement-top > ion-tab-highlight {
  bottom: 0;
}

.placement-bottom > ion-tab-highlight {
  top: 0;
}

