@import "../../themes/ionic.globals";

// Radio
// --------------------------------------------------

ion-radio {
  box-sizing: border-box;

  position: relative;
  display: inline-block;
}

ion-radio input {
  @include position(0, null, null, 0);

  position: absolute;

  width: 100%;
  height: 100%;

  background: transparent;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:active,
  &:focus {
    outline: none;
  }
}

ion-radio .radio-icon {
  box-sizing: border-box;
}
