@import "../../../../../templarios/abstracts";

:host {
  --padding: var(--med-spacing-squish-xs);
  --background: transparent;
  --border-radius: var(--med-border-radius-sm);
  --font-size-title: var(--med-font-size-xs);
  --color-title: #{color('neutral', '10')};
  --font-size-label: var(--med-font-size-xxxs);
  --color-label: #{color('brand', '4')};
}

:host(.med-list-item) {
  background-image: linear-gradient(to right,
    color('neutral', '2', null, 1),
    color('neutral', '2', null, 0.1),
    color('neutral', '2', null, 0));
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-image .5s linear;
  display: flex;
  padding: var(--padding);
  align-items: center;

  .med-list-item__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  .med-list-item__title {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-title);
    font-weight: var(--med-font-weight-light);
    line-height: var(--med-line-height-compressed);
    color: var(--color-title);
  }

  .med-list-item__label {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-label);
    font-weight: var(--med-font-weight-regular);
    line-height: var(--med-line-height-compressed);
    color: var(--color-label);
    margin-top: var(--med-spacing-inline-nano);
  }

  .med-list-item__border-radius {
    border-radius: var(--border-radius);
  }
}

:host(.med-list-item--selected) {
  background-position: 0 0;
}

// ////////////////////
// slots
// ////////////////////

::slotted([slot="start"]) {
  margin-right: var(--med-spacing-inline-base);
}

::slotted([slot="end"]) {
  margin-left: var(--med-spacing-inline-base);
}

// ////////////////////
// sizes
// ////////////////////

:host(.med-list-item--xs) {
  --padding: var(--med-spacing-squish-xs);
}

:host(.med-list-item--sm) {
  --padding: var(--med-spacing-inset-sm);
}

:host(.med-list-item--md) {
  --padding: var(--med-spacing-stretch-md);
}

// ////////////////////
// color
// ////////////////////

:host(.med-list-item.med-color) ::slotted(ion-checkbox) {
  --border-color: #{curr-color('color', '4')};
}

:host(.med-list-item.med-color) {
  --color-label: #{curr-color('color', '4')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-list-item.med-color-neutral) ::slotted(ion-checkbox) {
  --border-color: #{curr-color('neutral')};
}

:host(.med-list-item.med-color-neutral) {
  --color-label: #{curr-color('neutral')};
}

// ////////////////////
// feedback
// ////////////////////

:host(.med-list-item.med-color-feedback) ::slotted(ion-checkbox) {
  --border-color: #{curr-color('feedback')};
}

:host(.med-list-item.med-color-feedback) {
  --color-label: #{curr-color('feedback')};
}
