@import "../../themes/ionic.globals.wp";
@import "./app";


// Windows App
// --------------------------------------------------

.app-wp {
  font-family: $font-family-wp-base;
  font-size: $font-size-wp-base;
  background-color: $background-wp-color;
}
