body.md {
  
  .tabs-icon tabbar {
    background-color: #f53d3d;

    a {
      color: #fff;
    }
    a[aria-selected="true"] {
      color: #fff !important;
    }
  }
  .tabs-icon tab-highlight {
    color: #fff;
    background-color: #fff;
  }
}

body.ios {
  .tabs-icon tabbar {
    a[aria-selected="false"] {
      color: #8c8c8c !important;
    }
    a[aria-selected="true"] {
      color: #f53d3d !important;
    }
  }
}