body.md {
  
  .tabs-icon tabbar {
    background-color: #f53d3d;

    a {
      color: #fff;
    }
  }
  .tabs-icon tab-highlight {
    color: #fff;
    background-color: #fff;
  }
}

body.ios {
  .tabs-icon tabbar {
    a {
      color: #f53d3d;
    }
  }
}