@import "../../themes/ionic.globals";

// iOS Loading Indicator
// --------------------------------------------------

// deprecated
$loading-ios-padding:                   null !default;

/// @prop - Padding top of the loading wrapper
$loading-ios-padding-top:               24px !default;

/// @prop - Padding end of the loading wrapper
$loading-ios-padding-end:               34px !default;

/// @prop - Padding bottom of the loading wrapper
$loading-ios-padding-bottom:            $loading-ios-padding-top !default;

/// @prop - Padding start of the loading wrapper
$loading-ios-padding-start:             $loading-ios-padding-end !default;

/// @prop - Max width of the loading wrapper
$loading-ios-max-width:                 270px !default;

/// @prop - Maximum height of the loading wrapper
$loading-ios-max-height:                90% !default;

/// @prop - Border radius of the loading wrapper
$loading-ios-border-radius:             8px !default;

/// @prop - Text color of the loading wrapper
$loading-ios-text-color:                #000 !default;

/// @prop - Background of the loading wrapper
$loading-ios-background:                #f8f8f8 !default;

/// @prop - Font weight of the loading content
$loading-ios-content-font-weight:       bold !default;

/// @prop - Margin start of the loading content next to a spinner
$loading-ios-content-margin-start:      $content-ios-margin !default;

/// @prop - Color of the loading spinner
$loading-ios-spinner-color:             #69717d !default;

/// @prop - Color of the ios loading spinner
$loading-ios-spinner-ios-color:         $loading-ios-spinner-color !default;

/// @prop - Color of the bubbles loading spinner
$loading-ios-spinner-bubbles-color:     $loading-ios-spinner-color !default;

/// @prop - Color of the circles loading spinner
$loading-ios-spinner-circles-color:     $loading-ios-spinner-color !default;

/// @prop - Color of the crescent loading spinner
$loading-ios-spinner-crescent-color:    $loading-ios-spinner-color !default;

/// @prop - Color of the dots loading spinner
$loading-ios-spinner-dots-color:        $loading-ios-spinner-color !default;


.loading-ios .loading-wrapper {
  @include border-radius($loading-ios-border-radius);

  max-width: $loading-ios-max-width;
  max-height: $loading-ios-max-height;

  color: $loading-ios-text-color;
  background: $loading-ios-background;

  @include deprecated-variable(padding, $loading-ios-padding) {
    @include padding($loading-ios-padding-top, $loading-ios-padding-end, $loading-ios-padding-bottom, $loading-ios-padding-start);
  }
}


// iOS Loading Content
// -----------------------------------------

.loading-ios .loading-content {
  font-weight: $loading-ios-content-font-weight;
}

.loading-ios .loading-spinner + .loading-content {
  @include margin-horizontal($loading-ios-content-margin-start, null);
}


// iOS Loading Spinner fill colors
// -----------------------------------------

.loading-ios .spinner-ios line,
.loading-ios .spinner-ios-small line {
  stroke: $loading-ios-spinner-ios-color;
}

.loading-ios .spinner-bubbles circle {
  fill: $loading-ios-spinner-bubbles-color;
}

.loading-ios .spinner-circles circle {
  fill: $loading-ios-spinner-circles-color;
}

.loading-ios .spinner-crescent circle {
  stroke: $loading-ios-spinner-crescent-color;
}

.loading-ios .spinner-dots circle {
  fill: $loading-ios-spinner-dots-color;
}
