@import "./list";
@import "./list.md.vars";

// Material Design List
// --------------------------------------------------

.list-md {
  @include margin(-1px, $list-md-margin-end, $list-md-margin-bottom, $list-md-margin-start);
}

.list-md + .list ion-list-header {
  @include margin(-$list-md-margin-top, null, null, null);
}

.list-md > .input:last-child::after {
  @include position-horizontal(0, null);
}

// Material Design Inset List
// --------------------------------------------------

.list-md[inset] {
  @include margin($list-inset-md-margin-top, $list-inset-md-margin-end, $list-inset-md-margin-bottom, $list-inset-md-margin-start);
  @include border-radius($list-inset-md-border-radius);
}

.list-md[inset] ion-item:first-child .item-md {
  @include border-radius($list-inset-md-border-radius, $list-inset-md-border-radius, null, null);

  border-top-width: 0;
}

.list-md[inset] ion-item:last-child .item-md {
  @include border-radius(null, null, $list-inset-md-border-radius, $list-inset-md-border-radius);

  border-bottom-width: 0;
}

.list-md[inset] .item-interactive {
  @include padding-horizontal(0);
}

.list-md[inset] + ion-list[inset] {
  @include margin(0, null, null, null);
}

.list-md[inset] ion-list-header {
  background-color: $item-md-background-color;
}

// Material Design No Lines List
// --------------------------------------------------

.list-md-lines-none .item-md,
.list-md-lines-none .item-md .item-inner {
  border-bottom-width: 0;
}


// Material Design Full Lines List
// --------------------------------------------------

.list-md-lines-full .item-md,
.list-md .item-md-lines-full {
  border-bottom-width: $list-md-item-border-bottom-width;
}


// Material Design Inset Lines List
// --------------------------------------------------

.list-md-lines-inset .item-md .item-inner,
.list-md .item-md-lines-inset .item-inner {
  border-bottom-width: $list-md-item-border-bottom-width;
}


// Remove the border from items in lists
// if they are explicitly styled by the item
// to be different than the list
.list-md .item-md-lines-full .item-inner,
.list-md .item-md-lines-inset {
  border-bottom-width: 0;
}