@import "../../themes/ionic.globals";
@import "../../themes/ionic.theme.default";


// List
// --------------------------------------------------

ion-list {
  @include margin(0);
  @include padding(0);

  display: block;

  contain: content;

  list-style-type: none;

  background: $item-background-color;
}

ion-list.list-inset {
  overflow: hidden;

  transform: translateZ(0);
}
