@import "./menu-button";

// iOS Menu Button
// --------------------------------------------------

:host {
  --color: #{ion-color(primary, base)};
  --padding-start: 5px;
  --padding-end: 5px;
}

:host(.activated) {
  opacity: 0.4;
}

ion-icon {
  font-size: 31px;
}
