{
    "ecmaFeatures": {
        "blockBindings": true,
        "arrowFunctions": true,
        "classes": true,
        "forOf": true,
        "modules": true,
    },
    "rules": {
        "semi": 2
    }
}
