<ion-header>
    <ion-toolbar>
      <ion-title>
        Providers Test
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <p>
      isLoaded: <span id="is-loaded">{{isLoaded}}</span>
    </p>
    <p>
      isReady: <span id="is-ready">{{isReady}}</span>
    </p>
    <p>
      isTesting: <span id="is-testing">{{isTesting}}</span>
    </p>
    <p>
      isDesktop: <span id="is-desktop">{{isDesktop}}</span>
    </p>
    <p>
      isMobile: <span id="is-mobile">{{isMobile}}</span>
    </p>
    <p>
      keyboardHeight: <span id="keyboard-height">{{keyboardHeight}}</span>
    </p>
  </ion-content>
