@import "../../themes/ionic.theme.default";

// Content
// --------------------------------------------------

:host {
  position: relative;
  display: block;

  flex: 1;

  width: 100%;
  height: 100%;

  color: #{current-color(contrast)};
  background-color: #{current-color(base)};

  contain: layout size style;

  margin: 0 !important; // scss-lint:disable all
  padding: 0 !important; // scss-lint:disable all

  --ion-color-base: #{$background-color};
  --ion-color-contrast: #{$text-color};

  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;

  --keyboard-offset: 0px;
}

:host(.ion-color-outer),
:host(.outer-content) {
  --ion-color-base: #{$background-color-step-50};
}

.scroll-inner {
  @include padding(
    var(--padding-top),
    var(--padding-end),
    calc(var(--padding-bottom) + var(--keyboard-offset)),
    var(--padding-start)
  );
  min-height: 100%;
  box-sizing: border-box;
  -webkit-margin-collapse: discard;
}
