@import "../../themes/ionic.globals.ios";

// iOS Content
// --------------------------------------------------

/// @prop - Font family of the content
$content-ios-font-family:                               $font-family-base !default;

/// @prop - Alpha for the Horizontal Rule
$content-ios-horizontal-rule-background-color-alpha:    .12 !default;

/// @prop - Background for the Horizontal Rule
$content-ios-horizontal-rule-background:                rgba(var(--ion-text-color-rgb, $text-color-rgb), $content-ios-horizontal-rule-background-color-alpha) !default;
