<ion-toolbar>
  <ion-title>Local Storage</ion-title>
</ion-toolbar>


<ion-content class="local-storage-demo outer-content">

  <ion-list no-margin>
    <ion-list-header>Add to Local Storage</ion-list-header>

    <ion-item>
      <ion-label>Key</ion-label>
      <ion-select [(ngModel)]="myItem.key">
        <ion-option *ngFor="#key of keys" [value]="key">
          {{ key }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Value</ion-label>
      <ion-select [(ngModel)]="myItem.value">
        <ion-option *ngFor="#value of values" [value]="value">
          {{ value }}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div padding>
    <button block secondary (click)="set()">
      <ion-icon name="add"></ion-icon>
      Add
    </button>
  </div>

  <ion-list no-margin>
    <ion-list-header>Delete from Local Storage</ion-list-header>

    <ion-item>
      <ion-label>Key</ion-label>
      <ion-select [(ngModel)]="delKey">
        <ion-option checked>Select a Key</ion-option>
        <ion-option *ngFor="#key of addedKeys" [value]="key">
          {{ key }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div padding>
    <button block danger (click)="remove()">
      <ion-icon name="remove"></ion-icon>
      Delete
    </button>
  </div>

  <div padding>
    <h5>Local Storage:</h5>
    <pre>local: {{ localStorageDemo }}</pre>
  </div>
</ion-content>
