@import "../../../../../med-components/abstracts";

:host {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;

  @include breakpoint-up('xs') {
    grid-template-columns: repeat(6, 1fr);
  }

  @include breakpoint-up('sm') {
    grid-template-columns: repeat(10, 1fr);
  }

 /*  @include breakpoint-up('md') {
    grid-template-columns: repeat(12, 1fr);
  }

  @include breakpoint-up('lg') {
    grid-template-columns: repeat(15, 1fr);
  }

  @include breakpoint-up('xl') {
    grid-template-columns: repeat(18, 1fr);
  } */
}
