// Custom

@import "../../../med-components/abstracts";

:host {
  --width: 100%;
  --start: 0;
  --end: 0;
  --border-radius: 0;
  --background: #{$med-color-neutral-dark-40};

  //med-components
  --spacing: #{$med-spacing-inset-sm};

  border-radius: $med-border-radius-nano;

  .toast-container {
    padding: var(--spacing);
  }

  .toast-header {
    font-weight: $med-font-weight-semibold;
  }

  .toast-content {
    padding: 0;
    font-size: $med-font-size-xs;
    font-weight: $med-font-weight-regular;
    line-height: $med-line-height-compressed;
    color: $med-color-neutral-light-prime;
  }

  .toast-button-group-end,
  .toast-button-group-start {
    margin: 0;
  }

  .toast-button-group-start .toast-button {
    padding: 0;
    margin-right: $med-spacing-inline-xxxs;
  }

  .toast-button-group-end .toast-button {
    padding-top: 0;
    padding-bottom: 0;
    font-size: $med-font-size-xs;
    font-weight: $med-font-weight-bold;
    color: $med-color-brand-primary-medium;
  }

  .toast-button:hover,
  .toast-button-cancel:hover {
    background-color: transparent;
  }

  .toast-icon {
    font-size: 24px;
    color: #fff;
  }
}

// Toast com 2 linhas
:host(.ion-toast--rows) {
  .toast-content {
    padding-top: 2px;
  }

  .toast-container {
    display: block;
  }

  .toast-button-group-start {
    float: left;
  }

  .toast-button-group-end {
    padding-top: $med-spacing-stack-base;
    justify-content: flex-end;
  }
}

// Toast Flutuante
:host(.ion-toast--float) {
  --width: auto;
  --start: 8px;
  --end: 8px;
  --border-radius: #{$med-border-radius-nano};

  // .toast-content {
  //   flex-direction: row;
  // }

  .toast-message {
    padding-left: $med-spacing-inline-nano;
  }

  .toast-wrapper.toast-bottom {
    bottom: calc(8px + var(--ion-safe-area-bottom, 0px)) !important;
  }

  .toast-wrapper.toast-top {
    top: calc(8px + var(--ion-safe-area-bottom, 0px)) !important;
  }
}

:host(.ion-color) .toast-wrapper {
  background: #{medsoft-current-color(medium)};;
}

