@import "../../themes/ionic.globals.ios";

// iOS Toast
// --------------------------------------------------

/// @prop - Background Color of the toast wrapper
$toast-ios-background-color:                      $background-color-step-50 !default;

/// @prop - Background Color alpha of the toast wrapper when translucent
$toast-ios-translucent-background-color-alpha:    .8 !default;

/// @prop - Background Color of the toast wrapper when translucent
$toast-ios-translucent-background-color:          rgba($background-color-rgb, $toast-ios-translucent-background-color-alpha) !default;

/// @prop - Border radius of the toast wrapper
$toast-ios-border-radius:                         14px !default;

/// @prop - Color of the toast title
$toast-ios-title-color:                           $text-color-step-150 !default;

/// @prop - Font size of the toast title
$toast-ios-title-font-size:                       14px !default;

/// @prop - Padding top of the toast title
$toast-ios-title-padding-top:                     15px !default;

/// @prop - Padding end of the toast title
$toast-ios-title-padding-end:                     $toast-ios-title-padding-top !default;

/// @prop - Padding bottom of the toast title
$toast-ios-title-padding-bottom:                  $toast-ios-title-padding-top !default;

/// @prop - Padding start of the toast title
$toast-ios-title-padding-start:                   $toast-ios-title-padding-end !default;

/// @prop - Color of the toast button
$toast-ios-button-color:                          $text-color-step-400 !default;

/// @prop - Filter of the translucent toast
$toast-ios-translucent-filter:                    saturate(180%) blur(20px) !default;
