@import "./toast";
@import "./toast.md.vars";

// Material Design Toast
// --------------------------------------------------

:host {
  --background: #{$toast-md-background};
  --border-radius: #{$toast-md-border-radius};
  --box-shadow: #{$toast-md-box-shadow};
  --button-color: #{ion-color(primary, base)};
  --color: #{$toast-md-color};
  --max-width: #{$toast-max-width};

  font-size: #{$toast-md-font-size};
}

.toast-wrapper {
  @include position-horizontal(8px, 8px);
  @include margin(auto);

  display: block;
  position: absolute;

  opacity: .01;

  z-index: $z-index-overlay-wrapper;
}

.toast-content {
  @include padding($toast-md-content-padding-top, $toast-md-content-padding-end, $toast-md-content-padding-bottom, $toast-md-content-padding-start);
}

.toast-header {
  line-height: $toast-md-header-line-height;
  font-weight: $toast-md-header-font-weight;
  margin-bottom: $toast-md-header-margin-bottom;
}

.toast-message {
  line-height: $toast-md-message-line-height;
}

.toast-button {
  --margin-end: 0;
}
