@import "../../themes/ionic.globals.ios";

// iOS Toast
// --------------------------------------------------

/// @prop - The maximum height of the toast
/// The maximum height of an iOS notification
/// scaled to 310% is 478px.
$toast-ios-max-height: 478px;

/// @prop - Background Color of the toast wrapper
$toast-ios-background-color: $background-color-step-50;

/// @prop - Background Color alpha of the toast wrapper when translucent
$toast-ios-translucent-background-color-alpha: 0.8;

/// @prop - Background Color of the toast wrapper when translucent
$toast-ios-translucent-background-color: rgba(
  $background-color-rgb,
  $toast-ios-translucent-background-color-alpha
);

/// @prop - Border radius of the toast wrapper
$toast-ios-border-radius: 14px;

/// @prop - Color of the toast title
$toast-ios-title-color: $text-color-step-150;

/// @prop - Font size of the toast title
$toast-ios-header-font-weight: 500;

/// @prop - Spacing between the header and the message
$toast-ios-header-margin-bottom: 2px;

/// @prop - Font size of the toast title
$toast-ios-content-font-size: dynamic-font-clamp(1, 14px, 3.1);

/// @prop - Padding top of the toast content
$toast-ios-content-padding-top: 15px;

/// @prop - Padding end of the toast content
$toast-ios-content-padding-end: $toast-ios-content-padding-top;

/// @prop - Padding bottom of the toast content
$toast-ios-content-padding-bottom: $toast-ios-content-padding-top;

/// @prop - Padding start of the toast content
$toast-ios-content-padding-start: $toast-ios-content-padding-end;

/// @prop - Color of the toast button
$toast-ios-button-color: #{ion-color(primary, base)};

/// @prop - Filter of the translucent toast
$toast-ios-translucent-filter: saturate(180%) blur(20px);

/// @prop - Minimum height of the toast button
$toast-ios-button-min-height: 44px;

/// @prop - Padding top of the toast button
$toast-ios-button-padding-top: 10px;

/// @prop - Padding end of the toast button
$toast-ios-button-padding-end: 15px;

/// @prop - Padding bottom of the toast button
$toast-ios-button-padding-bottom: $toast-ios-button-padding-top;

/// @prop - Padding start of the toast button
$toast-ios-button-padding-start: 15px;

/// @prop - Font size of the toast button
/// Uses the same font size scaling rules as back button.
/// Prioritizing the toast header and message over the button.
$toast-ios-button-font-size: dynamic-font-clamp(1, 17px, 1.294);

/// @prop - Font size of the toast button
$toast-ios-button-font-weight: 500;

/// @prop - Background color alpha of the toast activated button
$toast-ios-button-opacity-activated: 0.4;

/// @prop - Background color of the toast button
$toast-ios-button-background-color: transparent;
