<link href="view.css" rel="stylesheet">
<link href="transition.css" rel="stylesheet">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<body>

  <div class="view zoom-slide-transition">

    <div class="container">

      <div class="view pane" id="leftPane">

        <div class="tool-bar">
          Side Menu Header
        </div>

        <div class="container">

          <div class="view" id="view1">
            <div class="container">

              <div class="content">
                <div class="scroll-content">
                  <p>Side Menu Content</p>
                  <f></f><f></f><f></f><f></f><f></f><f></f><f></f>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="view" id="view2">
        <div class="container">

          <div class="tool-bar">
            Content Header
          </div>

          <div class="content">
            <div class="scroll-content">
              <p>Main Content</p>
              <p><button id="openMenu">Open Menu</button></p>
              <p><button id="closeMenu">Close Menu</button></p>
              <p><button id="openSplitPane">Open Split Pane</button></p>
              <p><button id="closeSplitPane">Close Split Pane</button></p>
              <f></f><f></f><f></f><f></f><f></f><f></f><f></f>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</body>


<script src="jquery.min.js"></script>
<script>
  $('#openMenu').click(function() {
    $('#leftPane').attr('class', 'view view-center');
  });
</script>
