<link href="view.css" rel="stylesheet">
<link href="transition.css" rel="stylesheet">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<body ng-app="app" ng-controller="MainCtrl">

  <div class="view">

    <div class="tool-bar">
      Nested Tabs
    </div>

    <div class="tool-bar tool-bar-bottom nav-bar">
      <button ng-click="tab1()" class="nav-item">1</button>
      <button ng-click="tab2()" class="nav-item">2</button>
      <button ng-click="tab3()" class="nav-item">3</button>
    </div>

    <div class="container">

            <div class="view">

              <div class="tool-bar">
                Nested Tabs
              </div>

              <div class="tool-bar tool-bar-bottom nav-bar">
                <button ng-click="tab1()" class="nav-item">1</button>
                <button ng-click="tab2()" class="nav-item">2</button>
                <button ng-click="tab3()" class="nav-item">3</button>
              </div>

              <div class="container">

                      <div class="view">

                        <div class="tool-bar">
                          Nested Tabs
                        </div>

                        <div class="tool-bar tool-bar-bottom nav-bar">
                          <button ng-click="tab1()" class="nav-item">1</button>
                          <button ng-click="tab2()" class="nav-item">2</button>
                          <button ng-click="tab3()" class="nav-item">3</button>
                        </div>

                        <div class="container">

                          <div class="view">
                            <div class="container">
                              <div class="content">
                                <p>Should be 3 stacked headers on top, 3
                                  stacked tab nav bars on bottom, and
                                  content should fill the height in between.
                                </p>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>

              </div>

            </div>

    </div>

  </div>

</body>


<script src="angular.min.js"></script>
<script>
angular.module('app', []).controller('MainCtrl', function($scope) {



});
</script>
