
.view {
  transition: all 1s ease-in-out;
}

.view-left {
  -webkit-transform: translate3d(-100%, 0, 0);
}

.view-right {
  -webkit-transform: translate3d(100%, 0, 0);
}

.view-top {
  -webkit-transform: translate3d(0, -100%, 0);
}

.view-bottom {
  -webkit-transform: translate3d(0, 100%, 0);
}

.view-bottom-right {
  -webkit-transform: translate3d(100%, 100%, 0);
}

.view-center {
  -webkit-transform: translate3d(0, 0, 0);
}

.ios-transition .shared-view .tool-bar {
  background: linear-gradient(45deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
}

.ios-transition .tool-bar {
  background: none;
}

.zoom-slide-transition .view-zoom-out {
  -webkit-transform: scale(0.5);
}

.zoom-slide-transition .shared-view .tool-bar {
  background: none;
}

.zoom-slide-transition .tool-bar {
  background: linear-gradient(45deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
}

.hide {
  display: none !important;
}
