
// Make sure iOS Safari doesn't scale fonts on orientation changes
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font: 14px/1.25 "Helvetica Neue", sans-serif;
}

// Remove tap highlight color on Safari
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul { margin: 0; padding: 0; }

main {
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: #fff;

   -webkit-overflow-scrolling: touch;
}

/* Hack to force all relatively and absolutely positioned elements still render while scrolling
   Note: This is a bug for "-webkit-overflow-scrolling: touch" (via ratchet) */
main > * {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.content-padded {
  padding: $contentPadding;
}

.hide {
  display: none;
}
.show {
  display: block;
}