
.ptr-capable {
  -webkit-user-drag: element;
}

.ptr-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  height: 0;
}

.ptr-content .pulling {
  display: none;
}

.ptr-content .refreshing {
  display: none;
}