
// iOS Checkbox
// --------------------------------------------------

$checkbox-ios-color:          #007aff;


.list-ios {

  .media-checkbox {
    min-width: 20px;
    color: $checkbox-ios-color;
  }

}
