<div>
  Icon Name: <ion-icon id="icon-string" name="logo-ionic"></ion-icon><br />
  Icon Name Binding: <ion-icon id="icon-binding" [name]="iconName"></ion-icon> <button id="change-icon" (click)="changeIcon()">Change Icon Binding</button><br />
  iOS/MD: <ion-icon id="icon-mode" ios="logo-apple" md="logo-android"></ion-icon><br />
  iOS/MD Binding: <ion-icon id="icon-mode-binding" [ios]="iosIcon" [md]="mdIcon"></ion-icon> <button id="change-mode-icon" (click)="changeModeIcon()">Change Icon Binding</button><br />
</div>
