@import "../../../../../templarios/abstracts";

:host {
  --background: #{color('neutral', '2')};
  --color: #{color('neutral', '2', 'contrast')};
}

:host {
  padding: var(--med-spacing-stretch-md);
  display: block;
  background: var(--background);

  .content {
    &__top {
      display: flex;
    }

    &__left {
      margin-right: var(--med-spacing-inline-base);
    }

    &__bottom {
      display: flex;
      justify-content: flex-end;
    }
  }

  .header {
    font-size: var(--med-font-size-xs);
    font-weight: var(--med-font-weight-semibold);
    line-height: var(--med-line-height-default);
    color: var(--color);
    margin: 0;
    margin-bottom: var(--med-spacing-inline-nano);
    text-align: left;
  }

  .button {
    font-size: var(--med-font-size-xxs);
    line-height: line-height($med-font-size-xxs);
    color: color('neutral', '1', 'contrast');
    background: transparent;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: var(--med-font-weight-regular);

    &--right {
      font-weight: var(--med-font-weight-semibold);
      margin-left: var(--med-spacing-inline-xxs);
    }
  }
}

::slotted([slot="content"]) {
  font-size: var(--med-font-size-xxs);
  font-weight: var(--med-font-weight-regular);
  line-height: var(--med-line-height-compressed);
  color: color('neutral', '1', 'contrast');
  margin: 0;
  padding: 0;
  padding-bottom: var(--med-spacing-inline-xxs);
  text-align: left;
}

::slotted([slot="imagem"]) {
  min-width: 56px;
  max-width: 56px;
}
