@import "./toast.vars";

// Toast
// --------------------------------------------------

ion-toast {
  @include position(0, null, null, 0);

  position: absolute;

  z-index: $z-index-overlay;

  display: block;

  width: $toast-width;
  height: $toast-width;

  pointer-events: none;

  contain: strict;
}

.toast-container {
  display: flex;

  align-items: center;

  pointer-events: auto;

  contain: content;
}

.toast-button {
  font-size: 15px;
}

.toast-message {
  flex: 1;
}
