@import "./back-button";
@import "./back-button.md.vars";

// Material Design Back Button
// --------------------------------------------------

.back-button-md {
  @include margin(0, 6px);

  min-width: 44px;

  box-shadow: none;
}

.back-button-icon-md {
  @include margin(0);
  @include padding(0, 6px);
  @include text-align(start);

  font-size: 2.4rem;
  font-weight: normal;
}
