
// Back Button
// --------------------------------------------------

.back-button {
  display: none;
}

.back-button.show-back-button {
  display: inline-block;
}

.back-button-text {
  display: flex;

  align-items: center;
}
