@import "./back-button";
@import "./back-button.ios.vars";

// iOS Back Button
// --------------------------------------------------

.back-button-ios .back-button-inner-default {
  @include padding(0, 4px);
  @include margin(0);

  z-index: $back-button-ios-button-z-index;
  overflow: visible;
  min-height: 32px;
  border: 0;
  font-size: 17px;
  line-height: 1;
  color: $back-button-ios-button-color;
  background-color: transparent;
  transform: translateZ(0);

  &.activated {
    opacity: 0.4;
  }
}

.back-button-ios ion-icon {
  @include padding-horizontal(null, 0.3em);
  @include margin(-1px, 0, 0, 0);

  display: inherit;
  min-width: 18px;
  font-size: 34px;
  font-size: 1.4em;
  line-height: 0.67;
  pointer-events: none;
}
.back-button .button-text {
  letter-spacing: -0.01em;
}

.enable-hover .back-button-ios:hover {
  color: $back-button-ios-button-color;
}
