@import "./note.ios.vars";

// iOS Note
// --------------------------------------------------

:host {
  color: var(--color);

  font-family: $font-family-base;
}

:host(.ion-color) {
  color: #{current-color(base)};
}
