:host([secondary]) {
  --background: transparent;
  --background-hover: transparent;
  --background-disabled: transparent;
  --background-activated: transparent;
  --background-focused: transparent;

  --border-width: #{$med-border-width-thin};
  --border-style: solid;
  --border-color: #{$med-color-brand-primary-light};
  --border-radius: #{$med-border-radius-pill};

  --border-color-disabled: #{$med-color-neutral-light-20};
  --border-color-focused: #{$med-color-brand-primary-medium};
  --border-color-activated: #{$med-color-brand-primary-dark};
  --border-color-hover: #{$med-color-brand-primary-medium};

  --color: #{$med-color-brand-primary-light};
  --color-disable: #{$med-color-neutral-light-20};
  --color-focused: #{$med-color-brand-primary-medium};
  --color-activated: #{$med-color-brand-primary-dark};
  --color-hover: #{$med-color-brand-primary-medium};

  --font-size: #{$med-font-size-xxs};
  --font-weight: #{$med-font-weight-semibold};
  --line-height: #{$med-line-height-compressed};
  --padding: #{$med-spacing-squish-base};
  --transition: all 300ms ease-out;
  --width: calc(100% - 4px);

  --button-ripple-color: #{$med-color-brand-primary-medium};
  --button-ripple-opacity: #{$med-opacity-level-light};
}

ion-ripple-effect {
  --ripple-color: var(--button-ripple-color);
  --ripple-opacity: var(--button-ripple-opacity);
}
