@import "../../../themes/ionic.globals";
@import "../../../../med-components/variables";

:host {
  --background: #{$med-color-brand-primary-gradient};
  --background-hover: #{$med-color-brand-primary-medium};
  --background-disabled: #{$med-color-neutral-light-20};
  --background-activated: #{$med-color-brand-primary-dark};
  --background-focused: #{$med-color-brand-primary-medium};

  --border-radius: #{$med-border-radius-pill};
  --border-width: 0;
  --border-style: none;
  --border-color: initial;

  --border-color-disabled: initial;
  --border-color-focused: initial;
  --border-color-activated: initial;
  --border-color-hover: initial;

  --color: #{$med-color-neutral-light-prime};
  --color-disable: #{$med-color-neutral-light-prime};
  --color-activated: #{$med-color-neutral-light-prime};
  --color-hover: #{$med-color-neutral-light-prime};
  --color-focused: #{$med-color-neutral-light-prime};

  --font-size: #{$med-font-size-xxs};
  --font-weight: #{$med-font-weight-semibold};
  --line-height: #{$med-line-height-compressed};
  --text-transform: uppercase;
  --padding: #{$med-spacing-squish-lg};
  --transition: all 300ms ease-out;
  --overflow: hidden;
  --height: 48px;
  --width: auto;

  --button-ripple-color: #{$med-color-brand-primary-dark};
  --button-ripple-opacity: #{$med-opacity-level-light};

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  text-transform: var(--text-transform);
  color: var(--color);

  font-family: inherit;
  display: inline-block;
  width: auto;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;

  .tertiary-tap {
    padding: 8px;
  }

  .button-native {
    @include font-smoothing();
    @include text-inherit();

    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    outline: none;
    line-height: 1;
    contain: layout style;
    cursor: pointer;
    z-index: 0;
    box-sizing: border-box;
    appearance: none;
    margin: 0;
    border: 0;

    height: var(--height);
    width: var(--width);
    padding: var(--padding);
    color: var(--color);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    background: var(--background);

    &::-moz-focus-inner {
      border: 0;
    }

    &::before {
      @include button-state();
      background: var(--background);
      transition: var(--transition);
      opacity: 1;
    }
  }

  .button-inner {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

//
// block
//

:host([block]) {
  display: block;

  .tertiary-tap {
    padding: 0;
  }

  .button-native {
    display: block;
    width: 100%;
    clear: both;
    contain: content;
    margin-left: 0;
    margin-right: 0;

    &::before {
      clear: both;
    }
  }
}

//
// full
//

:host([full]) {
  display: block;

  .tertiary-tap {
    padding: 0;
  }

  .button-native {
    display: block;
    width: 100%;
    contain: content;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
}

//
// states
//

// disabled
:host([disabled]:not([disabled="false"])),
:host([disabled].ion-activated:not([disabled="false"].ion-activated)),
:host([disabled].ion-focused:not([disabled="false"].ion-focused)) {
  cursor: default;
  pointer-events: none;

  .button-native {
    border-color: var(--border-color-disabled);
    color: var(--color-disable);
  }

  .button-native::before {
    background: var(--background-disabled);
    opacity: 1;
  }
}

// activated
:host(.ion-activated) {
  .button-native {
    border-color: var(--border-color-activated);
    color: var(--color-activated);
  }

  .button-native::before {
    background: var(--background-activated);
    opacity: 1;
  }
}

// focused
:host(.ion-focused) {
  .button-native {
    border-color: var(--border-color-focused);
    color: var(--color-focused);

    &::before {
      background: var(--background-focused);
      opacity: 1;
    }
  }
}

// hover
@media (any-hover: hover) {
  :host(:hover) {
    .button-native {
      border-color: var(--border-color-hover);
      color: var(--color-hover);
      transition: var(--transition);
    }

    .button-native::before {
      opacity: 1;
      background: var(--background-hover);
      transition: var(--transition);
    }
  }

  :host([disabled]:hover:not([disabled="false"]):hover) {
    .button-native {
      border-color: var(--border-color-disabled);
      color: var(--color-disable);
    }
  
    .button-native::before {
      background: var(--background-disabled);
      opacity: 1;
    }
  }
}

//
// ripple
//

ion-ripple-effect {
  --ripple-color: var(--button-ripple-color);
  --ripple-opacity: var(--button-ripple-opacity);
}
