:host([secondary]) {
--padding: #{$med-spacing-squish-base};

--background: transparent;
--background-hover: #{$med-color-brand-primary-medium};
--background-disabled: #{$med-color-neutral-light-20};
--background-activated: #{$med-color-brand-primary-dark};
--background-focused: #{$med-color-brand-primary-medium};

--color: #{$med-color-brand-primary-light};
--color-disable: #{$med-color-neutral-light-20};
--color-activated: #{$med-color-brand-primary-dark};
--color-hover: #{$med-color-brand-primary-medium};
--color-focused: #{$med-color-brand-primary-medium};

--border-radius: #{$med-border-radius-pill};
--border-color: #{$med-color-brand-primary-light};
--border-width: #{$med-border-width-thin};
--border-color-disabled: #{$med-color-neutral-light-20};
--border-color-focused: #{$med-color-brand-primary-medium};
--border-color-activated: #{$med-color-brand-primary-dark};
--border-color-hover: #{$med-color-brand-primary-medium};

--font-size: #{$med-font-size-xxs};
--font-weight: #{$med-font-weight-semibold};
--line-height: #{$med-line-height-compressed};
--color: #{$med-color-brand-primary-light};
--text-transform: uppercase;
--transition: all 300ms ease-out;
--overflow: hidden;

  .button-native {
    width: calc(100% - 4px);
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-width);

    &::before {
      background: transparent;
    }
  }
}

// disabled
:host([secondary][disabled]) {
  .button-native {
    border-color: var(--border-color-disabled);
    color: var(--color-disable);
  }
}

// activated
:host([secondary].ion-activated) .button-native {
  border-color: var(--border-color-activated);
  color: var(--color-activated);
}

// focused
:host([secondary].ion-focused) {
  .button-native {
    border-color: var(--border-color-focused);
    color: var(--color-focused);
  }
}

// hover
@media (any-hover: hover) {
  :host([secondary]:hover) {
    .button-native {
      border-color: var(--border-color-hover);
      color: var(--color-hover);
    }

    .button-native::before {
      opacity: 1;
    }
  }
}

ion-ripple-effect {
  color: var(--ripple-color);
}
