@import "../button.md.vars";

@import "./med-button.scss";
@import "../../../../med-components/src/tokens/global/global";

:host([tertiary]) {

  // tokens
  --med-padding: #{$med-spacing-squish-lg};
  --med-padding-size-large: #{$med-spacing-squish-sm};
  --med-padding-size-default: #{$med-spacing-squish-base};
  --med-padding-size-small: #{$med-spacing-squish-sm};

  --med-background: #{$med-color-brand-primary-gradient};
  --med-background-hover: #{$med-color-brand-primary-medium};
  --med-background-disabled: #{$med-color-neutral-light-20};
  --med-background-activated: #{$med-color-brand-primary-dark};
  --med-background-focused: #{$med-color-brand-primary-medium};

  --med-border-radius: #{$med-border-radius-pill};
  --med-border-width: #{$med-border-width-none};
  --med-border-width-focused: #{$med-border-width-thin};
  --med-border-color-focused: #{$med-color-brand-primary-lightest};
  
  --med-font-size: #{$med-font-size-xs};
  --med-font-weight: #{$med-font-weight-semibold};
  --med-line-height: #{$med-line-height-compressed};
  --med-color: #{$med-color-neutral-light-prime};
  --med-text-transform: uppercase;
  --med-transition: opacity 100ms ease-out;
  
  // sobreescrita ionic
  --med-overflow: hidden;

  // ionic
  /* --overflow: hidden;
  --ripple-color: #000;
  --border-width: initial;
  --border-color: initial;
  --border-style: initial;
  --color-activated: var(--color);
  --color-focused: var(--color);
  --color-hover: var(--color);
  --box-shadow: none;
  --border-radius: #{$button-md-border-radius};
  --padding-top: #{$button-md-padding-top};
  --padding-bottom: #{$button-md-padding-bottom};
  --padding-start: #{$button-md-padding-start};
  --padding-end: #{$button-md-padding-end};
  --transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),
                background-color 15ms linear,
                color 15ms linear;*/
  
  //@include margin($button-md-margin-top, $button-md-margin-end, $button-md-margin-bottom, $button-md-margin-start);

  
  font-size: var(--med-font-size);
  font-weight: var(--med-font-weight);
  text-transform: var(--med-text-transform);
  color: var(--med-color);

  font-family: $font-family-base;
  display: inline-block;
  width: auto;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;

  //height: #{$button-md-height};
  //letter-spacing: #{$button-md-letter-spacing};

  // ******************************
  // inner elements
  // ******************************

  .button-native {
    @include border-radius(var(--med-border-radius));
    @include font-smoothing();
    @include margin(0);
    @include text-inherit();
    //@include padding(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));

    background: var(--med-background-hover);
    padding: var(--med-padding);
    border-width: var(--med-border-width);
    color: var(--med-color);

    //background: var(--background);
    //border-style: var(--border-style);
    //border-color: var(--border-color);
    //box-shadow: var(--box-shadow);
    //opacity: var(--opacity);
    //overflow: var(--overflow);
    //transition: var(--transition);

    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    line-height: 1;
    contain: layout style;
    cursor: pointer;
    z-index: 0;
    box-sizing: border-box;
    appearance: none;
  }

  .button-native::-moz-focus-inner {
    border: 0;
  }

  .button-inner {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  // ******************************
  // fill @prop
  // ******************************

  // solid
  :host(.button-solid) {
    //--background: #{ion-color(primary, base)};
    //--color: #{ion-color(primary, contrast)};
    //--background-activated: transparent;
    //--background-hover: #{ion-color(primary, contrast)};
    //--background-focused: #{ion-color(primary, contrast)};
    //--background-activated-opacity: 0;
    //--background-focused-opacity: .24;
    //--background-hover-opacity: .08;
    //--box-shadow: #{$button-md-box-shadow};
  }

  :host(.button-solid.ion-activated) {
    //--box-shadow: #{$button-md-box-shadow-activated};
  }

  // ******************************
  // states
  // ******************************

  // default
  .button-native::before {
    @include button-state();

    opacity: 1;
    background: var(--med-background);
    transition:var(--med-transition);
  }

  // disabled
  :host(.button-disabled) {
    cursor: default;
    pointer-events: none;
  }

  :host(.button-disabled) .button-native::before {
    opacity: 1;
    background: var(--med-background-disabled);
  }

  // activated
  :host(.ion-activated) {
    //color: var(--color-activated);
  }

  :host(.ion-activated) .button-native::before {
    //opacity: var(--background-activated-opacity);

    background: var(--med-background-activated);

    opacity: 1;
  }

  // focused
  :host(.ion-focused) {
    //color: var(--color-focused);
  }

  :host(.ion-focused) .button-native {
    //color: var(--color-focused);

    border-width: var(--med-border-width-focused);
    border-color: var(--med-border-color-focused);

    border-style: solid;
  }

  :host(.ion-focused) .button-native::before {
    //background: var(--background-focused);
    //opacity: var(--background-focused-opacity);

    background: var(--med-background-focused);
    transition: var(--med-transition);

    opacity: 1;
  }

  // hover
  @media (any-hover: hover) {
    :host(:hover) {
      //color: var(--color-hover);
    }

    :host(:hover) .button-native::before {
      //opacity: var(--background-hover-opacity);

      transition: var(--med-transition);

      opacity: 0;
    }
  }

  // ******************************
  // ripple
  // ******************************

  ion-ripple-effect {
    color: var(--ripple-color);
  }
}