:host([icon-only]) {
  --background: transparent;
  --background-hover: #{$med-color-neutral-dark-40-rgb};
  --background-hover-opacity: #{$med-opacity-level-half};
  --background-focused: #{$med-color-neutral-dark-40-rgb};
  --background-focused-opacity: #{$med-opacity-level-half};

  --border-radius: #{$med-border-radius-pill};
  --border-width: #{$med-border-width-thin};
  --border-color: #{$med-color-brand-primary-light};

  --padding: #{$med-spacing-inset-nano};
  --height: 40px;
  --width: 40px;

  --fill: #{$med-color-neutral-light-prime};

  --button-ripple-color: #{$med-color-neutral-dark-40};
  --button-ripple-opacity: 1;

  svg {
    fill: var(--fill);
  }
}

//
// states
//

@media (any-hover: hover) {
  :host([icon-only]:hover) {
    .button-native::before {
      background: rgba(var(--background-hover), var(--background-hover-opacity));
    }
  }
}

:host([icon-only].ion-focused) {
  .button-native::before {
    background: rgba(var(--background-focused), var(--background-focused-opacity)); 
  }
}
