@import "../../../../../templarios/abstracts";

:host {
  --background: #{color('neutral', '2')};
  --center-width: auto;
  --center-margin: 0 var(--spacing-inline-base);

  padding: var(--med-spacing-squish-xs);
  background: var(--background);
  min-height: 48px;
  height: auto;
  box-shadow: var(--med-shadow-level-1);
  display: block;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__center {
    margin: var(--center-margin);
    width: var(--center-width);
  }
}

::slotted(*) {
  color: #{color('neutral', '2', 'contrast')};
  stroke: #{color('neutral', '2', 'contrast')};
}

/* ::slotted(ion-button) {
  stroke: #{color('neutral', '2', 'contrast')};
}
 */

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --background: #{curr-color('color', '1')};
}

:host(.med-color) ::slotted(*) {
  color: #{color('neutral', '2', 'contrast')};
  stroke: #{color('neutral', '2', 'contrast')};
}

/* :host(.med-color) ::slotted(ion-button) {
  stroke: #{curr-color('color', '1', 'contrast')};
} */


// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --background: #{curr-color('neutral')};
}

:host(.med-color-neutral) ::slotted(*) {
  color: #{color('neutral', '2', 'contrast')};
  stroke: #{color('neutral', '2', 'contrast')};
}

/* :host(.med-color-neutral) ::slotted(ion-button) {
  stroke: #{curr-color('neutral', null, 'contrast')};
} */

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --background: #{curr-color('feedback', '1')};
}

:host(.med-color-neutral) ::slotted(*) {
  color: #{color('feedback', '2', 'contrast')};
  stroke: #{color('neutral', '2', 'contrast')};
}

/* :host(.med-color-feedback) ::slotted(ion-button) {
  stroke: #{curr-color('feedback', null, 'contrast')};
} */

//
// slotted
//

::slotted(*) {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
