@import "../../themes/ionic.globals";

ion-scroll {
  @include position(0, 0, 0, 0);

  position: absolute;
  z-index: $z-index-scroll-content;
  display: block;

  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;

  contain: size style layout;

  .focus-input {
    @include margin(0);
    @include padding(0);

    position: absolute;

    width: 0;
    height: 0;

    border: 0;
    background: none;
    opacity: 0;

    appearance: none;
  }


  &.overscroll::before,
  &.overscroll::after {
    position: absolute;

    width: 1px;
    height: 1px;

    content: "";
  }

  &.overscroll::before {
    bottom: -1px;
  }

  &.overscroll::after {
    top: -1px;
  }

  > .scroll-inner {
    min-height: 100%;
  }
}
