@import "./scroll";
@import "./scroll.ios.vars";

// iOS Content
// --------------------------------------------------

.outer-content .scroll-ios {
  background: $content-ios-outer-background;
}

.scroll-ios {
  font-family: $content-ios-font-family;

  color: $text-ios-color;
  background-color: $background-ios-color;
}

.scroll-ios hr {
  height: $hairlines-width;

  background-color: css-var($background-ios-color-value, background-ios-color, $content-ios-horizontal-rule-background-color-alpha);
}
