@import "./scroll";
@import "./scroll.md.vars";

// Material Design Content
// --------------------------------------------------

.scroll-md {
  font-family: $content-md-font-family;

  color: $text-color;
  background-color: $background-color;

  hr {
    background-color: $background-color-step-50;
  }
}
