@import "./scroll";
@import "./scroll.ios.vars";

// iOS Content
// --------------------------------------------------

.outer-content .scroll-ios {
  background: $content-ios-outer-background;
}

.scroll-ios {
  font-family: $content-ios-font-family;

  color: $text-color;
  background-color: $background-color;
}

.scroll-ios hr {
  height: $hairlines-width;

  background-color: rgba(var(--ion-background-color-rgb, $background-color-rgb), $content-ios-horizontal-rule-background-color-alpha);
}
