
<h1>@ionic/angular tests</h1>

<h3>Overlays</h3>
<ul>
  <li>
    <a [routerLink]="['/actionSheet']">Action Sheet Page</a>
  </li>
  <li>
    <a [routerLink]="['/alert']">Alert Page</a>
  </li>
  <li>
    <a [routerLink]="['/loading']">Loading Page</a>
  </li>
  <li>
    <a [routerLink]="['/modal']">Modal Page</a>
  </li>
  <li>
    <a [routerLink]="['/popover']">Popover Page</a>
  </li>
  <li>
    <a [routerLink]="['/toast']">Toast Page</a>
  </li>
</ul>


<h3>Inputs</h3>
<ul>
  <li>
    <a [routerLink]="['/basic-inputs']">Basic Inputs Test Page</a>
  </li>
  <li>
    <a [routerLink]="['/group-inputs']">Group Inputs Test Page</a>
  </li>
  <li>
    <a [routerLink]="['/form-sample']">Form Sample Test Page</a>
  </li>
  <li>
    <a [routerLink]="['/segment']">Segment Page</a>
  </li>
</ul>


<h3>Navigation</h3>
<ul>
  <li>
    <a href="no-routing-nav">No Routing</a>
  </li>
  <li>
    <a href="simple-nav/page-one">Simple Nav</a>
  </li>
  <li>
    <a href="lazy-load-tabs">Lazy Loaded Route Tabs</a>
    <ul>
      <li>
        <a [routerLink]="['/lazy-load-tabs', 'tabs', { outlets: { tab1: ['mustang'] } }]">Tab 1</a>
      </li>
      <li>
        <a [routerLink]="['/lazy-load-tabs', 'tabs', { outlets: { tab2: ['camaro'] } }]">Tab 2</a>
      </li>
      <li>
        <a [routerLink]="['/lazy-load-tabs', 'tabs', { outlets: { tab3: ['charger'] } }]">Tab 3</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="simple-tabs">Simple Route Tabs</a>
    <ul>
      <li>
        <a [routerLink]="['/simple-tabs', 'tabs', { outlets: { tab1: ['mustang'] } }]">Tab 1</a>
      </li>
      <li>
        <a [routerLink]="['/simple-tabs', 'tabs', { outlets: { tab2: ['camaro'] } }]">Tab 2</a>
      </li>
      <li>
        <a [routerLink]="['/simple-tabs', 'tabs', { outlets: { tab3: ['charger'] } }]">Tab 3</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="static-tabs">Static Tabs</a>
  </li>
</ul>


<h3>Content</h3>
<ul>
  <li>
    <a [routerLink]="['/badge']">Badge Page</a>
  </li>
  <li>
    <a [routerLink]="['/card']">Card Page</a>
  </li>
  <li>
    <a [routerLink]="['/content']">Content Page</a>
  </li>
  <li>
    <a [routerLink]="['/ng-if']">ngIf Page</a>
  </li>
  <li>
    <a [routerLink]="['/show-hide-when']">Show/Hide When Page</a>
  </li>
  <li>
    <a [routerLink]="['/virtual-scroll']">Virtual Scroll Page</a>
  </li>
</ul>
