@import "../../../../../med-components/abstracts";

:host {
  --spacing: #{$med-spacing-inline-base};
  --color: #{$med-color-neutral-dark-10};
  --color-like: #{$med-color-feedback-success-light};
  --color-dislike: #{$med-color-feedback-error-light};
  --color-hover: #{$med-color-neutral-light-40};

  display: block;

  .button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:first-child {
      padding-right: var(--spacing);
    }
  }

  .rate {
    font-size: 24px;
    color: var(--color);
    transition: color 300ms;
  }

  .button_like .rate {
    color: var(--color-like);
  }

  .button_dislike .rate {
    color: var(--color-dislike);
  }
}

@media (any-hover: hover) {
  :host {
    .rate:hover {
      color: var(--color-hover);
    }
  }
}
