
// Android Toolbar
// --------------------------------------------------

$toolbar-android-height:                  6.4rem !default;
$toolbar-android-background:              #f7f7f8 !default;

$toolbar-android-title-font-size:         2rem !default;
$toolbar-android-button-font-size:        2rem !default;
$toolbar-android-button-text-color:       #007aff !default;


.toolbar-android {
  height: $toolbar-android-height;
  background: $toolbar-android-background;

  .toolbar-title {
    font-size: $toolbar-android-title-font-size;
  }

  .button {
    font-size: $toolbar-android-button-font-size;
    color: $toolbar-android-button-text-color;
    border: none;

    padding: 0;
    margin: 0 10px;

    min-height: $toolbar-android-height;
    min-width: 0;
  }

}
