@import "./reorder.vars";

// Reorder
// --------------------------------------------------

:host([slot]) {
  display: none;

  line-height: 0;

  z-index: 100;
}


// Reorder Icon
// --------------------------------------------------

.reorder-icon {
  display: block;
}

/**
 * This ensures that custom reorder
 * icons resize with Dynamic Type.
 */
::slotted(ion-icon) {
  font-size: 1rem;
}
