@import "./reorder.vars";

// Reorder
// --------------------------------------------------

:host([slot]) {
  z-index: 100;

  display: none;

  line-height: 0;
}


// Reorder Icon
// --------------------------------------------------

.reorder-icon {
  display: block;

  font-size: 22px;
}
