@use "../../themes/native/native.globals" as native;
@use "./action-sheet.common";

// Action Sheet: Native
// --------------------------------------------------

:host {
  font-family: native.$font-family-base;

  z-index: native.$z-index-overlay;
}

.action-sheet-wrapper {
  z-index: native.$z-index-overlay-wrapper;
}
