@import "../../themes/globals";

// Picker Column
// --------------------------------------------------

button {
  @include padding(0);
  @include margin(0);

  width: 100%;

  height: 34px;

  border: 0px;

  outline: none;

  background: transparent;

  color: inherit;

  font-family: $font-family-base;

  font-size: inherit;

  line-height: 34px;

  text-align: inherit;

  text-overflow: ellipsis;

  white-space: nowrap;

  cursor: pointer;

  overflow: hidden;
}

:host(.option-disabled) {
  opacity: 0.4;
}

:host(.option-disabled) button {
  cursor: default;
}
