<!DOCTYPE html>
<html ng-app="ionicApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Ionic Modal</title>

  <link href="http://code.ionicframework.com/nightly/css/ionic.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.min.js"></script>
  <script src="script.js"></script>

</head>

<body ng-controller="AppCtrl">

  <ion-header-bar class="bar-positive">
    <h1 class="title">Contacts</h1>
    <div class="buttons">
      <button class="button button-icon ion-compose" ng-click="modal.show()">
      </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="contact in contacts">
        {{contact.name}}
      </ion-item>
    </ion-list>
  </ion-content>

  <script id="modal.html" type="text/ng-template">
    <div class="modal" ng-controller="ModalCtrl">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Contact</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content>
        <div class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-model="newUser.lastName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input ng-model="newUser.email" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact()">Create</button>
          </div>
        </div>
      </ion-content>
    </div>
  </script>

</body>
</html>
