@import "../../../../../templarios/abstracts";

:host(.med-chart-radial-label) {
  display: inline-block;

  .med-chart-radial-label__list {
    list-style: none;
    padding: 0;
  }

  .med-chart-radial-label__item {
    font-size: var(--med-font-size-nano);
    line-height: var(--med-line-height-compressed);
    color: color('neutral', '5');
    display: flex;
    align-items: center;
    font-weight: var(--med-font-weight-bold);

    &:not(:last-of-type) {
      padding-bottom: var(--med-spacing-stack-xxxs);
    }
  }

  .med-chart-radial-label__quantia {
    font-size: var(--med-font-size-md);
    line-height: var(--med-line-height-compressed);
    margin-right: var(--med-spacing-inline-xxxs);
    color: hsl(var(--med-color-feedback));
    font-weight: var(--med-font-weight-bold);
  }
}
