
// iOS Chip
// --------------------------------------------------

// deprecated
$chip-ios-margin:                     null !default;

/// @prop - Margin top of the chip
$chip-ios-margin-top:                 2px !default;

/// @prop - Margin end of the chip
$chip-ios-margin-end:                 0 !default;

/// @prop - Margin bottom of the chip
$chip-ios-margin-bottom:              $chip-ios-margin-top !default;

/// @prop - Margin start of the chip
$chip-ios-margin-start:               $chip-ios-margin-end !default;

/// @prop - Height of the chip
$chip-ios-height:                     32px !default;

/// @prop - Border radius of the chip
$chip-ios-border-radius:              16px !default;

/// @prop - Font size of the chip
$chip-ios-font-size:                  13px !default;

/// @prop - Text color of the chip
$chip-ios-text-color:                 rgba(0, 0, 0, .87) !default;

/// @prop - Background color of the chip
$chip-ios-background-color:           rgba(0, 0, 0, .12) !default;

// deprecated
$chip-ios-label-margin:               null !default;

/// @prop - Margin top of the label in the chip
$chip-ios-label-margin-top:           0 !default;

/// @prop - Margin end of the label in the chip
$chip-ios-label-margin-end:           10px !default;

/// @prop - Margin bottom of the label in the chip
$chip-ios-label-margin-bottom:        $chip-ios-label-margin-top !default;

/// @prop - Margin start of the label in the chip
$chip-ios-label-margin-start:         $chip-ios-label-margin-end !default;

/// @prop - Background color of the icon in the chip
$chip-ios-icon-background-color:      color($colors-ios, primary) !default;

/// @prop - Text color of the icon in the chip
$chip-ios-icon-text-color:            color-contrast($colors-ios, $chip-ios-icon-background-color) !default;


.chip-ios {
  @include border-radius($chip-ios-border-radius);

  height: $chip-ios-height;

  font-size: $chip-ios-font-size;
  line-height: $chip-ios-height;
  color: $chip-ios-text-color;
  background: $chip-ios-background-color;

  @include deprecated-variable(margin, $chip-ios-margin) {
    @include margin($chip-ios-margin-top, $chip-ios-margin-end, $chip-ios-margin-bottom, $chip-ios-margin-start);
  }
}

.chip-ios > ion-label {
  @include deprecated-variable(margin, $chip-ios-label-margin) {
    @include margin($chip-ios-label-margin-top, $chip-ios-label-margin-end, $chip-ios-label-margin-bottom, $chip-ios-label-margin-start);
  }
}

.chip-ios > ion-icon {
  color: $chip-ios-icon-text-color;
  background-color: $chip-ios-icon-background-color;
}


// Generate iOS Chip Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {

  .chip-ios-#{$color-name},
  .chip-ios .icon-ios-#{$color-name} {
    color: $color-contrast;
    background-color: $color-base;
  }

}
