
[ionic] {
  @include flex-display();
  @include flex-direction(row);

  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;

  .view {
    position: relative;
    width: 100%;

    @include flex-display();
    @include flex-direction(column);
    @include flex(1);
  }

  .view > .container.shared-view {
    position: absolute;
    width: 100%;
  }

  .tool-bar {
    display: block;
    min-height: 50px;
  }

  .tool-bar-top {
    @include flex-order(20);
  }

  .tool-bar-bottom {
    @include flex-order(80);
  }

  .view > .container {
    position: relative;
    overflow: hidden;

    @include flex-display();
    @include flex-order(40);
    @include flex(1);
    @include flex-direction(column);
  }

  .container > .view {
    position: absolute;
    min-height: 100%;
  }

  .view > .container > .content {
    position: relative;
    @include flex(1);
  }

  .scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

}

