<html ng-app="ionic.todo">
  <head>
    <meta charset="utf-8">
    <title>ToDerp</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/ionic.css">
    <link rel="stylesheet" href="app.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-mocks.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.js"></script>

    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>

    <script src="../../dist/ionic.js"></script>
    <script src="../../dist/ionic-angular.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <style>
    </style>
  </head>
  <body>

    <!-- The root view controller -->
    <nav-ctrl ng-controller="TodoCtrl">
    </nav-ctrl>

    <!-- Splash -->
    <script id="splash.html" type="text/ng-template">
      <div class="view" nav-content>
        <h1>Toderp</h1>
      </div>
    </script>

    <!-- Login -->
    <script id="login.html" type="text/ng-template">
      <div class="view" nav-content ng-controller="LoginCtrl">
        <h1>Login</h1>
      </div>
    </script>

    <!-- Signup -->
    <script id="signup.html" type="text/ng-template">
      <div class="view" nav-content ng-controller="SignupCtrl"></div>
    </script>

    <!-- Tasks -->
    <script id="tasks.html" type="text/ng-template">
      <side-menu-ctrl nav-content class="view" ng-controller="TasksCtrl">
        <div class="full-section" side-menu-content>
          <header class="bar bar-header bar-dark">
            <a href="#" class="button"><i class="icon-reorder"></i></a>
            <h1 class="title">Slide me</h1>
          </header>
          <div class="content has-header">
            <h1>Slide me side to side!</h1>
          </div>
        </div>
        <menu side="left">
          <header>
            <div class="toderp-logo"></div>
          </header>
          <content ng-controller="ProjectsCtrl">
            <input type="text" ng-model="newProject.name">
            <list>
              <li class="list-item" ng-repeat="project in projects">
                {{project.title}}
              </li>
            </list>
          </content>
        </menu>
      </side-menu-ctrl>
    </script>
  </body>
</html>
