@import "../../themes/ionic.globals";

:host {
  display: flex;

  align-items: center;

  transform: translateZ(0);

  z-index: $z-index-toolbar-buttons;
}

// Toolbar Buttons
// --------------------------------------------------

::slotted(*) ion-button {
  --margin-top: 0;
  --margin-bottom: 0;
  --margin-start: 0;
  --margin-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;

  @include margin-horizontal(2px, 2px);
}
