<ion-header>
  <ion-toolbar>
    <ion-title>Tab 1 - Page 2 ({{id}})</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Welcome to NESTED PAGE {{id}}</h1>
  <p>
    <ion-button routerLink="/tabs/account" id="goto-tab1-page1">Go to Tab 1 - Page 1</ion-button>
    <ion-button routerLink="/tabs/contact" id="goto-tab2-page1">Go to Tab 2 - Page 1</ion-button>
    <ion-button routerLink="/tabs-global" id="goto-global">Go to Global Page</ion-button>
    <ion-button routerLink="/tabs-global" id="goto-prev" (click)="navCtrl.pop()">Go to Previous Page (NavController).
    </ion-button>
    <ion-button routerLink="/tabs/account/nested/{{next()}}" id="goto-next">Go to Next</ion-button>
  </p>
</ion-content>
