@import "./select.vars";

// Select
// --------------------------------------------------

ion-select {
  position: relative;

  display: flex;
  overflow: hidden;

  max-width: 45%;
}

.select-text {
  overflow: hidden;

  flex: 1;

  min-width: 16px;

  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-multiple-inputs ion-select {
  position: relative;
}

.select-disabled,
.item-select-disabled ion-label {
  opacity: .4;

  pointer-events: none;
}

.select-popover ion-list {
  @include margin($select-popover-list-margin-top, $select-popover-list-margin-end, $select-popover-list-margin-bottom, $select-popover-list-margin-start);
}

.select-option {
  display: none;
}
