@import "./select.vars";

// Select
// --------------------------------------------------

ion-select {
  display: flex;
  overflow: hidden;

}

.item .select {
  max-width: 45%;
}

.select-cover {
  @include position(0, null, null, 0);

  position: absolute;

  width: 100%;
  height: 100%;

  border: 0;

  background: transparent;
  cursor: pointer;
}

.select-text {
  overflow: hidden;

  flex: 1;

  min-width: 16px;

  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// TODO item needs this class
.item-multiple-inputs ion-select {
  position: relative;
}

.select-disabled,
.item-select-disabled ion-label {
  opacity: .4;

  pointer-events: none;
}

.select-popover ion-list {
  @include margin($select-popover-list-margin-top, $select-popover-list-margin-end, $select-popover-list-margin-bottom, $select-popover-list-margin-start);
}

.select-option {
  display: none;
}

.select button:focus {
  outline: none;
}

.select-key button {
  border: 2px solid #5e9ed6;
}


// Stacked & Floating Select
// --------------------------------------------------

.item-label-stacked .select,
.item-label-floating .select {
  max-width: 100%;
}
