@import "../../../../../med-components/abstracts";

:host {
  /**
   * @prop --background: Define a cor da borda do componente.
   * @prop --color: Define a cor do componente.
   * @prop --z-index: Define o z-index do componente.
   */
  --background: #{var(--med-color-neutral-9)};
  --color: #{var(--med-color-neutral-3)};
  --z-index: 1;
}

:host(.med-context-menu) {
  display: block;
  position: relative;

  .med-context-menu {
    &__content {
      z-index: var(--z-index);
      position: absolute;
      background: var(--background);
      right: -8px;
      top: -8px;
      min-width: 250px;
      max-width: 250px;
      width: 100%;
      box-shadow: $med-shadow-level-4;
      border-radius: $med-border-radius-nano;
      padding: $med-spacing-inset-sm;
      visibility: visible;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }

    &__button {
      --font-size: 24px;
    }

    &__inner-button {
      position: absolute;
      right: 8px;
      top: 9px;
      --font-size: 24px;
    }

    &__icon {
      stroke: var(--med-color-neutral-10);
    }

    &__inner-icon {
      stroke: var(--med-color-neutral-3);
    }
  }
}

// ////////////////////
// state
// ////////////////////

:host(.med-context-menu--collapsed) {
  .med-context-menu__content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    --z-index: 0;
  }
}
