
<ion-toolbar>
  <ion-title>Sliding Items</ion-title>
  <ion-buttons end>
    <button (click)="reload()">Reload</button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-list #myList>

    <ion-item-sliding #item>
      <button ion-item text-wrap (click)="didClick(item)">
        <h2>RIGHT side - no icons</h2>
        <p>Hey do you want to go to the game tonight?</p>
      </button>
      <ion-item-options>
        <button primary (click)="archive(item)">Archive</button>
        <button danger (click)="del(item)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding #item1>
      <ion-item text-wrap detail-push class="activated">
        <h2>LEFT side - no icons</h2>
        <p>I think I figured out how to get more Mountain Dew</p>
      </ion-item>
      <ion-item-options side="left">
        <button primary (click)="archive(item1)">Archive</button>
        <button danger (click)="del(item1)" swipeable>Delete</button>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item-sliding #item2 *ngIf="shouldShow">
      <ion-item text-wrap detail-push>
        <h2>RIGHT/LEFT side - icons</h2>
        <p>I think I figured out how to get more Mountain Dew</p>
      </ion-item>
      <ion-item-options side="left" (ionSwipe)="unread($event)">
        <button secondary swipeable (click)="unread(item2)">
          <ion-icon name="ios-checkmark"></ion-icon>Unread
        </button>
      </ion-item-options>

      <ion-item-options side="right" (ionSwipe)="del(item2)">
        <button primary (click)="archive(item2)">
          <ion-icon name="mail"></ion-icon>Archive
        </button>
        <button danger (click)="del(item2)" swipeable>
          <ion-icon name="trash"></ion-icon>Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item-sliding #item3 *ngIf="shouldShow">
      <ion-item text-wrap detail-push>
        <h2>RIGHT/LEFT side - icons (item-left)</h2>
        <p>I think I figured out how to get more Mountain Dew</p>
      </ion-item>
      <ion-item-options side="left" icon-left (ionSwipe)="unread($event)">
        <button secondary swipeable (click)="unread(item3)">
          <ion-icon name="ios-checkmark"></ion-icon>Unread
        </button>
      </ion-item-options>

      <ion-item-options icon-left (ionSwipe)="del(item3)">
        <button primary (click)="archive(item3)">
          <ion-icon name="mail"></ion-icon>Archive
        </button>
        <button danger (click)="del(item3)" swipeable>
          <ion-icon name="trash"></ion-icon>Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item-sliding #item4>
      <ion-item>
        <ion-icon name="mail" item-left></ion-icon>
        One Line w/ Icon, div only text
      </ion-item>
      <ion-item-options icon-left (ionSwipe)="archive($event)">
        <button primary (click)="archive(item4)" swipeable>
          <ion-icon name="archive"></ion-icon>Archive
        </button>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item-sliding #item5>
      <ion-item>
        <ion-avatar item-left>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-avatar>
        One Line w/ Avatar, div only text
      </ion-item>
      <ion-item-options>
        <button primary swipeable>
          <ion-icon name="more"></ion-icon>More
        </button>
        <button secondary (click)="archive(item5)">
          <ion-icon name="archive"></ion-icon>Archive
        </button>
        <button danger (click)="del(item5)">
          <ion-icon name="trash"></ion-icon>Delete
        </button>

      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding #item6>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-thumbnail>
        <h2>DOWNLOAD</h2>
        <p>Paragraph text.</p>
      </ion-item>
      <ion-item-options (ionSwipe)="download($event)">
        <button primary (click)="archive(item6)">
          <ion-icon name="archive"></ion-icon>Archive
        </button>
        <button secondary swipeable (click)="download(item6)">
          <ion-icon name="download" class="download-hide"></ion-icon>
          <div class="download-hide">Download</div>
          <ion-spinner id="download-spinner"></ion-spinner>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-thumbnail>
        <h2>ion-item-sliding without options (no sliding)</h2>
        <p>Paragraph text.</p>
      </ion-item>
    </ion-item-sliding>

    <ion-item text-wrap>
      <h2>Normal ion-item (no sliding)</h2>
      <p>Paragraph text.</p>
    </ion-item>

    <button ion-item text-wrap (click)="didClick(item)">
      <h2>Normal button (no sliding)</h2>
      <p>Hey do you want to go to the game tonight?</p>
    </button>

  </ion-list>


  <ion-list>
    <ion-item-sliding *ngFor="let data of items" #item8>
      <ion-item text-wrap detail-push>
        <h3>ng-for {{data}}</h3>
      </ion-item>
      <ion-item-options>
        <button primary (click)="archive(item8)">Archive</button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <p>
    <button block (click)="closeOpened()">Close opened items</button>
  </p>

</ion-content>

<style>
  img {
    height: 100px;
  }
  #download-spinner {
    display: none;
  }

  svg circle {
    stroke: white;
  }
  .downloading #download-spinner {
    display: block;
  }
  .downloading .download-hide {
    display: none;
  }
</style>
