---
name: simple
component: ionHeaderBar
---
<div ng-controller="HeaderBarSimpleCtrl">
  <ion-header-bar class="bar-positive"
    ng-class="{'bar-subheader': data.isSubheader}"
    ng-show="data.isShown">
    <h1 class="title">Tap Me to Scroll Top</h1>
  </ion-header-bar>
  <ion-content>
    <ion-toggle ng-model="data.isSubheader">
      Make it a Subheader?
    </ion-toggle>
    <ion-toggle ng-model="data.isShown">
      Show it?
    </ion-toggle>
    <div class="list">
      <div class="item" ng-repeat="item in items">
        {{item}}
      </div>
    </div>
  </ion-content>
</div>
