.*
~*

dist/
node_modules/
src/**/*.js
types/**/*.map

# ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test-report.xml

!.gitignore
!.editorconfig
!.eslintrc.js
!.prettierrc
!.babelrc
!.circleci
