@import "./list-header";
@import "./list-header.ios.vars";

// iOS List Header
// --------------------------------------------------

:host {
  --background: #{$list-header-ios-background-color};
  --color: #{$list-header-ios-color};

  @include padding-horizontal(calc(var(--ion-safe-area-left, 0px) + #{$list-header-ios-padding-start}), null);

  position: relative;

  font-size: $list-header-ios-font-size;
  font-weight: $list-header-ios-font-weight;

  letter-spacing: $list-header-ios-letter-spacing;
}
