@import "./app";
@import "./app.md.vars";

// Material Design App
// --------------------------------------------------

.app-md {

  @include footer-safe-area(
    $toolbar-md-height,
    $toolbar-md-padding,
    $tabbar-md-height);

  font-family: $font-family-md-base;
  font-size: $font-size-md-base;
  background-color: $background-md-color;

  // TODO this can be simplified
  &.statusbar-padding {
    .ion-page,
    .ion-page > ion-header,
    ion-tab ion-nav .ion-page > ion-header,
    ion-menu > .menu-inner,
    ion-menu > .menu-inner > ion-header {
      @include toolbar-statusbar-padding($toolbar-md-height, $toolbar-md-padding, $content-md-padding, $app-md-statusbar-padding);
    }
  }
}

a {
  color: $app-md-link-color;
}

// Material Design Content Padding
// --------------------------------------------------

@include app-padding("md", $content-md-padding);


// Material Design Content Margin
// --------------------------------------------------

@include app-margin("md", $content-md-margin);
