
// iOS Item
// --------------------------------------------------

$item-ios-background-color:      #fff !default;
$item-ios-min-height:            44px !default;
$item-ios-padding-left:          15px !default;
$item-ios-accessory-color:       #8e8e93 !default;
$item-ios-border-color:          $list-ios-border-color !default;


.view-ios {

  .list-header {
    margin-left: $item-ios-padding-left;
  }

  .item {
    background: $item-ios-background-color;
    min-height: $item-ios-min-height;
    padding-left: $item-ios-padding-left;
  }

  .item-media + .item-content {
    margin-left: $item-ios-padding-left;
  }

  .item-content {
    min-height: $item-ios-min-height;
    padding: 0;

    &:after {
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      z-index: $z-index-list-border;
      display: block;

      width: 100%;
      height: 1px;
      @include transform-origin(50%, 0);

      background-color: $item-ios-border-color;

      content: '';
    }
  }

  .item-accessory {
    color: $item-ios-accessory-color;
  }

}
