@import "../../themes/ionic.globals.md";

// Material Design Toggle
// --------------------------------------------------

/// @prop - Color of the active toggle
$toggle-md-active-color:                 color($colors-md, primary) !default;

/// @prop - Width of the toggle track
$toggle-md-track-width:                  36px !default;

/// @prop - Height of the toggle track
$toggle-md-track-height:                 14px !default;

/// @prop - Background color of the toggle track
$toggle-md-track-background-color-off:   $list-md-border-color !default;

/// @prop - Background color of the checked toggle track
$toggle-md-track-background-color-on:    lighten($toggle-md-active-color, 25%) !default;

/// @prop - Width of the toggle handle
$toggle-md-handle-width:                 20px !default;

/// @prop - Height of the toggle handle
$toggle-md-handle-height:                20px !default;

/// @prop - Border radius of the toggle handle
$toggle-md-handle-border-radius:         50% !default;

/// @prop - Box shadow of the toggle handle
$toggle-md-handle-box-shadow:            0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !default;

/// @prop - Background color of the toggle handle
$toggle-md-handle-background-color-off:  $background-md-color !default;

/// @prop - Background color of the checked toggle handle
$toggle-md-handle-background-color-on:   $toggle-md-active-color !default;

// deprecated
$toggle-md-media-margin:                 null !default;

/// @prop - Margin top of the toggle
$toggle-md-media-margin-top:             0 !default;

/// @prop - Margin end of the toggle
$toggle-md-media-margin-end:             $toggle-md-media-margin-top !default;

/// @prop - Margin bottom of the toggle
$toggle-md-media-margin-bottom:          $toggle-md-media-margin-top !default;

/// @prop - Margin start of the toggle
$toggle-md-media-margin-start:           $toggle-md-media-margin-end !default;

/// @prop - Transition duration of the toggle icon
$toggle-md-transition-duration:          300ms !default;

/// @prop - Opacity of the disabled toggle
$toggle-md-disabled-opacity:             .3 !default;

// deprecated
$toggle-md-padding:                      null !default;

/// @prop - Padding top of standalone toggle
$toggle-md-padding-top:                  12px !default;

/// @prop - Padding end of standalone toggle
$toggle-md-padding-end:                  $toggle-md-padding-top !default;

/// @prop - Padding bottom of standalone toggle
$toggle-md-padding-bottom:               $toggle-md-padding-top !default;

/// @prop - Padding start of standalone toggle
$toggle-md-padding-start:                $toggle-md-padding-end !default;

// deprecated
$toggle-md-item-left-padding:            null !default;

/// @prop - Padding top of the toggle positioned on the start in an item
$toggle-md-item-start-padding-top:       12px !default;

/// @prop - Padding end of the toggle positioned on the start in an item
$toggle-md-item-start-padding-end:       18px !default;

/// @prop - Padding bottom of the toggle positioned on the start in an item
$toggle-md-item-start-padding-bottom:    12px !default;

/// @prop - Padding start the toggle positioned on the start in an item
$toggle-md-item-start-padding-start:     2px !default;

// deprecated
$toggle-md-item-right-padding:           null !default;

/// @prop - Padding top of the toggle positioned on the end in an item
$toggle-md-item-end-padding-top:         12px !default;

/// @prop - Padding end of the toggle positioned on the end in an item
$toggle-md-item-end-padding-end:         ($item-md-padding-end / 2) !default;

/// @prop - Padding bottom of the toggle positioned on the end in an item
$toggle-md-item-end-padding-bottom:      12px !default;

/// @prop - Padding start of the toggle positioned on the end in an item
$toggle-md-item-end-padding-start:       $item-md-padding-start !default;

// Material Design Toggle
// -----------------------------------------

.toggle-md {
  position: relative;

  width: $toggle-md-track-width;
  height: $toggle-md-track-height;

  box-sizing: content-box;

  contain: strict;

  @include deprecated-variable(padding, $toggle-md-padding) {
    @include padding($toggle-md-padding-top, $toggle-md-padding-end, $toggle-md-padding-bottom, $toggle-md-padding-start);
  }
}


// Material Design Toggle Background Track: Unchecked
// -----------------------------------------

.toggle-md .toggle-icon {
  @include border-radius($toggle-md-track-height);

  position: relative;
  display: block;

  width: 100%;
  height: 100%;

  background-color: $toggle-md-track-background-color-off;

  transition: background-color $toggle-md-transition-duration;

  pointer-events: none;
}


// Material Design Toggle Inner Knob: Unchecked
// -----------------------------------------

.toggle-md .toggle-inner {
  @include position(($toggle-md-handle-height - $toggle-md-track-height) / -2, null, null, 0);
  @include border-radius($toggle-md-handle-border-radius);

  position: absolute;

  width: $toggle-md-handle-width;
  height: $toggle-md-handle-height;

  background-color: $toggle-md-handle-background-color-off;

  box-shadow: $toggle-md-handle-box-shadow;

  transition-duration: $toggle-md-transition-duration;
  transition-property: transform, background-color;

  will-change: transform, background-color;

  contain: strict;
}


// Material Design Toggle Background Track: Checked
// -----------------------------------------

.toggle-md.toggle-checked .toggle-icon {
  background-color: $toggle-md-track-background-color-on;
}


// Material Design Toggle Inner Knob: Checked
// -----------------------------------------

.toggle-md.toggle-checked .toggle-inner {
  @include transform(translate3d($toggle-md-track-width - $toggle-md-handle-width, 0, 0));

  background-color: $toggle-md-handle-background-color-on;
}


// Material Design Toggle: Disabled
// -----------------------------------------

.toggle-md.toggle-disabled,
.item-md.item-toggle-disabled ion-label {
  opacity: $toggle-md-disabled-opacity;

  pointer-events: none;
}

.toggle-md.toggle-disabled ion-radio {
  opacity: $toggle-md-disabled-opacity;
}


// Material Design Toggle Within An Item
// -----------------------------------------

.item-md .toggle-md {
  cursor: pointer;

  @include deprecated-variable(margin, $toggle-md-media-margin) {
    @include margin($toggle-md-media-margin-top, $toggle-md-media-margin-end, $toggle-md-media-margin-bottom, $toggle-md-media-margin-start);
  }

  @include deprecated-variable(padding, $toggle-md-item-right-padding) {
    @include padding($toggle-md-item-end-padding-top, $toggle-md-item-end-padding-end, $toggle-md-item-end-padding-bottom, $toggle-md-item-end-padding-start);
  }
}

.item-md .toggle-md[item-left], // deprecated
.item-md .toggle-md[item-start] {
  @include deprecated-variable(padding, $toggle-md-item-left-padding) {
    @include padding($toggle-md-item-start-padding-top, $toggle-md-item-start-padding-end, $toggle-md-item-start-padding-bottom, $toggle-md-item-start-padding-start);
  }
}

.item-md.item-toggle ion-label {
  @include margin-horizontal(0, null);
}


// Material Design Color Mixin
// --------------------------------------------------

@mixin toggle-theme-md($color-name, $color-base) {

  .toggle-md-#{$color-name}.toggle-checked .toggle-icon {
    background-color: lighten($color-base, 25%);
  }

  .toggle-md-#{$color-name}.toggle-checked .toggle-inner {
    background-color: $color-base;
  }

}


// Generate Material Design Toggle Auxiliary Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {
  @include toggle-theme-md($color-name, $color-base);
}
