@import "../../themes/ionic.globals.wp";
@import "./card-title";


// Windows Card Title
// --------------------------------------------------

/// @prop - Font size of card title
$card-wp-title-font-size:             2.4rem !default;

// deprecated
$card-wp-title-padding:               null !default;

/// @prop - Padding top of the card title
$card-wp-title-padding-top:           8px !default;

/// @prop - Padding end of the card title
$card-wp-title-padding-end:           0 !default;

/// @prop - Padding bottom of the card title
$card-wp-title-padding-bottom:        8px !default;

/// @prop - Padding start of the card title
$card-wp-title-padding-start:         0 !default;

// deprecated
$card-wp-title-margin:                null !default;

/// @prop - Margin top of the card title
$card-wp-title-margin-top:            2px !default;

/// @prop - Margin end of the card title
$card-wp-title-margin-end:            0 !default;

/// @prop - Margin bottom of the card title
$card-wp-title-margin-bottom:         $card-wp-title-margin-top !default;

/// @prop - Margin start of the card title
$card-wp-title-margin-start:          $card-wp-title-margin-end !default;

/// @prop - Color of the card title
$card-wp-title-text-color:            #222 !default;


.card-title-wp {
  display: block;

  font-size: $card-wp-title-font-size;
  line-height: 1.2;
  color: $card-wp-title-text-color;

  @include deprecated-variable(margin, $card-wp-title-margin) {
    @include margin($card-wp-title-margin-top, $card-wp-title-margin-end, $card-wp-title-margin-bottom, $card-wp-title-margin-start);
  }

  @include deprecated-variable(padding, $card-wp-title-padding) {
    @include padding($card-wp-title-padding-top, $card-wp-title-padding-end, $card-wp-title-padding-bottom, $card-wp-title-padding-start);
  }
}


// Generate Windows Card Title Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-wp) {

  .card-wp-#{$color-name} {

    .card-title-wp {
      color: $color-contrast;
    }

    @each $color-name, $color-base, $color-contrast in get-colors($colors-wp) {
      .card-title-wp-#{$color-name} {
        color: $color-base;
      }
    }
  }

  .card-title-wp-#{$color-name} {
    color: $color-base;
  }

}
