@import "./card";
@import "./card.ios.vars";

// iOS Card
// --------------------------------------------------

.card-ios {
  @include margin($card-ios-margin-top, $card-ios-margin-end, $card-ios-margin-bottom, $card-ios-margin-start);
  @include border-radius($card-ios-border-radius);

  width: calc(100% - #{($card-ios-margin-end + $card-ios-margin-start)});

  font-size: $card-ios-font-size;

  background: $card-ios-background-color;
  box-shadow: $card-ios-box-shadow;

  transform: translateZ(0);
}

.card-ios ion-list {
  @include margin(null, null, 0, null);
}

.card-ios > .item:last-child,
.card-ios > .item:last-child .item-inner,
.card-ios > .item-wrapper:last-child .item {
  border-bottom: 0;
}

.card-ios .item-ios.item-block .item-inner {
  border: 0;
}

.card .note-ios {
  font-size: 1.3rem;
}

.card-ios h1 {
  @include margin(0, 0, 2px);

  font-size: 2.4rem;
  font-weight: normal;
}

.card-ios h2 {
  @include margin(2px, 0);

  font-size: 1.6rem;
  font-weight: normal;
}

.card-ios h3,
.card-ios h4,
.card-ios h5,
.card-ios h6 {
  @include margin(2px, 0);

  font-size: 1.4rem;
  font-weight: normal;
}

.card-ios p {
  @include margin(0, 0, 2px);

  font-size: 1.4rem;
  color: $card-ios-text-color;
}

.card-ios + ion-card {
  @include margin(0, null, null, null);
}


// Generate iOS Card Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {

  .card-ios .text-ios-#{$color-name} {
    color: $color-base;
  }

  .card-ios-#{$color-name} {
    color: $color-contrast;
    background-color: $color-base;

    p {
      color: $color-contrast;
    }

    @each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
      .text-ios-#{$color-name} {
        color: $color-base;
      }
    }
  }

}
