@import "../../themes/ionic.globals";

// Card Header
// --------------------------------------------------

ion-card-header {
  position: relative;
  display: block;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}
