@import "../../themes/ionic.globals";

// Card Header
// --------------------------------------------------

:host {
  display: block;
  position: relative;

  background: var(--background);
  color: var(--color);
}

:host(.ion-color) {
  background: current-color(base);
  color: current-color(contrast);
}

:host(.ion-color) ::slotted(ion-card-title),
:host(.ion-color) ::slotted(ion-card-subtitle) {
  color: currentColor;
}