<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>virtual-scroll page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <h1>Item {{itemNu}}</h1>
    <p>ngOnInit: <span id="ngOnInit">{{onInit}}</span></p>
    <p>ionViewWillEnter: <span id="ionViewWillEnter">{{willEnter}}</span></p>
    <p>ionViewDidEnter: <span id="ionViewDidEnter">{{didEnter}}</span></p>
    <p>ionViewWillLeave: <span id="ionViewWillLeave">{{willLeave}}</span></p>
    <p>ionViewDidLeave: <span id="ionViewDidLeave">{{didLeave}}</span></p>
  </ion-content>
