@import "./item.vars";

// Item
// --------------------------------------------------
// TODO: FW-4955

:host {
  /**
   * @prop --background: Background of the item
   * @prop --background-activated: Background of the item when pressed. Note: setting this will interfere with the Material Design ripple.
   * @prop --background-activated-opacity: Opacity of the item background when pressed
   * @prop --background-focused: Background of the item when focused with the tab key
   * @prop --background-focused-opacity: Opacity of the item background when focused with the tab key
   * @prop --background-hover: Background of the item on hover
   * @prop --background-hover-opacity: Opacity of the background of the item on hover
   *
   * @prop --border-color: Color of the item border
   * @prop --border-radius: Radius of the item border
   * @prop --border-style: Style of the item border
   * @prop --border-width: Width of the item border
   *
   * @prop --color: Color of the item
   * @prop --color-activated: Color of the item when pressed
   * @prop --color-focused: Color of the item when focused with the tab key
   * @prop --color-hover: Color of the item on hover
   *
   * @prop --detail-icon-color: Color of the item detail icon
   * @prop --detail-icon-opacity: Opacity of the item detail icon
   * @prop --detail-icon-font-size: Font size of the item detail icon
   *
   * @prop --inner-border-width: Width of the item inner border
   * @prop --inner-box-shadow: Box shadow of the item inner
   * @prop --inner-padding-top: Top padding of the item inner
   * @prop --inner-padding-end: Right padding if direction is left-to-right, and left padding if direction is right-to-left of the item inner
   * @prop --inner-padding-bottom: Bottom padding of the item inner
   * @prop --inner-padding-start: Left padding if direction is left-to-right, and right padding if direction is right-to-left of the item inner
   *
   * @prop --min-height: Minimum height of the item
   *
   * @prop --padding-bottom: Bottom padding of the item
   * @prop --padding-end: Right padding if direction is left-to-right, and left padding if direction is right-to-left of the item
   * @prop --padding-start: Left padding if direction is left-to-right, and right padding if direction is right-to-left of the item
   * @prop --padding-top: Top padding of the item
   *
   * @prop --transition: Transition of the item
   *
   * @prop --ripple-color: Color of the item ripple effect
   *
   * @prop --highlight-height: The height of the highlight on the item. Only applies to inputs and textareas using the legacy form syntax. DEPRECATED: Highlights can be styled on `ion-input` or `ion-textarea` when using the modern form syntax.
   * @prop --highlight-color-focused: The color of the highlight on the item when focused. Only applies to inputs and textareas using the legacy form syntax. DEPRECATED: Highlights can be styled on `ion-input` or `ion-textarea` when using the modern form syntax.
   * @prop --highlight-color-valid: The color of the highlight on the item when valid. Only applies to inputs and textareas using the legacy form syntax. DEPRECATED: Highlights can be styled on `ion-input` or `ion-textarea` when using the modern form syntax.
   * @prop --highlight-color-invalid: The color of the highlight on the item when invalid. Only applies to inputs and textareas using the legacy form syntax. DEPRECATED: Highlights can be styled on `ion-input` or `ion-textarea` when using the modern form syntax.
   */
  --border-radius: 0px;
  --border-width: 0px;
  --border-style: solid;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-border-width: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-box-shadow: none;
  --show-full-highlight: 0;
  --show-inset-highlight: 0;
  --detail-icon-color: initial;
  --detail-icon-font-size: 1.25em;
  --detail-icon-opacity: 0.25;
  --color-activated: var(--color);
  --color-focused: var(--color);
  --color-hover: var(--color);
  --ripple-color: currentColor;

  @include font-smoothing();

  display: block;

  position: relative;

  flex: 1;

  align-items: center;
  justify-content: space-between;

  outline: none;

  color: var(--color);

  font-family: $font-family-base;

  text-align: initial;
  text-decoration: none;

  overflow: hidden;
  box-sizing: border-box;
}

// Item: Color
// --------------------------------------------------

:host(.ion-color:not(.item-fill-solid):not(.item-fill-outline)) .item-native {
  background: current-color(base);
  color: current-color(contrast);
}

:host(.ion-color:not(.item-fill-solid):not(.item-fill-outline)) .item-native,
:host(.ion-color:not(.item-fill-solid):not(.item-fill-outline)) .item-inner {
  border-color: current-color(shade);
}


// Item: Activated
// --------------------------------------------------

:host(.ion-activated) .item-native {
  color: var(--color-activated);

  &::after {
    background: var(--background-activated);

    opacity: var(--background-activated-opacity);
  }
}

:host(.ion-color.ion-activated) .item-native {
  color: current-color(contrast);
}


// Item: Focused
// --------------------------------------------------

:host(.ion-focused) .item-native {
  color: var(--color-focused);

  &::after {
    background: var(--background-focused);

    opacity: var(--background-focused-opacity);
  }
}

:host(.ion-color.ion-focused) .item-native {
  color: current-color(contrast);

  &::after {
    background: current-color(contrast);
  }
}


// Item: Hover
// --------------------------------------------------

@media (any-hover: hover) {
  :host(.ion-activatable:not(.ion-focused):hover) .item-native {
    color: var(--color-hover);

    &::after {
      background: var(--background-hover);

      opacity: var(--background-hover-opacity);
    }
  }

  :host(.ion-color.ion-activatable:not(.ion-focused):hover) .item-native {
    color: #{current-color(contrast)};

    &::after {
      background: #{current-color(contrast)};
    }
  }
}

// Item: Interactive
// --------------------------------------------------

:host(.item-has-interactive-control) {
  cursor: pointer;
}


// Item: Disabled
// --------------------------------------------------

:host(.item-interactive-disabled:not(.item-multiple-inputs)) {
  cursor: default;
  pointer-events: none;
}

:host(.item-disabled) {
  cursor: default;
  opacity: .3;
  pointer-events: none;
}



// Native Item
// --------------------------------------------------

.item-native {
  @include border-radius(var(--border-radius));
  @include margin(0);
  @include padding(var(--padding-top), null, var(--padding-bottom));
  @include text-inherit();

  /* stylelint-disable */
  @include ltr() {
    padding-right: var(--padding-end);
    padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
  }

  @include rtl() {
    padding-right: calc(var(--padding-start) + var(--ion-safe-area-right, 0px));
    padding-left: var(--padding-end);
  }
  /* stylelint-enable */

  display: flex;
  position: relative;

  // Flex wrap is required here in order to wrap
  // the start slot + .item-inner content that
  // doesn't fit on the same line
  flex-wrap: wrap;

  align-items: inherit;
  justify-content: inherit;

  width: 100%;
  min-height: var(--min-height);

  transition: var(--transition);

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  outline: none;

  background: var(--background);

  overflow: inherit;

  z-index: 1;

  box-sizing: border-box;
}

// TODO(FW-5289): remove
:host(.item-legacy) .item-native {
  flex-wrap: unset;
}

.item-native::-moz-focus-inner {
  border: 0;
}

.item-native::after {
  @include button-state();

  transition: var(--transition);

  z-index: -1;
}

button, a {
  cursor: pointer;
  user-select: none;

  -webkit-user-drag: none;
}


// Inner Item
// --------------------------------------------------

.item-inner {
  @include margin(0);
  @include padding(var(--inner-padding-top), null, var(--inner-padding-bottom));

  /* stylelint-disable */
  @include ltr() {
    padding-right: calc(var(--ion-safe-area-right, 0px) + var(--inner-padding-end));
    padding-left: var(--inner-padding-start);
  }

  @include rtl() {
    padding-right: var(--inner-padding-start);
    padding-left: calc(var(--ion-safe-area-left, 0px) + var(--inner-padding-end));
  }
  /* stylelint-enable */

  display: flex;

  // This is required to work with an inset highlight
  position: relative;

  // This flex property is required in order to make
  // the elements wrap when there is a slotted start
  // element and a label
  flex: 1 0 auto;

  flex-direction: inherit;

  // Flex wrap is required here in order to wrap
  // .input-wrapper content + the end slot that
  // doesn't fit on the same line
  flex-wrap: wrap;

  align-items: inherit;
  align-self: stretch;

  // Max width must be set to 100%, otherwise the
  // elements will overflow this container instead
  // of wrapping
  max-width: 100%;
  min-height: inherit;

  border-width: var(--inner-border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  box-shadow: var(--inner-box-shadow);
  overflow: inherit;
  box-sizing: border-box;
}

// TODO(FW-5289): remove
:host(.item-legacy) .item-inner {
  flex: 1;

  flex-wrap: unset;

  max-width: unset;
}

// Item Bottom
// --------------------------------------------------

.item-bottom {
  @include margin(0);
  @include padding(0, null);

  /* stylelint-disable */
  @include ltr() {
    padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
    padding-right: calc(var(--inner-padding-end) + var(--ion-safe-area-right, 0px));
  }

  @include rtl() {
    padding-left: calc(var(--inner-padding-end) + var(--ion-safe-area-left, 0px));
    padding-right: calc(var(--padding-start) + var(--ion-safe-area-right, 0px));
  }
  /* stylelint-enable */

  display: flex;

  justify-content: space-between;

}


// Item Detail Icon
// --------------------------------------------------

.item-detail-icon {
  /**
   * IonItem applies its own end padding. However,
   * all IonIcons have the same bounding box meaning
   * there may be white space for narrow icons. As
   * a result, the white space gives the appearance
   * that there is too much end margin. We move the default
   * chevron icon over to account for this extra whitespace.
   */
  @include margin(null, -6px, null, calc(var(--inner-padding-end) / 2));

  color: var(--detail-icon-color);

  font-size: var(--detail-icon-font-size);

  opacity: var(--detail-icon-opacity);
}


// Item Slots
// --------------------------------------------------

::slotted(ion-icon) {
  font-size: 1.6em;
}

::slotted(ion-button) {
  --margin-top: 0;
  --margin-bottom: 0;
  --margin-start: 0;
  --margin-end: 0;

  z-index: 1;
}

::slotted(ion-label:not([slot="end"])) {
  flex: 1;

  // Setting width to min-content allows the label to
  // shrink and wrap its text instead of moving to its
  // own row if there are slotted elements next to it
  width: min-content;
}

// Item Input
// --------------------------------------------------

:host(.item-input) {
  align-items: center;
}

.input-wrapper {
  display: flex;

  // This flex property is required in order to keep
  // the label from shrinking when there are wide
  // elements next to it
  flex: 1 0 auto;

  flex-direction: inherit;

  // Flex wrap is required here in order to wrap
  // content in the default slot (such as a label
  // and a button) that doesn't fit on the same line
  flex-wrap: wrap;

  align-items: inherit;
  align-self: stretch;

  // Max width must be set to 100%, otherwise the
  // elements will overflow this container instead
  // of wrapping
  max-width: 100%;

  text-overflow: ellipsis;

  overflow: inherit;
  box-sizing: border-box;
}

// TODO(FW-5289): remove
:host(.item-legacy) .input-wrapper {
  flex: 1;

  flex-wrap: unset;

  max-width: unset;
}

:host(.item-label-stacked),
:host(.item-label-floating) {
  align-items: start;
}

:host(.item-label-stacked) .input-wrapper,
:host(.item-label-floating) .input-wrapper {
  flex: 1;
  flex-direction: column;
}


// Item Input Highlight
// --------------------------------------------------

.item-highlight,
.item-inner-highlight {
  @include position(0, 0, 0, 0);
  @include border-radius(inherit);
  position: absolute;

  width: 100%;

  height: 100%;

  transform: scaleX(0);

  transition: transform 200ms, border-bottom-width 200ms;

  z-index: 2;

  box-sizing: border-box;
  pointer-events: none;
}

// Item Input Focused
// --------------------------------------------------

:host(.item-interactive.ion-focused),
:host(.item-interactive.item-has-focus),
:host(.item-interactive.ion-touched.ion-invalid) {
  // If the item has a full border and highlight is enabled, show the full item highlight
  --full-highlight-height: #{calc(var(--highlight-height) * var(--show-full-highlight))};

  // If the item has an inset border and highlight is enabled, show the inset item highlight
  --inset-highlight-height: #{calc(var(--highlight-height) * var(--show-inset-highlight))};
}

:host(.ion-focused) .item-highlight,
:host(.ion-focused) .item-inner-highlight,
:host(.item-has-focus) .item-highlight,
:host(.item-has-focus) .item-inner-highlight {
  transform: scaleX(1);

  border-style: var(--border-style);
  border-color: var(--highlight-background);
}

:host(.ion-focused) .item-highlight,
:host(.item-has-focus) .item-highlight {
  border-width: var(--full-highlight-height);

  opacity: var(--show-full-highlight);
}

:host(.ion-focused) .item-inner-highlight,
:host(.item-has-focus) .item-inner-highlight {
  border-bottom-width: var(--inset-highlight-height);

  opacity: var(--show-inset-highlight);
}

:host(.ion-focused.item-fill-solid) .item-highlight,
:host(.item-has-focus.item-fill-solid) .item-highlight {
  border-width: calc(var(--full-highlight-height) - 1px);
}

:host(.ion-focused) .item-inner-highlight,
:host(.ion-focused:not(.item-fill-outline)) .item-highlight,
:host(.item-has-focus) .item-inner-highlight,
:host(.item-has-focus:not(.item-fill-outline)) .item-highlight {
  border-top: none;
  border-right: none;
  border-left: none;
}


// Item Input Focus
// --------------------------------------------------

:host(.item-interactive.ion-focused),
:host(.item-interactive.item-has-focus) {
  --highlight-background: var(--highlight-color-focused);
}

// Item Input Valid
// --------------------------------------------------

:host(.item-interactive.ion-valid) {
  --highlight-background: var(--highlight-color-valid);
}

// Item Input Invalid
// --------------------------------------------------

:host(.item-interactive.ion-invalid) {
  --highlight-background: var(--highlight-color-invalid);
}

:host(.item-interactive.ion-invalid) ::slotted([slot="helper"]) {
  display: none;
}

::slotted([slot="error"]) {
  display: none;

  color: var(--highlight-color-invalid);
}

:host(.item-interactive.ion-invalid) ::slotted([slot="error"]) {
  display: block;
}

// Item Select
// --------------------------------------------------

:host(:not(.item-label)) ::slotted(ion-select.legacy-select) {
  --padding-start: 0;

  max-width: none;
}

:host(.item-label-stacked) ::slotted(ion-select.legacy-select),
:host(.item-label-floating) ::slotted(ion-select.legacy-select) {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 0;

  align-self: stretch;

  width: 100%;

  max-width: 100%;
}


// Item Datetime
// --------------------------------------------------

:host(:not(.item-label)) ::slotted(ion-datetime) {
  --padding-start: 0;
}

:host(.item-label-stacked) ::slotted(ion-datetime),
:host(.item-label-floating) ::slotted(ion-datetime) {
  --padding-start: 0;

  width: 100%;
}


// Item w/ Multiple Inputs
// --------------------------------------------------
// Multiple inputs in an item should have the input
// cover relative to themselves instead of the item

:host(.item-multiple-inputs) ::slotted(ion-checkbox),
:host(.item-multiple-inputs) ::slotted(ion-datetime),
:host(.item-multiple-inputs) ::slotted(ion-radio),
:host(.item-multiple-inputs) ::slotted(ion-select.legacy-select) {
  position: relative;
}

// Item Textarea
// --------------------------------------------------

:host(.item-textarea) {
  align-items: stretch;
}


// Item Reorder
// --------------------------------------------------

::slotted(ion-reorder[slot]) {
  @include margin(0, null);
}


// Item Button Ripple effect
// --------------------------------------------------

ion-ripple-effect {
  color: var(--ripple-color);
}

:host(.item-fill-solid) ::slotted([slot="start"]),
:host(.item-fill-solid) ::slotted([slot="end"]),
:host(.item-fill-outline) ::slotted([slot="start"]),
:host(.item-fill-outline) ::slotted([slot="end"]) {
  align-self: center;
}

::slotted([slot="helper"]),
::slotted([slot="error"]),
.item-counter {
  padding-top: 5px;

  font-size: dynamic-font(12px);

  z-index: 1;
}

// Item Max Length Counter
// --------------------------------------------------

.item-counter {
  @include margin-horizontal(auto, null);

  color: #{$background-color-step-550};

  white-space: nowrap;

  padding-inline-start: 16px;
}

// Item: Reduced Motion
// --------------------------------------------------

@media (prefers-reduced-motion: reduce) {
  .item-highlight,
  .item-inner-highlight {
    transition: none;
  }
}
