@import "./item";
@import "./item.ios.vars";

// iOS Item
// --------------------------------------------------

.item-ios {
  --background: #{$item-ios-background-color};
  --background-active: #{$item-ios-background-color-active};
  --color: #{$item-ios-text-color};
  --paragraph-color: #{$item-ios-paragraph-text-color};
  --border-color: #{$item-ios-border-bottom-color};
  --detail-push-color: #{$item-ios-detail-push-color};

  @include padding-horizontal($item-ios-padding-start, null);
  @include safe-area-padding-horizontal($item-ios-padding-start, null);
  @include border-radius(0);

  position: relative;

  font-family: $item-ios-font-family;

  font-size: $item-ios-font-size;
  color: var(--color);
  background-color: var(--background);
  transition: background-color 200ms linear;
}

.item-ios.activated {
  background-color: var(--background-active);
  transition-duration: 0ms;
}

.item-ios h1 {
  @include margin(0, 0, 2px);

  font-size: 24px;
  font-weight: normal;
}

.item-ios h2 {
  @include margin(0, 0, 2px);

  font-size: 17px;
  font-weight: normal;
}

.item-ios h3,
.item-ios h4,
.item-ios h5,
.item-ios h6 {
  @include margin(0, 0, 3px);

  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}

.item-ios p {
  @include margin($item-ios-paragraph-margin-top, $item-ios-paragraph-margin-end, $item-ios-paragraph-margin-bottom, $item-ios-paragraph-margin-start);

  overflow: inherit;

  font-size: $item-ios-paragraph-font-size;
  line-height: normal;
  text-overflow: inherit;
  color: var(--paragraph-color);
}

.item-ios h2:last-child,
.item-ios h3:last-child,
.item-ios h4:last-child,
.item-ios h5:last-child,
.item-ios h6:last-child,
.item-ios p:last-child {
  @include margin(null, null, 0, null);
}

.item-ios .item-inner {
  @include padding-horizontal(null, $item-ios-padding-end / 2);

  @media screen and (orientation: landscape) {
    @include safe-area-padding-horizontal(null, $item-ios-padding-end / 2);
  }
}


// iOS Item Lines
// --------------------------------------------------

.item-ios,
.item-ios .item-inner {
  border-bottom-width: 0;
  border-bottom-style: $item-ios-border-bottom-style;
  border-bottom-color: var(--border-color);
}

// Default item has inset border bottom
.item-ios .item-inner {
  border-bottom-width: $item-ios-border-bottom-width;
}

// Full lines - apply the border to the item
// Inset lines - apply the border to the item inner
.item-ios-lines-full,
.item-ios-lines-inset .item-inner {
  border-bottom-width: $item-ios-border-bottom-width;
}

// Full lines - remove the border from the item inner (inset list items)
// Inset lines - remove the border on the item (full list items)
// No lines - remove the border on both (full / inset list items)
.item-ios-lines-inset,
.item-ios-lines-full .item-inner,
.item-ios-lines-none,
.item-ios-lines-none .item-inner {
  border-bottom-width: 0;
}


// iOS Item Slots
// --------------------------------------------------

.item-ios [slot="start"] {
  @include margin($item-ios-slot-start-margin-top, $item-ios-slot-start-margin-end, $item-ios-slot-start-margin-bottom, $item-ios-slot-start-margin-start);
}

.item-ios [slot="end"] {
  @include margin($item-ios-slot-end-margin-top, $item-ios-slot-end-margin-end, $item-ios-slot-end-margin-bottom, $item-ios-slot-end-margin-start);
}

.item-ios > ion-icon[slot="start"],
.item-ios > ion-icon[slot="end"] {
  @include margin($item-ios-icon-slot-margin-top, $item-ios-icon-slot-margin-end, $item-ios-icon-slot-margin-bottom, $item-ios-icon-slot-margin-start);
}

.item-ios.item-label-stacked [slot="end"],
.item-ios.item-label-floating [slot="end"] {
  @include margin($item-ios-label-slot-end-margin-top, $item-ios-label-slot-end-margin-end, $item-ios-label-slot-end-margin-bottom, $item-ios-label-slot-end-margin-start);
}


// iOS Item Button
// --------------------------------------------------

.item-ios .button-small-ios {
  font-size: 13px;

  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: .5em;
  --padding-end: .5em;

  --height: 24px;
}

.item-ios .button-small-ios ion-icon[slot="icon-only"] {
  @include padding(0, 1px);
}


// iOS Item Avatar & Thumbnail
// --------------------------------------------------

.item-ios ion-avatar {
  width: $item-ios-avatar-width;
  height: $item-ios-avatar-height;
}

.item-ios ion-thumbnail {
  width: $item-ios-thumbnail-width;
  height: $item-ios-thumbnail-height;
}

.item-ios ion-avatar[slot="end"],
.item-ios ion-thumbnail[slot="end"] {
  @include margin(($item-ios-padding-end / 2));
}


// iOS Item Detail Push
// --------------------------------------------------

.item-ios .item-detail-icon {
  font-size: 20px;

  color: var(--detail-push-color);
}
