@import "./item";
@import "./item.ios.vars";

// iOS Item
// --------------------------------------------------

:host {
  font-family: $item-ios-font-family;

  font-size: $item-ios-font-size;
  color: $item-ios-text-color;
  color: $item-ios-text-color;

  --background: #{$item-ios-background-color};
  --background-active: #{$item-ios-background-color-active};

  --paragraph-color: #{$item-ios-paragraph-text-color};
  --border-color: #{$item-ios-border-bottom-color};
  --detail-push-color: #{$item-ios-detail-push-color};

  --transition: background-color 200ms linear;

  --padding-start: #{$item-ios-padding-start};
  --padding-inner-end: #{$item-ios-padding-end / 2};

  --border-style: solid;
  --border-inner-width: #{0 0 $item-ios-border-bottom-width 0};
}

:host(.activated) {
  --background: var(--background-active);
  --transition: none;
}

@media screen and (orientation: landscape) {
  .item-inner {
    @include safe-area-padding-horizontal(var(--padding-inner-start), var(--padding-inner-end));
  }
}


// iOS Item Lines
// --------------------------------------------------

// Full lines - apply the border to the item
// Inset lines - apply the border to the item inner
:host(.item-lines-full) {
  --border-width: #{0 0 $item-ios-border-bottom-width 0};
}

:host(.item-lines-inset) {
  --border-inner-width: #{0 0 $item-ios-border-bottom-width 0};
}

// Full lines - remove the border from the item inner (inset list items)
// Inset lines - remove the border on the item (full list items)
// No lines - remove the border on both (full / inset list items)
:host(.item-lines-inset),
:host(.item-lines-none) {
  --border-width: 0;
}

:host(.item-lines-full),
:host(.item-lines-none) {
  --border-inner-width: 0;
}


// iOS Item Slots
// --------------------------------------------------

::slotted(:not(.interactive)[slot="start"]) {
  @include margin($item-ios-slot-start-margin-top, $item-ios-slot-start-margin-end, $item-ios-slot-start-margin-bottom, $item-ios-slot-start-margin-start);
}

::slotted(:not(.interactive)[slot="end"]) {
  @include margin($item-ios-slot-end-margin-top, $item-ios-slot-end-margin-end, $item-ios-slot-end-margin-bottom, $item-ios-slot-end-margin-start);
}

::slotted(ion-icon[slot="start"]),
::slotted(ion-icon[slot="end"]) {
  @include margin($item-ios-icon-slot-margin-top, $item-ios-icon-slot-margin-end, $item-ios-icon-slot-margin-bottom, $item-ios-icon-slot-margin-start);
}

:host(.item-label-stacked) ::slotted([slot="end"]),
:host(.item-label-floating) ::slotted([slot="end"]) {
  @include margin($item-ios-label-slot-end-margin-top, $item-ios-label-slot-end-margin-end, $item-ios-label-slot-end-margin-bottom, $item-ios-label-slot-end-margin-start);
}


// iOS Item Button
// --------------------------------------------------

::slotted(.button-small) {
  font-size: 13px;

  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: .5em;
  --padding-end: .5em;

  --height: 24px;
}

// TODO
// .item-ios .button-small-ios ion-icon[slot="icon-only"] {
//   @include padding(0, 1px);
// }


// iOS Item Avatar & Thumbnail
// --------------------------------------------------

::slotted(ion-avatar) {
  width: $item-ios-avatar-width;
  height: $item-ios-avatar-height;
}

::slotted(ion-thumbnail) {
  width: $item-ios-thumbnail-width;
  height: $item-ios-thumbnail-height;
}

::slotted(ion-avatar[slot="end"]),
::slotted(ion-thumbnail[slot="end"]) {
  @include margin(($item-ios-padding-end / 2));
}

// iOS Item Detail Push
// --------------------------------------------------

.item-detail-icon {
  font-size: 20px;

  color: var(--detail-push-color);
}
