@import "./spinner";
@import "./spinner.md.vars";

// Material Design Spinner
// --------------------------------------------------

:host(.spinner-lines-md) {
  --ion-color-base: #{$spinner-md-lines-color};
}

:host(.spinner-bubbles) {
  --ion-color-base: #{$spinner-md-bubbles-color};
}

:host(.spinner-circles) {
  --ion-color-base: #{$spinner-md-circles-color};
}

:host(.spinner-crescent) {
  --ion-color-base: #{$spinner-md-crescent-color};
}

:host(.spinner-dots) {
  --ion-color-base: #{$spinner-md-dots-color};
}
