@import "../../themes/ionic.globals.ios";

// iOS Spinner
// --------------------------------------------------

/// @prop - Color of the lines spinner
$spinner-ios-lines-color:          $text-ios-color-step-400 !default;

/// @prop - Color of the bubbles spinner
$spinner-ios-bubbles-color:        $text-ios-color !default;

/// @prop - Color of the circles spinner
$spinner-ios-circles-color:        $text-ios-color-step-400 !default;

/// @prop - Color of the crescent spinner
$spinner-ios-crescent-color:       $text-ios-color !default;

/// @prop - Color of the dots spinner
$spinner-ios-dots-color:           $text-ios-color-step-300 !default;
