@import "../../themes/ionic.globals.md";

// Material Design Spinner
// --------------------------------------------------

/// @prop - Color of the lines spinner
$spinner-md-lines-color:          $text-md-color-step-400 !default;

/// @prop - Color of the bubbles spinner
$spinner-md-bubbles-color:        $text-md-color !default;

/// @prop - Color of the circles spinner
$spinner-md-circles-color:        $text-md-color-step-400 !default;

/// @prop - Color of the crescent spinner
$spinner-md-crescent-color:       $text-md-color !default;

/// @prop - Color of the dots spinner
$spinner-md-dots-color:           $text-md-color-step-300 !default;
