@import "./spinner";
@import "./spinner.md.vars";

// Material Design Spinner
// --------------------------------------------------

.spinner-lines-md {
  --ion-color-base: #{$spinner-md-lines-color};
}

.spinner-bubbles-md {
  --ion-color-base: #{$spinner-md-bubbles-color};
}

.spinner-circles-md {
  --ion-color-base: #{$spinner-md-circles-color};
}

.spinner-crescent-md {
  --ion-color-base: #{$spinner-md-crescent-color};
}

.spinner-dots-md {
  --ion-color-base: #{$spinner-md-dots-color};
}
