
// Global Functions
@import "util/functions";


// Global Mixins
@import "util/mixins";


// Global include-rtl
$include-rtl: true !default;


// Global font path
$font-path: "../fonts" !default;


// Hairline width
$hairlines-width: .55px !default;
