@import "../../themes/mixins";

// Segment: Common
// --------------------------------------------------

:host {
  /**
   * @prop --background: Background of the segment button
   */
  @include font-smoothing();

  display: grid;

  grid-auto-columns: 1fr;

  position: relative;

  align-items: stretch;
  justify-content: center;

  width: 100%;

  background: var(--background);

  text-align: center;

  contain: paint;

  user-select: none;
}

// Segment: Scrollable
// --------------------------------------------------

:host(.segment-scrollable) {
  justify-content: start;

  width: auto;

  overflow-x: auto;

  grid-auto-columns: minmax(min-content, 1fr);
}

:host(.segment-scrollable::-webkit-scrollbar) {
  display: none;
}
