@import "./segment";
@import "./segment.ios.vars";

// iOS Segment
// --------------------------------------------------

:host {
  --background: #{$segment-ios-background-color};
  --indicator-height: 100%;
  --indicator-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16) @include border-radius($segment-ios-border-radius);

  overflow: hidden;

  z-index: 0;
}

// Segment: Color
// --------------------------------------------------

:host(.ion-color) {
  background: #{current-color(base, 0.065)};
}

// Segment: Default Toolbar
// --------------------------------------------------

:host(.in-toolbar) {
  @include margin(0, auto);

  width: auto;
}

// Default Segment, In a Toolbar
:host(.in-toolbar:not(.ion-color)) {
  background: var(--ion-toolbar-segment-background, var(--background));
}

// Segment: Color Toolbar
// --------------------------------------------------

// Toolbar with Color, Default Segment
:host(.in-toolbar-color:not(.ion-color)) {
  background: #{current-color(contrast, 0.11)};
}

.segment-indicator {
  @include position(0, 0, 0, 0);

  padding: 0 2px;

  .segment-indicator-background {
    transform: scale(0.95);
    border-radius: 7px;
  }
}
