@import "../../themes/ionic.globals";

// Segment
// --------------------------------------------------

:host {
  --ion-color-base: #{ion-color(primary, base)};
  --ion-color-base-rgb: #{ion-color(primary, base, null, true)};
  --ion-color-contrast: #{ion-color(primary, contrast)};
  --ion-color-shade: #{ion-color(primary, shade)};

  @include font-smoothing();

  display: flex;

  flex: 1;
  align-items: center;
  justify-content: center;

  width: 100%;

  text-align: center;
}

:host(.segment-disabled) {
  pointer-events: none;
}

::slotted(.segment-button-disabled) {
  pointer-events: none;
}