@import "../globals.core";

// Cordova Status Bar Padding iOS Platform
// --------------------------------------------------------------------------------

// The height of the ios statusbar
$cordova-ios-statusbar-padding:                     20px   !default;

// The breakpoint when a modal becomes inset
$cordova-statusbar-padding-modal-max-width:         767px !default;


// The first-child should get modified padding-top for the status bar
// --------------------------------------------------------------------------------

@mixin toolbar-statusbar-padding($toolbar-height, $content-padding) {

  > .toolbar.statusbar-padding:first-child {
    padding-top: $cordova-ios-statusbar-padding;

    height: calc(#{$toolbar-height} + #{$cordova-ios-statusbar-padding});
    min-height: calc(#{$toolbar-height} + #{$cordova-ios-statusbar-padding});
  }

  > ion-content.statusbar-padding:first-child scroll-content {
    padding-top: $cordova-ios-statusbar-padding;
  }

  > ion-content.statusbar-padding:first-child[padding] scroll-content,
  > ion-content.statusbar-padding:first-child[padding-top] scroll-content {
    padding-top: calc(#{$content-padding} + #{$cordova-ios-statusbar-padding});
  }

}


// iOS is the only mode that uses this mixins and it should be removed with #5036
// --------------------------------------------------------------------------------

@mixin toolbar-title-statusbar-padding($toolbar-height, $content-padding) {

  > .toolbar.statusbar-padding:first-child ion-segment,
  > .toolbar.statusbar-padding:first-child ion-title {
    padding-top: $cordova-ios-statusbar-padding;

    height: calc(#{$toolbar-height} + #{$cordova-ios-statusbar-padding});
    min-height: calc(#{$toolbar-height} + #{$cordova-ios-statusbar-padding});
  }

}
