@import "../../themes/mixins";

:host {
  /**
   * @prop --margin-top: Top margin of the divider
   * @prop --margin-bottom: Bottom margin of the divider
   * @prop --padding-end: Right padding if direction is left-to-right, and left padding if direction is right-to-left of the divider
   * @prop --padding-start: Left padding if direction is left-to-right, and right padding if direction is right-to-left of the divider
   */
  --margin-top: 0px;
  --margin-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;

  @include padding-horizontal(var(--padding-start), var(--padding-end));

  display: block;

  width: 100%;
}

:host hr {
  display: block;

  width: 100%;

  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);

  border: none;
}
