<html ng-app="modalTest">
  <head>
    <meta charset="utf-8">
    <title>Modal</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../../../dist/css/ionic.css">
    <script src="../../../../dist/js/ionic.bundle.js"></script>
  </head>
  <body>
    <ion-pane ng-controller="AppCtrl">
        <ion-header-bar type="bar-positive" title="'Contacts'" right-buttons="contactsRightButtons">
        </ion-header-bar>
        <ion-content has-header="true">
          <ion-list>
            <ion-item ng-repeat="contact in contacts">
              {{contact.name}}
            </ion-item>
          </ion-list>
        </ion-content>
    </ion-pane>

    <script id="modal.html" type="text/ng-template">
      <div class="modal" ng-controller="ModalCtrl">
        <header class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
        </header>
        <ion-content has-header="true">
          <div class="padding">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
              </label>
              <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
              </label>
              <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
              </label>
              <button class="button button-full button-positive" ng-click="closeModal()">Create</button>
            </div>
          </div>
        </ion-content>
      </div>
    </script>

    <script>
      angular.module('modalTest', ['ionic'])

      .controller('AppCtrl', function($scope, $ionicModal) {
        $scope.contacts = [
          { name: 'Gordon Freeman' },
          { name: 'Barney Calhoun' },
          { name: 'Lamarr the Headcrab' },
        ];
        $scope.contactsRightButtons = [
          {
            type: 'button-icon',
            content: '<i class="icon ion-compose"></i>',
            tap: function(e) {
              $scope.openModal();
            }
          }
        ];
        $scope.openModal = function() {
          $scope.modal.show();
        };
        $scope.closeModal = function() {
          $scope.modal.hide();
        };
        $ionicModal.fromTemplateUrl('modal.html', function(modal) {
          $scope.modal = modal;
        }, {
          animation: 'slide-in-up',
          focusFirstInput: true
        });

      })

      .controller('ModalCtrl', function($scope) {
        $scope.close = function() {
          $scope.modal.hide();
        }
      });
    </script>
  </body>
</html>

