<html ng-app="navTest">
  <head>
    <meta charset="utf-8">
    <title>Nav Bars</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../dist/css/ionic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.js"></script>
    <style>
.view {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
}
      .slide-in-slide-out {
        /*
        -webkit-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);

       -webkit-transition: -webkit-transform 1s ease-in-out;
               transition:         transform 1s ease-in-out;
        */
      }
    </style>

  </head>
  <body>

    <navs>
      <nav-bar type="bar-primary" back-button-type="button-pure" align-title="left">
      </nav-bar>

      <div ng-controller="AppCtrl">
        <content has-header="true">
        </content>
      </div>
    </navs>

    <script id="page.html" type="text/ng-template">
      <div title="Home home home home home home home home home" ng-controller="CatsCtrl" class="nav-content">
        <h1></h1>
        <a href="#" class="button button-success" ng-click="goNext()">Next</a>
        <list><list-item ng-repeat="item in items" on-select="goNext()">Test</list-item></list>
      </div>
    </script>

    <script src="../../../../dist/js/ionic.js"></script>
    <script src="../../../../dist/js/ionic-angular.js"></script>
    <script>
      var pageNumber = 0;

      var pushIt = function($scope, $compile, $element, cb) {
        var childScope = $scope.$new();
        childScope.isVisible = true;

        var items = [];
        for(var i = 0; i < 100; i++) {
          items.push({});
        }
        childScope.items = items;

        pageNumber++;

      }

      angular.module('navTest', ['ionic', 'ngAnimate'])

      .controller('AppCtrl', function($scope, $compile, $element) {
        $scope.navController.pushFromTemplate('page.html');
      })

      .controller('CatsCtrl', function($scope, $compile, $element) {
        $scope.$on('navContent.shown', function() {
          console.log('SHOWN');
        });
        $scope.$on('navContent.hidden', function() {
          console.log('HIDDEN');
        });

        var items = [];
        for(var i = 0; i < 100; i++) {
          items.push({});
        }
        $scope.items = items;
        $scope.goNext = function() {
          $scope.navController.pushFromTemplate('page.html');
        };
      });
    </script>
  </body>
</html>

