<html ng-app="navTest">
  <head>
    <meta charset="utf-8">
    <title>Nav Bars</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../../../dist/css/ionic.css">
    <script src="../../../../dist/js/ionic.js"></script>
    <script src="../../../../dist/js/angular/angular.js"></script>
    <script src="../../../../dist/js/angular/angular-animate.js"></script>
    <script src="../../../../dist/js/angular/angular-route.js"></script>
    <script src="../../../../dist/js/angular/angular-touch.js"></script>
    <script src="../../../../dist/js/angular/angular-sanitize.js"></script>
    <script src="../../../../dist/js/ionic-angular.js"></script>
  </head>
  <body>

    <navs>
      <nav-bar type="bar-primary" back-button-type="button-pure">
      </nav-bar>

      <div ng-controller="AppCtrl">
        <content has-header="true">
        </content>
      </div>
    </navs>

    <script id="page.html" type="text/ng-template">
      <div title="Home home" ng-controller="CatsCtrl" class="nav-content">
        <h1></h1>
        <button class="button button-success" ng-click="goNext()">Next</button>
        <list><list-item ng-repeat="item in items" on-select="goNext()">Test</list-item></list>
      </div>
    </script>

    <script>
      angular.module('navTest', ['ionic', 'ngAnimate'])

      .controller('AppCtrl', function($scope) {
        $scope.navController.pushFromTemplate('page.html');
      })

      .controller('CatsCtrl', function($scope, $compile, $element) {
        

        $scope.$on('navContent.shown', function() {
          console.log('SHOWN');
        });
        $scope.$on('navContent.hidden', function() {
          console.log('HIDDEN');
        });

        $scope.goNext = function() {
          $scope.navController.pushFromTemplate('page.html');
        };
      });
    </script>
  </body>
</html>

