<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <title>Side Menus</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../../../dist/css/ionic.css">
    <script src="../../../../dist/js/ionic.bundle.js"></script>
  </head>
  <body>

    <div ng-controller="MainCtrl">
      <ion-nav-view></ion-nav-view>
    </div>

    <script id="event-menu.html" type="text/ng-template">
      <ion-side-menus>

        <ion-pane ion-side-menu-content>
          <ion-nav-bar type="bar-positive"
                   back-button-type="button-icon"
                   back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-pane>

        <ion-side-menu side="left">
          <header class="bar bar-header bar-assertive">
            <div class="title">Left Menu</div>
          </header>
          <ion-content has-header="true">
            <div class="list">
              <a href="#/event/check-in" class="item">Check-in</a>
              <a href="#/event/attendees" class="item">Attendees</a>
              <div class="item item-divider">
                Range
              </div>
              <div class="range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume">
                <i class="icon ion-volume-high"></i>
              </div>
            </div>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

    <script id="home.html" type="text/ng-template">
      <ion-view title="'Welcome'">
        <ion-content has-header="true" padding="true">
          <p>Swipe to the right to reveal the left menu.</p>
          <div class="button" ng-click="sideMenuController.toggleLeft()" style="position: absolute; left: 100px; top: 200px;">
            Left Menu
          </div>
          <p ng-repeat="p in range">{{$index}}....</p>
          <p>(On desktop click and drag from left to right)</p>
        </ion-content>
      </ion-view>
    </script>

    <script id="check-in.html" type="text/ng-template">
      <ion-view title="'Event Check-in'">
        <ion-content has-header="true">
          <form class="list" ng-show="showForm">
            <div class="item item-divider">
              Attendee Info
            </div>
            <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="attendee.firstname">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="attendee.lastname">
            </label>
            <div class="item item-divider">
              Shirt Size
            </div>
            <ion-radio ng-repeat="shirtSize in shirtSizes"
                   ng-value="shirtSize.value"
                   ng-model="attendee.shirtSize">
              {{ shirtSize.text }}
            </ion-radio>
            <div class="item item-divider">
              Lunch
            </div>
            <ion-toggle ng-model="attendee.vegetarian">
              Vegetarian
            </ion-toggle>
            <div class="padding">
              <button class="button button-block" ng-click="submit()">Checkin</button>
            </div>
          </form>

          <div ng-hide="showForm">
            <pre ng-bind="attendee | json"></pre>
            <a href="#/event/attendees">View attendees</a>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="attendees.html" type="text/ng-template">
      <ion-view title="'Event Attendees'">
        <ion-content has-header="true">
          <div class="list">
            <ion-toggle ng-repeat="attendee in attendees | orderBy:'firstname' | orderBy:'lastname'"
                    ng-model="attendee.arrived"
                    ng-change="arrivedChange(attendee)">
              {{ attendee.firstname }}
              {{ attendee.lastname }}
            </ion-toggle>
            <div class="item item-divider">
              Activity
            </div>
            <div class="item" ng-repeat="msg in activity">
              {{ msg }}
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script>
      angular.module('ionicApp', ['ionic'])

      .config(function($stateProvider, $urlRouterProvider) {

        $stateProvider
          .state('eventmenu', {
            url: "/event",
            abstract: true,
            templateUrl: "event-menu.html"
          })
          .state('eventmenu.home', {
            url: "/home",
            views: {
              'menuContent' :{
                templateUrl: "home.html"
              }
            }
          })
          .state('eventmenu.checkin', {
            url: "/check-in",
            views: {
              'menuContent' :{
                templateUrl: "check-in.html",
                controller: "CheckinCtrl"
              }
            }
          })
          .state('eventmenu.attendees', {
            url: "/attendees",
            views: {
              'menuContent' :{
                templateUrl: "attendees.html",
                controller: "AttendeesCtrl"
              }
            }
          })

        $urlRouterProvider.otherwise("/event/home");
      })

      .controller('MainCtrl', function($scope) {
        console.log('MainCtrl');

        $scope.range = [];
        for (var i=0; i<150; i++) $scope.range.push(i);

        $scope.attendees = [
          { firstname: 'Nicolas', lastname: 'Cage' },
          { firstname: 'Jean-Claude', lastname: 'Van Damme' },
          { firstname: 'Keanu', lastname: 'Reeves' },
          { firstname: 'Steven', lastname: 'Seagal' },
          { firstname: 'Jeff', lastname: 'Goldblum' },
          { firstname: 'Brendan', lastname: 'Fraser' }
        ];
      })

      .controller('CheckinCtrl', function($scope) {
        $scope.showForm = true;

        $scope.shirtSizes = [
          { text: 'Large', value: 'L' },
          { text: 'Medium', value: 'M' },
          { text: 'Small', value: 'S' }
        ];

        $scope.attendee = {};
        $scope.submit = function() {
          if(!$scope.attendee.firstname) {
            alert('Info required');
            return;
          }
          $scope.showForm = false;
          $scope.attendees.push($scope.attendee);
        };

      })

      .controller('AttendeesCtrl', function($scope) {

        $scope.activity = [];
        $scope.arrivedChange = function(attendee) {
          var msg = attendee.firstname + ' ' + attendee.lastname;
          msg += (!attendee.arrived ? ' has arrived, ' : ' just left, ');
          msg += new Date().getMilliseconds();
          $scope.activity.push(msg);
          if($scope.activity.length > 3) {
            $scope.activity.splice(0, 1);
          }
        };

      });
    </script>
  </body>
</html>

