<html ng-app="toggleTest">
  <head>
    <meta charset="utf-8">
    <title>Toggle</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../../../dist/css/ionic.css">
    <script src="../../../../dist/js/ionic.bundle.js"></script>
  </head>
  <body>

    <header class="bar bar-header bar-danger">
      <h1 class="title">Toggle</h1>
    </header>
    <ion-content has-header="true" class="reveal-animation">
      <div ng-controller="TestCtrl">

        <div class="list">
          <ion-toggle ng-model="myModel" ng-disabled="isDisabled">myModel ({{!!myModel}})</ion-toggle>
          <ion-toggle ng-model="isDisabled">Disable myModel ({{!!isDisabled}})</ion-toggle>
        </div>
      </div>
    </ion-content>

    <script>
      angular.module('toggleTest', ['ionic'])
      .controller('TestCtrl', function($scope) {});
    </script>
  </body>
</html>

