@import "../../themes/ionic.theme.default";

// Content
// --------------------------------------------------

ion-content {
  position: relative;
  display: block;

  flex: 1;

  width: 100%;

  contain: layout size style;

  margin: 0 !important; // scss-lint:disable all
  padding: 0 !important; // scss-lint:disable all


  // Padding Margin
  // --------------------------------------------------

  &[padding] .scroll-inner {
    @include padding($content-padding);
  }

  &[padding-top] .scroll-inner {
    @include padding($content-padding, null, null, null);
  }

  &[padding-start] .scroll-inner {
    @include padding-horizontal($content-padding, null);
  }

  &[padding-end] .scroll-inner {
    @include padding-horizontal(null, $content-padding);
  }

  &[padding-bottom] .scroll-inner {
    @include padding(null, null, $content-padding, null);
  }

  &[padding-vertical] .scroll-inner {
    @include padding($content-padding, null, $content-padding, null);
  }

  &[padding-horizontal] .scroll-inner {
    @include padding-horizontal($content-padding);
  }
}
