@import "./searchbar";
@import "./searchbar.ios.vars";

// iOS Searchbar
// --------------------------------------------------

.searchbar-ios {
  @include padding($searchbar-ios-padding-top, $searchbar-ios-padding-end, $searchbar-ios-padding-bottom, $searchbar-ios-padding-start);

  min-height: $searchbar-ios-min-height;
}


// Searchbar Mixin for Icons
// -----------------------------------------

@mixin ios-searchbar-icon($svg-icon, $fg-color) {
  $svg: str-replace($svg-icon, "fg-color", $fg-color);

  @include svg-background-image($svg, true);
}


// Searchbar Search Icon
// -----------------------------------------

.searchbar-ios .searchbar-search-icon {
  @include background-position(center);
  @include ios-searchbar-icon($searchbar-ios-input-search-icon-svg, $searchbar-ios-input-search-icon-color);
  @include margin-horizontal(calc(50% - 60px), null);
  @include position(0, null, null, 9px);

  position: absolute;

  width: $searchbar-ios-input-search-icon-size + 1;
  height: 100%;

  background-repeat: no-repeat;
  background-size: $searchbar-ios-input-search-icon-size;
}


// Searchbar Input Field
// -----------------------------------------

.searchbar-ios .searchbar-input {
  @include placeholder($searchbar-ios-input-placeholder-color);
  @include padding(0, 28px);
  @include border-radius($searchbar-ios-input-border-radius);

  height: $searchbar-ios-input-height;

  font-size: 1.4rem;
  font-weight: 400;

  color: $searchbar-ios-input-text-color;
  background-color: $searchbar-ios-input-background-color;
}


// Searchbar Clear Input Icon
// -----------------------------------------

.searchbar-ios ion-button.searchbar-clear-icon {
  @include position(0, 0, null, null);
  @include ios-searchbar-icon($searchbar-ios-input-clear-icon-svg, $searchbar-ios-input-clear-icon-color);
  @include background-position(center);

  position: absolute;

  width: 30px;
  height: 100%;

  background-repeat: no-repeat;
  background-size: $searchbar-ios-input-clear-icon-size;
}


// Searchbar Cancel (iOS only)
// -----------------------------------------

.searchbar-ios .searchbar-ios-cancel {
  @include margin-horizontal(0, null);

  display: none;

  flex-shrink: 0;

  height: 30px;

  cursor: pointer;
}

.searchbar-ios button.searchbar-ios-cancel {
  @include padding(0, 0, 0, 8px);
  @include margin(0);
}


// Searchbar Left Aligned (iOS only)
// -----------------------------------------

.searchbar-ios.searchbar-left-aligned .searchbar-search-icon {
  @include margin-horizontal(0, null);
}

.searchbar-ios.searchbar-left-aligned .searchbar-input {
  @include padding-horizontal(30px, null);
}


// Searchbar Has Focus
// -----------------------------------------

.searchbar-ios.searchbar-show-cancel.searchbar-has-focus .searchbar-ios-cancel {
  display: block;
}


// Searchbar in Toolbar
// -----------------------------------------

.toolbar .searchbar-ios .searchbar-ios-cancel {
  @include padding(0);
}

.toolbar .searchbar-ios.searchbar-has-focus .searchbar-ios-cancel {
  @include padding-horizontal(8px, null);
}


// Searchbar Cancel (MD only)
// -----------------------------------------

.searchbar-ios .searchbar-md-cancel {
  display: none;
}


// Generate Default Search Bar Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
  $fg-color: rgba($color-contrast, .5);

  .searchbar-ios-#{$color-name} .searchbar-ios-cancel {
    color: $color-base;
  }

  .searchbar-ios-#{$color-name} .searchbar-ios-cancel:hover:not(.disable-hover) {
    color: color-shade($color-base);
  }

  .toolbar-ios-#{$color-name} .searchbar-ios .searchbar-search-icon {
    @include ios-searchbar-icon($searchbar-ios-input-search-icon-svg, $fg-color);
  }

  .toolbar-ios-#{$color-name} .searchbar-ios .searchbar-input {
    @include placeholder($fg-color);
    color: $color-contrast;
    background: rgba($color-contrast, .1);
  }

  .toolbar-ios-#{$color-name} .searchbar-ios .searchbar-clear-icon {
    @include ios-searchbar-icon($searchbar-ios-input-clear-icon-svg, $fg-color);
  }

  .toolbar-ios-#{$color-name} .searchbar-ios .searchbar-ios-cancel {
    color: color-contrast($colors-ios, $color-base, ios);
  }

}

// Searchbar animation
// -----------------------------------------

.searchbar-ios.searchbar-animated.searchbar-show-cancel .searchbar-ios-cancel {
  display: block;
}

.searchbar-ios.searchbar-animated .searchbar-search-icon,
.searchbar-ios.searchbar-animated .searchbar-input {
  transition: $searchbar-ios-input-transition;
}

.searchbar-animated.searchbar-has-focus .searchbar-ios-cancel {
  opacity: 1;

  pointer-events: auto;
}

.searchbar-animated .searchbar-ios-cancel {
  @include margin-horizontal(null, -100%);
  @include transform(translate3d(0, 0, 0));

  opacity: 0;
  transition: $searchbar-ios-cancel-transition;

  pointer-events: none;
}
