@import "./searchbar";
@import "./searchbar.md.vars";

// Material Design Searchbar
// --------------------------------------------------

.searchbar-md {
  @include padding($searchbar-md-padding-top, $searchbar-md-padding-end, $searchbar-md-padding-bottom, $searchbar-md-padding-start);

  background: $searchbar-md-background-color;
}


// Searchbar Search Icon
// -----------------------------------------

.searchbar-md .searchbar-search-icon {
  @include position(11px, null, null, 16px);
  @include svg-background-image($searchbar-md-input-search-icon-svg, true);

  width: $searchbar-md-input-search-icon-size + 1;
  height: $searchbar-md-input-search-icon-size + 1;
}


// Searchbar Cancel Icon (MD only)
// -----------------------------------------

.searchbar-md .searchbar-md-cancel {
  @include position(0, null, null, 10px);
  @include margin(0);

  display: none;

  width: $searchbar-md-input-search-icon-size + 1;
  height: 100%;
}

// Searchbar Search & Cancel Icon
// -----------------------------------------

.searchbar-md .searchbar-search-icon,
.searchbar-md .searchbar-md-cancel {
  position: absolute;

  background-repeat: no-repeat;
  background-size: $searchbar-md-input-search-icon-size;
}

.searchbar-md .searchbar-search-icon.activated,
.searchbar-md .searchbar-md-cancel.activated {
  background-color: transparent;
}


// Searchbar Input Field
// -----------------------------------------

.searchbar-md .searchbar-input {
  @include placeholder($searchbar-md-input-placeholder-color);
  @include padding(6px, 55px);
  @include border-radius($searchbar-md-input-border-radius);
  @include background-position(start, 8px, center);

  height: $searchbar-md-input-height;

  font-size: 1.6rem;
  font-weight: 400;

  line-height: $searchbar-md-input-line-height;
  color: $searchbar-md-input-text-color;

  background-color: $searchbar-md-input-background-color;
  box-shadow: $searchbar-md-input-box-shadow;
}


// Searchbar Clear Input Icon
// -----------------------------------------

.searchbar-md ion-button.searchbar-clear-icon {
  @include position(0, 13px, null, null);
  @include svg-background-image($searchbar-md-input-clear-icon-svg);
  @include padding(0);
  @include background-position(center);

  position: absolute;

  width: $searchbar-md-input-clear-icon-size;
  height: 100%;

  background-repeat: no-repeat;
  background-size: $searchbar-md-input-clear-icon-size;
}

.searchbar-md ion-button.searchbar-clear-icon.activated {
  background-color: transparent;
}


// Searchbar Focused
// -----------------------------------------

.searchbar-md.searchbar-has-focus.searchbar-show-cancel .searchbar-search-icon {
  display: none;
}

.searchbar-md.searchbar-has-focus.searchbar-show-cancel .searchbar-md-cancel {
  display: inline-flex;
}


// Searchbar in Toolbar
// -----------------------------------------

.toolbar .searchbar-md {
  @include padding(3px);
}

.toolbar .searchbar-md .searchbar-md-cancel {
  @include position-horizontal(14px, null);
}


// Searchbar Cancel Icon (iOS only)
// -----------------------------------------

.searchbar-md .searchbar-ios-cancel {
  display: none;
}
