@import "../../themes/globals.md";
@import "../item/item.md.vars";

// Material Design Textarea
// --------------------------------------------------

/// @prop - Font size of the textarea
$textarea-md-font-size: inherit !default;

/// @prop - Margin top of the textarea
$textarea-md-padding-top: $item-md-padding-top !default;

/// @prop - Margin end of the textarea
$textarea-md-padding-end: 0 !default;

/// @prop - Margin bottom of the textarea
$textarea-md-padding-bottom: $item-md-padding-bottom !default;

/// @prop - Margin start of the textarea
$textarea-md-padding-start: ($item-md-padding-start * 0.5) !default;

/// @prop - The amount of whitespace to display on either side of the floating label
$textarea-md-floating-label-padding: 4px !default;

/// @prop - The opacity of the input text, label, helper text, char counter and placeholder of a disabled textarea
$textarea-md-disabled-opacity: $form-control-md-disabled-opacity !default;
