@import "./textarea";
@import "./textarea.md.vars";

// Material Design Textarea
// --------------------------------------------------

.native-textarea {
  @include placeholder($textarea-md-placeholder-color);
  @include margin($textarea-md-margin-top, $textarea-md-margin-end, $textarea-md-margin-bottom, $textarea-md-margin-start);
  @include padding(0);

  width: calc(100% - #{$textarea-md-margin-end} - #{$textarea-md-margin-start});

  font-family: $textarea-md-font-family;
  font-size: $textarea-md-font-size;
}
