body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  overflow: hidden;
}

section.hidden {
  display: none !important;
}

#ionitron {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
}

.animation-buttons {
  position: absolute;
  bottom: 25%; 
  left: 60px; 
  display: inline;
}

.components-demo h4 {
  text-align: center;
}

.section-padding {
  padding: 16px;
}

.components-demo section {
  width: 100%;
  height: 100%;
}

.components-icons {
  font-size: 2em;
  text-align: center;
}

ion-scroll {
  width: 100%;
  height: 100%;
}

.demo-slide {
  display: block;
  height: 100%;
  padding: 500px 0;
  width: 100%;
  font-weight: bold;
  font-size: 2.5em;
  color: #fff;
}

.demo-slide-1 {
  background-color: #32db64;
}

.demo-slide-2 {
  background-color: #387ef5;
}

.demo-slide-3 {
  background-color: #f53d3d;
}

scroll-content {
  overflow-y: hidden;
}

.md .ion-md-share {
  color: #ED4248;
}
.md .ion-md-arrow-dropright-circle {
  color: #508AE4;
}
.md .ion-md-heart-outline {
  color: #31D55F;
}

.md .action-sheet-destructive {
  border-top: 1px solid rgba(204, 204, 204, 0.32);
  margin-top: 8px;
  padding-top: 4px;
}

.md .action-sheet-cancel icon, .md .action-sheet-destructive icon {
  color: #757575;
}

#card-wireframe {
  width: 100%;
  margin-bottom: 2.7em;
}
#subtle-footer {
  background-color: #fff;
  border-image-source: url(footer-wireframe.png);
  border-image-repeat: repeat;
  border-image-width: 100%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  position: absolute;
  bottom:0;
}
#demo-fab-bottom {
  padding-top: 3px;
  z-index: 100;
}
#subtle-footer .toolbar-background {
  background-color: #fff;
  border-bottom: 0;
}
#demo-card-left {
  font-size: 14px;
  margin-top: -90px;
  margin-left: 10px;
  float: left;
}
#demo-card-right {
  font-size: 14px;
  margin-top: -90px;
  float: right;
  margin-right: 10px;


}