$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  energized:  #ffc527,
  royal:      #7e60ff,
);
$font-path: '../../dist/fonts';

@import "../../ionic/ionic";
@import "action-sheets/basic/styles";
@import "buttons/fab/styles";
@import "buttons/components/styles";
@import "cards/background/styles";
@import "cards/list/styles";
@import "cards/advanced-weather/styles";
@import "cards/advanced-map/styles";
@import "grid/basic/styles";
@import "icons/basic/styles";
@import "lists/avatar/styles";
@import "lists/basic/styles";
@import "lists/headers/styles";
@import "lists/icon/styles";
@import "lists/inset/styles";
@import "lists/multiline/styles";
@import "lists/no-lines/styles";
@import "lists/thumbnail/styles";
@import "menus/basic/styles";
@import "slides/basic/styles";
@import "tabs/basic/styles";
@import "tabs/icon/styles";
@import "tabs/icon-text/styles";




//////////////////////////////////
// Global Styles
//////////////////////////////////

body, body:hover, body a, body button, body media-switch {
  cursor: url('http://ionicframework.com/img/finger.png') 8 8, auto;
}

body ion-app {
  overflow: visible;
}

ion-page {
  display: flex;
}

ion-scroll {
  width: 100%;
  height: 100%;
}

body.has-scrollbar scroll-content {
  margin-right: -15px;
}
body.has-scrollbar ion-menu scroll-content {
  margin-right: 0;
}

scroll-content {
  overflow-y: scroll;
}

section.hidden {
  display: none !important;
}

.components-demo h4 {
  text-align: center;
}

.section-padding {
  padding: 16px;
}

.components-demo section {
  width: 100%;
  height: 100%;
}

#card-wireframe {
  width: 100%;
  margin-bottom: 2.7em;
}

.demo-card {
  height: 0;
}
.demo-card button {
  font-size: 1.3rem;
}

.ios ion-content.cards-bg {
  background-color: #f4f4f7;
}
.md ion-content.cards-bg {
  background-color: #EEEEEE !important;
}

.demo-list-icons icon {
  color: #444444;
}
.demo-list-icons icon#secondary {
  color: #32DB64;
}
body.md {
  border-top: 24px solid black;
}

body.md backdrop {
  top: -24px;
  height: 107%;
}
 
body.md img#md-only {
  display: block !important;
  position: absolute;
  top: -24px;
  width: 100%;
  height: auto;
}

body.md img#md-tabs-icon, body.md img#md-tabs-icon-text {
  display: none;
  position: absolute;
  top: -24px;
  width: 100%;
  height: auto;
}

body.ios img#ios-only {
  display: block !important;
  position: absolute;
  background-color: #F8F8F8;
  padding: 5px 0;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 999;
}
