@import "./chip.vars";

// Chip
// --------------------------------------------------

ion-chip {
  box-sizing: border-box;
  display: inline-flex;

  align-self: center;

  font-weight: normal;
  vertical-align: middle;
}

ion-chip ion-icon {
  @include text-align($chip-icon-text-align);
  @include border-radius($chip-icon-border-radius);

  width: $chip-icon-size;
  height: $chip-icon-size;

  font-size: $chip-icon-font-size;
  line-height: $chip-icon-line-height;
}
