@import "../../themes/ionic.globals";

// Card Subtitle
// --------------------------------------------------

:host {
  /**
   * @prop --color: Color of the card subtitle
   */

  display: block;
  position: relative;

  color: var(--color);
}

:host(.ion-color) {
  color: current-color(base);
}