@import "./note.ios.vars";

// iOS Note
// --------------------------------------------------

.note-ios {
  font-family: $note-ios-font-family;

  color: $note-ios-color;
}


// Generate iOS Note Colors
// --------------------------------------------------

@each $color-name, $color-value in $colors-ios {
  $color-base: ion-color($colors-ios, $color-name, base, ios);

  .note-ios-#{$color-name} {
    color: $color-base;
  }
}
