@import "./note.md.vars";

// Material Design Note
// --------------------------------------------------

.note-md {
  font-family: $note-md-font-family;

  color: $note-md-color;
}


// Generate Material Design Note Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {

  .note-md-#{$color-name} {
    color: $color-base;
  }

}
