@import "../../themes/ionic.globals";

// Item Sliding
// --------------------------------------------------

ion-item-sliding {
  position: relative;
  display: block;
  overflow: hidden;

  width: 100%;
}

.item-sliding-active-slide {
  ion-item,
  ion-item.activated {
    position: relative;
    z-index: $z-index-item-options + 1;

    opacity: 1;
    transition: transform 500ms cubic-bezier(.36, .66, .04, 1);

    pointer-events: none;

    will-change: transform;
  }
}
