@import "../../themes/ionic.globals.md";
@import "./item-sliding";


// Material Design Item Sliding
// --------------------------------------------------

/// @prop - Background for the sliding content
$item-md-sliding-content-background:         $list-md-background-color !default;

/// @prop - Font size of the sliding option button
$item-md-sliding-button-font-size:           1.4rem !default;

/// @prop - Background color of the sliding option button
$item-md-sliding-button-background-color:    color($colors-md, primary) !default;

/// @prop - Text color of the sliding option button
$item-md-sliding-button-text-color:          color-contrast($colors-md, $item-md-sliding-button-background-color) !default;

/// @prop - color of the sliding option button icon
$item-md-sliding-button-icon-color:          color-contrast($colors-md, $item-md-sliding-button-background-color) !default;


.list-md ion-item-sliding {
  background-color: $item-md-sliding-content-background;
}

.list-md ion-item-options {
  border-bottom: 1px solid $list-md-border-color;
}

.item-option-button-md {
  font-size: $item-md-sliding-button-font-size;
  color: $item-md-sliding-button-text-color;
  background-color: $item-md-sliding-button-background-color;
}

.item-option-button-md .icon {
  fill: $item-md-sliding-button-icon-color;
}

// Material Design No Lines List
// --------------------------------------------------

.list-md[no-lines] ion-item-options {
  border-width: 0;
}


// Generate Material Design Option Button Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {

  .item-option-button-md-#{$color-name} {
    color: $color-contrast;
    background-color: $color-base;
  }

  .item-option-button-md-#{$color-name} .icon {
    fill: $color-contrast;
  }

}