@import "../../themes/ionic.globals.md";

// Material Design Item Sliding
// --------------------------------------------------

/// @prop - Background for the sliding content
$item-md-sliding-content-background:         $item-md-background-color !default;

/// @prop - Font size of the sliding option button
$item-md-sliding-button-font-size:           14px !default;

/// @prop - Background color of the sliding option button
$item-md-sliding-button-background-color:    ion-color($colors-md, primary, base, md) !default;

/// @prop - Text color of the sliding option button
$item-md-sliding-button-text-color:          ion-color($colors-md, $item-md-sliding-button-background-color, contrast, md) !default;

/// @prop - color of the sliding option button icon
$item-md-sliding-button-icon-color:          ion-color($colors-md, $item-md-sliding-button-background-color, contrast, md) !default;
