@import "../../../../../templarios/abstracts";

:host {
  --background: #{color('brand', '1')};
  --color: #{color('brand', '1', 'contrast')};
}

:host(.med-titulo-materia) {
  background: var(--background);
  padding: var(--med-spacing-inline-base);
  display: flex;
  align-items: center;
  max-width: 1200px;
}

:host(.med-titulo-materia) .med-titulo-materia__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  //margin: 0 var(--med-spacing-inline-base;
}

:host(.med-titulo-materia) .med-titulo-materia__titulo {
  margin: 0;
  font-size: var(--med-font-size-xs);
  font-weight: var(--med-font-weight-bold);
  line-height: var(--med-line-height-compressed);
  color: var(--color);
}

:host(.med-titulo-materia) .med-titulo-materia__descricao {
  margin: 0;
  font-size: var(--med-font-size-xxxs);
  font-weight: var(--med-font-weight-regular);
  line-height: var(--med-line-height-default);
  color: var(--color);
}

// ////////////////////
// slots
// ////////////////////

::slotted([slot="start"]) {
  margin-right: var(--med-spacing-inline-base);
}

::slotted([slot="end"]) {
  margin-left: var(--med-spacing-inline-base);
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --background: #{curr-color('color', '3')};
  --color: #{curr-color('color', '1', 'contrast')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --background: #{curr-color('neutral')};
  --color: #{curr-color('neutral', '1', 'contrast')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --background: #{curr-color('feedback')};
  --color: #{curr-color('feedback', '1', 'contrast')};
}
