@import "../../../../../templarios/abstracts";

:host {
  --spacing: var(--med-spacing-squish-xs);
  --background: #{color('neutral', '2')};
  --font-size: var(--med-font-size-xs);
  --font-weight: var(--med-font-weight-semibold);
  --line-height: var(--med-line-height-compressed);
  --color: #{color('neutral', '2', 'contrast')};

  padding: var(--spacing);
  background: var(--background);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: #{$med-color-neutral-dark-10};

  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --background: #{curr-color('neutral')};
  --color: #{curr-color('neutral', null, 'contrast')};
}

:host(.med-color-neutral) ::slotted(med-rate-like) {
  --color: #{curr-color('neutral', null, 'contrast')};
}
