@import "../../themes/ionic.globals";

// Toolbar
// --------------------------------------------------

:host {
  @include font-smoothing();

  box-sizing: border-box;
  position: relative;
  z-index: $z-index-toolbar;

  display: flex;
  overflow: hidden;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  color: #{current-color(contrast)};

  contain: content;

  --border-width: 0;
  --border-style: solid;
  --background: #{current-color(base)};
}

// Transparent Toolbar
// --------------------------------------------------

:host(.toolbar-translucent) {
  --border-color: transparent;
  --background: transparent;

  .toolbar-background {
    background: var(--translucent-background);

    backdrop-filter: var(--translucent-filter);
  }
}


.toolbar-background {
  @include position(0, 0, 0, 0);

  position: absolute;
  z-index: $z-index-toolbar-background;

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  background: var(--background);
  transform: translateZ(0);

  pointer-events: none;

  contain: strict;
}
