@import "./toolbar";
@import "./toolbar.ios.vars";

// iOS Toolbar
// --------------------------------------------------

:host(.toolbar-ios) {
  @include padding($toolbar-ios-padding);

  min-height: $toolbar-ios-height;

  font-family: $toolbar-ios-font-family;

  // default color / background
  --ion-toolbar-text-color: $toolbar-ios-text-color;
  --ion-toolbar-background: $toolbar-ios-background-color;

  --border-color: $toolbar-ios-border-color;
  --translucent-filter: $toolbar-ios-translucent-filter;
  --translucent-background: $toolbar-ios-translucent-background-color;
}

// iOS Toolbar Content
// --------------------------------------------------

.toolbar-content {
  flex: 1;
  order: map-get($toolbar-order-ios, content);

  min-width: 0;
}

::slotted(ion-title) {
  @include position(0, null, null, 0);
  @include padding(0, 90px, 1px);
  @include text-align($toolbar-ios-title-text-align);

  box-sizing: border-box;
  position: absolute;

  width: 100%;
  height: 100%;

  transform: translateZ(0);

  pointer-events: none;

  font-size: $toolbar-ios-title-font-size;
  font-weight: $toolbar-ios-title-font-weight;
  letter-spacing: -.03em;
}
