@import "./toolbar";
@import "./toolbar.md.vars";

// Material Design Toolbar
// --------------------------------------------------

:host {
  --background: #{$toolbar-md-background-color};
  --color: #{$toolbar-md-text-color};
  --border-color: #{$toolbar-md-border-color};
  --padding-top: #{$toolbar-md-padding};
  --padding-bottom: #{$toolbar-md-padding};
  --padding-start: #{$toolbar-md-padding};
  --padding-end: #{$toolbar-md-padding};
  --min-height: #{$toolbar-md-height};
}


// Material Design Toolbar Content
// --------------------------------------------------

.toolbar-content {
  flex: 1;
  order: map-get($toolbar-order-md, content);

  min-width: 0;
  max-width: 100%;
}
