@import "../../themes/ionic.globals";

// Toolbar
// --------------------------------------------------

ion-toolbar {
  @include font-smoothing();

  box-sizing: border-box;
  position: relative;
  z-index: $z-index-toolbar;

  display: flex;
  overflow: hidden;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  contain: content;
}

ion-toolbar ion-title {
  box-sizing: border-box;
}

.toolbar-background {
  @include position(0, 0, 0, 0);

  position: absolute;
  z-index: $z-index-toolbar-background;

  border: 0;
  transform: translateZ(0);

  pointer-events: none;

  contain: strict;
}

// Transparent Toolbar
// --------------------------------------------------

.toolbar[transparent] .toolbar-background {
  border-color: transparent;
  background: transparent;
}
