@import "../../themes/ionic.globals.ios";

// iOS Toolbar
// --------------------------------------------------

/// @prop - Order of the toolbar elements
$toolbar-order-ios: (
  back-button: 0,
  menu-toggle-start: 1,
  slot-start: 2,
  slot-secondary: 3,
  content: 4,
  slot-primary: 5,
  slot-end: 6,
  menu-toggle-end: 7,
  title-large: 8,
);

/// @prop - Minimum height of the toolbar
$toolbar-ios-min-height:                            44px !default;

/// @prop - Padding top of the toolbar
$toolbar-ios-padding-top:                           3px !default;

/// @prop - Padding end of the toolbar
$toolbar-ios-padding-end:                           4px !default;

/// @prop - Padding bottom of the toolbar
$toolbar-ios-padding-bottom:                        $toolbar-ios-padding-top !default;

/// @prop - Padding start of the toolbar
$toolbar-ios-padding-start:                         $toolbar-ios-padding-end !default;

/// @prop - Font size of the toolbar button
$toolbar-ios-button-font-size:                      17px !default;

/// @prop - Border radius of the toolbar button
$toolbar-ios-button-border-radius:                  4px !default;