@import "./toolbar";
@import "./toolbar.ios.vars";

// iOS Toolbar
// --------------------------------------------------

.toolbar-ios {
  @include padding($toolbar-ios-padding);

  min-height: $toolbar-ios-height;

  font-family: $toolbar-ios-font-family;

  @media screen and (orientation: landscape) {
    @include safe-area-padding-horizontal($toolbar-ios-padding);
  }
}

.header-ios {
  min-height: $toolbar-ios-height;
}


// iOS Toolbar Background
// --------------------------------------------------

.toolbar-background-ios {
  background: $toolbar-ios-background-color;
}


// iOS Header / Footer Borders
// --------------------------------------------------

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
  border-style: solid;
  border-color: $toolbar-ios-border-color;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border-width: 0 0 $hairlines-width;
}

.footer-ios .toolbar-ios:first-child .toolbar-background-ios {
  border-width: $hairlines-width 0 0;
}

.header-ios[no-border] .toolbar-ios:last-child .toolbar-background-ios {
  border-bottom-width: 0;
}

.footer-ios[no-border] .toolbar-ios:first-child .toolbar-background-ios {
  border-top-width: 0;
}


// iOS Translucent Toolbar
// --------------------------------------------------

.header-translucent-ios .toolbar-background-ios,
.footer-translucent-ios .toolbar-background-ios,
.toolbar-translucent-ios .toolbar-background-ios {
  background: $toolbar-ios-translucent-background-color;
}

.toolbar-translucent-ios .toolbar-background-ios {
  backdrop-filter: $toolbar-ios-translucent-filter;
}


// iOS Toolbar Content
// --------------------------------------------------

.toolbar-content-ios {
  flex: 1;
  order: map-get($toolbar-order-ios, content);

  min-width: 0;
}

@mixin ios-toolbar-theme($color-name) {
  $color-base: ion-color($colors-ios, $color-name, base, ios);
  $color-contrast: ion-color($colors-ios, $color-name, contrast, ios);
  $color-translucent: $toolbar-ios-translucent-background-color;

  .toolbar-ios-#{$color-name} {
    .toolbar-background-ios {
      background: $color-base;
    }
  }

  // Colored toolbars with translucency
  .header-translucent-ios .toolbar-ios-#{$color-name},
  .footer-translucent-ios .toolbar-ios-#{$color-name},
  .toolbar-translucent-ios-#{$color-name} {

    .toolbar-background-ios {
      background: $color-translucent;
    }
  }
}

@each $color-name, $color-value in $colors-ios {
  @include ios-toolbar-theme($color-name);
}
