@import "./toolbar";
@import "./toolbar.md.vars";

// Material Design Toolbar
// --------------------------------------------------

.toolbar-md {
  @include padding($toolbar-md-padding);

  min-height: #{$toolbar-md-height};

  font-family: #{$toolbar-md-font-family};

  // default color / background
  --ion-color-base: var(--ion-toolbar-background, #{$toolbar-md-background-color});
  --ion-color-contrast: var(--ion-toolbar-text-color, #{$toolbar-md-text-color});

  --border-color: #{$toolbar-md-border-color};
}


// Material Design Toolbar Content
// --------------------------------------------------

.toolbar-md > .toolbar-content {
  flex: 1;
  order: map-get($toolbar-order-md, content);

  min-width: 0;
  max-width: 100%;
}

.toolbar-md ion-title {
  @include padding(0, 12px);

  font-size: $toolbar-md-title-font-size;
  font-weight: 500;
}
