@import "../../themes/ionic.globals";
@import "../../themes/ionic.theme.default";

// Card Subtitle
// --------------------------------------------------

ion-card-subtitle {
  position: relative;
  display: block;

  color: $color-base;

  --ion-color-base: currentColor;
}
