
// Android Toolbar
// --------------------------------------------------

$tab-bar-android-min-height:                40px !default;
$tab-bar-android-item-padding:              4px 10px !default;
$tab-bar-android-active-border-width:       3px !default;
$tab-bar-android-active-border-color:       red !default;
$tab-bar-android-text-transform:            uppercase !default;
$tab-bar-android-text-font-weight:          500 !default;


.tabs-android {

  .tab-bar-container {
    min-height: $tab-bar-android-min-height;
  }

  .tab-bar-item {
    padding: $tab-bar-item-padding;
    text-transform: $tab-bar-android-text-transform;
    font-weight: $tab-bar-android-text-font-weight;
  }

  .tab-bar .tab-bar-item {
    border-bottom: $tab-bar-android-active-border-width solid transparent;
  }

  .tab-bar .tab-active {
    border-bottom-color: $tab-bar-android-active-border-color;
  }

}
